# Declare an int value and store it in a variable.
- Check the type and print the id of the same.

In [1]:
# Declaring an int variable 
var = 10

# printing the type of the variable 
print(type(var))

# printing the id of the variable 
print(id(var))

<class 'int'>
140260131609168

# Take one int value between 0 - 256.
- Assign it to two different variables.
- Check the id of both the variables. It should come the same. Check why?

In [2]:
var1 = 10
var2 = 10

In [3]:
# printing the id of the variable 
print(id(var1))

# printing the id of the variable 
print(id(var2))


# output -> Id would be same.

# Reason -> Samll interger with in the range of -5 to 256. Would use the same Id

140260131609168
140260131609168

# Take one int value either less than -5 or greater than 256.
- Assign it to two different variables.
- Check the id of both the variables. It should come different.Check why?

In [4]:
var1 = 1000
var2 = 1000

In [6]:
# printing the id of the variable 
print(id(var1))

# printing the id of the variable 
print(id(var2))


# output -> Id would be different.

# Reason -> Since above intergers are not in the range of -5 to 256. Would use the different Id

140260285881136
140260285880976

# Arithmetic Operations on integers Take two different integer values. Store them in two different variables. Do below operations on them:-
 - Find sum of both numbers
 - Find difference between them
 - Find the product of both numbers.
 - Find value after dividing first num with second number.
 - Find the remainder after dividing first number with second number.
 - Find the quotient after dividing first number with second number .
 - Find the result of the first num to the power of the second number.

In [7]:
var1 = 20
var2 = 10

In [3]:
# Find sum of both the numbers
print(var1 + var2)

# 30

30

In [8]:
# Find difference between them
print(var1 - var2)

# 10

10

In [9]:
#Find the product of both numbers
print(var1 * var2)

# 200

200

In [10]:
# Find value after dividing first num with second number.
print(var1/var2)

# 2.0

2.0

In [11]:
#Find the remainder after dividing first number with second number.
print(var1%var2)

# 0

0

In [12]:
#Find the quotient after dividing first number with second number .

print(var1/var2)

# 2.0

2.0

In [13]:
# Find the result of the first num to the power of the second number.
print(var1 ** var2)

# 8

10240000000000

# Comparison Operators on integers Take two different integer values. Store them in two different variables. Do below operations on them:-
   - Compare se two numbers with below operator:-
       - Greater than, '>'
       - Smaller than, '<'
       - Greater than or equal to, '>='
       - Less than or equal to, '<='
   - Observe their output(return type should be boolean)

In [14]:
var1 = 20
var2 = 10

In [15]:
print(var1 > var2) # True

True

In [16]:
print(var1 < var2) # False

False

In [17]:
print(var1 >= var2) # True

True

In [18]:
print(var1 <= var2) # False

False

# Equality Operator
- Take two different integer values.
    - Store them in two different variables.
    - Equate them using equality operators (==, !=) 
- Observe the output(return type should be boolean)

In [19]:
var1 = 20
var2 = 10

In [20]:
print(var1 == var2) # False

False

In [21]:
print(var1 != var2) # True

True

# Logical operators
- Observe the output of below code
- Cross check the output manually

- AND OPERATOR
    - Returns True if both operands are True else False
    - 0 is interpreted as False and non zero numbers as True
- Print statement will print the 
    - 0 if any of the operand is zero
    - if both of operands arew non zero then second operand

In [22]:
print(10 and 20) 

#output -> 20

20

In [23]:
print(0 and 20)

# output -> 0

0

In [24]:
print(20 and 0)

# output -> 0

0

In [25]:
print(0 and 0)

# output -> 0

0

- OR OPERATOR
    - Returns True if atleast one of the operand is True
    - Returns False if both of the operands are False
    - 0 is interpreted as False and non zero numbers as True
- Print statement will print the 
    - First operand if its non zero
    - Else second operand if first operand is zero

In [26]:
print(10 or 20)

#output -> 10

10

In [27]:
print(0 or 20)

# output -> 20

20

In [28]:
print(20 or 0)

# output -> 20

20

In [29]:
print(0 or 0)

# output -> 0

0

- NOT OPERATOR
    - Returns True if operand is False
    - Returns False if operand is True

In [30]:
print(not 10)

# output -> False

False

In [31]:
print(not 0)

# output -> True

True

# Bitwise Operators
- Do below operations on the values provided below:-
    - Bitwise & truth table
        - 0 & 0 -> 0
        - 0 & 1 -> 0
        - 1 & 0 -> 0
        - 1 & 1 -> 1
    - Bitwise | truth table 
        - 0 & 0 -> 0
        - 0 & 1 -> 1
        - 1 & 0 -> 1
        - 1 & 1 -> 1
    - Bitwise ^ truth table
        - 0 & 0 -> 0
        - 0 & 1 -> 1
        - 1 & 0 -> 1
        - 1 & 1 -> 0

In [32]:
print( 10 & 20 )

# 10        -> 0000 1010
# 20        -> 0001 0100
# 10 & 20   -> 0000 0000
# decimal of (0000 0000) is 0

# output -> 0

0

In [33]:
print(10 | 20)

# 10        -> 0000 1010
# 20        -> 0001 0100
# 10 | 20   -> 0001 1110
# decimal of (0001 1110) is 30

# output -> 30

30

In [34]:
print(10 ^ 20)

# 10        -> 0000 1010
# 20        -> 0001 0100
# 10 | 20   -> 0001 1110
# decimal of (0001 1110) is 30

30

In [35]:
print(~10)

# The inverted bits are a complement to one, which turns zeros into ones and ones into zeros.
# It can be expressed arithmetically as the subtraction of individual bit values from one

# output -> -11

-11

In [36]:
print(10 << 2)

# 10        -> 0000 1010
# 10 << 2   -> 0010 1000
# Decimal value of 0010 1000 is 40

# output -> 40

40

In [37]:
print(10 >> 2)

# 10        -> 0000 1010
# 10 >> 2   -> 0000 0010
# Decimal value of 0000 0010 is 2

# output -> 2

2

# What is the output of expression inside print statement. Cross check before running the program.

In [38]:
a = 10
b = 10

# NOTE : ids of 'a' and 'b' are same because both are with in the range of -5 to 256.

print(a is b)
# output -> True

print(a is not b)
# output -> False

True
False

In [39]:
a = 1000
b = 1000

# NOTE : ids of 'a' and 'b' are different because both are not with in the range of -5 to 256.

print(a is b)
# output -> False

print(a is not b)
# output -> True

False
True

# What is the output of expression inside print statement. Cross check before running the program.

In [40]:
print(10+(10*32)//2**5&20+(~(-10))<<2)

# output -> 20

# 2**5&20+(~(-10))<<2 will be evaluated to 32
# 10 + (10*32)//32
# 10 + (320)//32
# 10 + 10
# 20

20

# Membership operation
- in, not in are two membership operators and it returns boolean value

In [41]:
print('2' in 'Python2.7.8') 
# output -> True
# Reason -> 2 is present in the string 'Python2.7.8'


print(10 in [10,10.20,10+20j,'Python'])
# output -> True
# Reason -> 10 is present in the array [10,10.20,10+20j,'Python']

print(10 in (10,10.20,10+20j,'Python'))
# output -> True
# Reason -> 10 is present in the tuple (10,10.20,10+20j,'Python')

print(2 in {1,2,3})
# output -> True
# Reason -> 2 is present in the set {1,2,3}

print(3 in {1:100, 2:200, 3:300})
# output -> True
# Reason -> 3 is present in the Dictionary {1:100, 2:200, 3:300}

print(10 in range(20))
# output -> True
# Reason -> 10 is present in the range between 0 to 20

True
True
True
True
True
True

# An integer can be represented in binary, octal or hexadecimal form. 
- Declare one binary, one octal and one hexadecimal value and store them in three different variables.
- Convert 9876 to its binary, octal and hexadecimal equivalent and print their corresponding value.

In [42]:
a = 0b1010000 # Binary
b = 0o7436 # Octal
c = 0xfade #Hexa decimal

In [43]:
print(bin(9876)) # Binary of 9876 -> 0b10011010010100

print(oct(9876)) # Octal of 9876 -> 0o23224

print(hex(9876)) # Hexa decimal 9876 -> 0x2694

0b10011010010100
0o23224
0x2694

# What will be the output of following:-

In [44]:
a = 0b1010000
print(a) # prints 80

b = 0o7436 
print(b) # prints 3870

c = 0xfade 
print(c) # prints 64222

80
3870
64222

In [90]:
print(bin(80)) # 0b1010000

print(oct(3870)) # 0o7436

print(hex(64222)) # 0xfade

print(bin(0b1010000)) # 0b1010000

print(bin(0xfade)) # 0b1111101011011110

print(oct(0xfade)) # 0o175336

print(oct(0o7436)) # 0o7436

print(hex(0b1010000)) # 0x50

print(hex(0xfade)) # 0xfade

0b1010000
0o7436
0xfade
0b1010000
0b1111101011011110
0o175336
0o7436
0x50
0xfade