# Declare a float value and store it in a variable. Check the type and print the id of the same.

In [2]:
var = 10.20 # Variable Declaration

print(type(var)) # Printing the type

print(id(var)) # Printing the id of the varible

<class 'float'>
140254650837264

# Arithmetic Operations on float. Take two different float values. Store them in two different variables. Do below operations on them:-
 - Find sum of both numbers
 - Find difference between them
 - Find the product of both numbers.
 - Find value after dividing first num with second number.
 - Find the remainder after dividing first number with second number.
 - Find the quotient after dividing first number with second number .
 - Find the result of the first num to the power of the second number.

In [8]:
var1 = 20.20
var2 = 10.10

In [9]:
# Find sum of both the numbers
print(var1 + var2)

30.299999999999997

In [10]:
# Find difference between them
print(var1 - var2)

10.1

In [11]:
#Find the product of both numbers
print(var1 * var2)

204.01999999999998

In [12]:
# Find value after dividing first num with second number.
print(var1/var2)

2.0

In [13]:
#Find the remainder after dividing first number with second number.
print(var1%var2)

0.0

In [14]:
#Find the quotient after dividing first number with second number .

print(var1/var2)

2.0

In [15]:
# Find the result of the first num to the power of the second number.
print(var1 ** var2)

15277378250983.594

# Comparison Operators on Float. Take two different float values. Store them in two different variables. Do below operations on them:-
   - Compare se two numbers with below operator:-
       - Greater than, '>'
       - Smaller than, '<'
       - Greater than or equal to, '>='
       - Less than or equal to, '<='
   - Observe their output(return type should be boolean)

In [16]:
var1 = 20.20
var2 = 10.10

In [17]:
print(var1 > var2) # True

True

In [18]:
print(var1 < var2) # False

False

In [19]:
print(var1 >= var2) # True

True

In [20]:
print(var1 <= var2) # False

False

# Equality Operator
- Take two different float values.
    - Store them in two different variables.
    - Equate them using equality operators (==, !=) 
- Observe the output(return type should be boolean)

In [21]:
var1 = 20.20
var2 = 10.10

In [22]:
print(var1 == var2) # False

False

In [23]:
print(var1 != var2) # True

True

# Logical operators
- Observe the output of below code
- Cross check the output manually

- AND OPERATOR
    - Returns True if both operands are True else False
    - 0.0 is interpreted as False and non zero numbers as True
- Print statement will print the 
    - 0.0 if any of the operand is zero
    - if both of operands arew non zero then second operand

In [25]:
print(10.20 and 20.30) # prints 20.3

20.3

In [26]:
print(0.0 and 20.30) # prints 0.0

0.0

In [27]:
print(20.30 and 0.0) # prints 0.0

0.0

In [29]:
print(0.0 and 0.0) # prints 0.0

0.0

- OR OPERATOR
    - Returns True if atleast one of the operand is True
    - Returns False if both of the operands are False
    - 0.0 is interpreted as False and non zero numbers as True
- Print statement will print the 
    - First operand if its non zero
    - Else second operand if first operand is zero

In [31]:
print(10.20 or 20.30) # prints 10.2

10.2

In [33]:
print(0.0 or 20.30) # prints 20.3

20.3

In [35]:
print(20.30 or 0.0) # prints 20.3

20.3

In [37]:
print(0.0 or 0.0) # prints 0.0

0.0

- NOT OPERATOR
    - Returns True if operand is False
    - Returns False if operand is True

In [39]:
print(not 10.20) # prints False

False

In [41]:
print(not 0.0) # prints True

True

# What is the output of expression inside print statement. Cross check before running the program.

In [42]:
a = 10.20
b = 10.20

In [47]:
print(id(a))
print(id(b))

# Reason -> Since datatype is float. It will allocate a new memory.
# The ids of variable a and b would be different because they have different memory addresses

140254651245232
140254651245360

In [43]:
print(a is b) # It will print False as they have different memory address

False

In [46]:
print(a is not b)# It will print True as they have different memory address

True

In [48]:
a = 10.5
b = 10.5
c = b

In [50]:
print(id(a))
print(id(b))

# Id of a and b would be different because we are directly assigning float values to them.

print(id(c))

# Id of c and b would be same because we are not directly assigning float values to variable c rather 
# we are assinging varible b to c. So varible c will refer to the same memory location as b.

140254651246160
140254651246288
140254651246288

# Membership operation
- in, not in are two membership operators and it returns boolean value

In [53]:
print('2.7' in 'Python2.7.8') 
# output -> True
# Reason -> 2 is present in the string 'Python2.7.8'


print(10.20 in [10,10.20,10+20j,'Python'])
# output -> True
# Reason -> 10 is present in the array [10,10.20,10+20j,'Python']

print(10.20 in (10,10.20,10+20j,'Python'))
# output -> True
# Reason -> 10 is present in the tuple (10,10.20,10+20j,'Python')

print(20.30 in {1,20.30 ,30 + 40j})
# output -> True
# Reason -> 2 is present in the set {1,20.30 ,30 + 40j}

print(2.3 in {1:100, 2.3:200, 30+40j:300})
# output -> True
# Reason -> 3 is present in the Dictionary {1:100, 2.3:200, 30+40j:300}

print(10 in range(20))
# output -> True
# Reason -> 10 is present in the range between 0 to 20

True
True
True
True
True
True