In [ ]:
# basic calculator


1 - enter the first number
2 - enter the second number
3 - + , -, * , /
4 - // --> invalid operator

In [4]:
a = eval(input('Enter the first num : '))
b = eval(input('Enter the second num : '))
c = input('Enter the operation you want to perform : ')



if (c == 'add') or (c== '+'):
    print(a+b)
elif (c == 'sub') or (c == '-'):
    print(a-b)
elif (c == 'mul') or (c == '*'):
    print(a * b)
elif (c == 'div') or (c == '/'):
    print(a / b)
else:
    print('invalid operator')

Enter the first num : 10
Enter the second num : 20
Enter the operation you want to perform : +
30

# Loops

In [ ]:
# for loop
for fixed iterations we use for loop

syntax 

for var in iterable:
    stat1
    stat2
    stat3

In [6]:
a = [1,2,3,4,5,6,6,78,8,9,0]


len(a)

11

In [7]:
for i in a:
    print(i)

1
2
3
4
5
6
6
78
8
9
0

# While loop

In [8]:
- If we do not know the iteration



syntax - 
1. initilization
2. condition checking
3. inc / dec

SyntaxError: invalid syntax (3509098324.py, line 1)

In [ ]:
var = 0 # initialization

while var < 5: # condition checking
    print('statment')
    var += 1 # inc

In [10]:
x = 0


#x = x + 1
x +=5


print(x)

5

In [ ]:
#

In [19]:
a = 'python'

# p
# yy
# ttt
# hhhh
# ooooo
# hhhhhh


print(a[0]*1)
print(a[1]*2)
print(a[2]*3)
print(a[3]*4)
print(a[4]*5)
print(a[5]*6)

print('------------------')
# for loop
for i in range(len(a)):
    print(a[i] * (i+1))

    
print('------------------')
# while loop
i = 0
while i < len(a):
    print(a[i] * (i+1))
    i+=1

p
yy
ttt
hhhh
ooooo
nnnnnn
------------------
p
yy
ttt
hhhh
ooooo
nnnnnn
------------------
p
yy
ttt
hhhh
ooooo
nnnnnn

In [20]:
a = 'python'

# print(a[0]*1)
# print(a[1]*2)
# print(a[2]*3)
# print(a[3]*4)
# print(a[4]*5)
# print(a[5]*6)
a[3]

'h'

In [ ]:
# break , continue , pass

# Break


- The break keyword is used to break out from the loop

In [22]:
for i in range(9):
    if i == 3:
        break
    print(i)

0
1
2

# Continue

- it is just used to end the current iteration

In [23]:
for i in range(9):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8

# Pass

In [27]:
lst = ['file1' , 'file2' , 'file3' , 'file4']


for i in lst:
    if i == 'file1':
        print('v1f1')
    if i == 'file2':
        print('v1f2')
    if i == 'file3':
        pass
    if i == 'file4':
        print('v1f4')
    if i == 'file3':
        print('v1f3')

v1f1
v1f2
v1f3
v1f4

In [44]:
lst = ['file1' , 'file2' , 'file3' , 'file4']


for i in lst:
    if i == 'file1':
        print('v1f1')
    if i == 'file2':
        print('v1f2')
    if i == 'file3':
        pass
        print('Hello world')
    if i == 'file4':
        print('v1f4')
    if i == 'file3':
        print('v1f3')

v1f1
v1f2
Hello world
v1f3
v1f4

In [29]:
lst = ['file1' , 'file2' , 'file3' , 'file4']


for i in lst:
    if i == 'file1':
        print('v1f1')
    if i == 'file2':
        print('v1f2')
    if i == 'file3':
        break
    if i == 'file4':
        print('v1f4')
    if i == 'file3':
        print('v1f3')

v1f1
v1f2

In [32]:
lst = ['file1' , 'file2' , 'file3' , 'file4']


for i in lst:
    if i == 'file1':
        print('v1f1')
    if i == 'file2':
        print('v1f2')
    if i == 'file3':
        pass
    if i == 'file4':
        print('v1f4')
        continue        
    if i == 'file1':
        print('v2f1')
    if i == 'file2':
        print('v2f2')
    if i == 'file3':
        print('v2f3')
    if i == 'file4':
        print('v2f4')
        
        
#file 1 ? v1
# file 2 ? v1 , v2
# file 3 ? v2
# file 4 ? null

v1f1

In [ ]:
for iter 1   i = 'file1'

v1f1


for iter 2   i = 'file2'
v1f2


for iter 3   i = 'file3'
v1f3

for iter 4   i = 'file4'
v1f4

In [40]:
def add(a,b):
    return a + b

In [36]:
def palindrom(a):
    if a == a[::-1]:
        print('yes')
    else:
        print('no')

In [41]:
add(10 , 20)

30

In [37]:
palindrom('level')

yes

In [ ]:
rotor   ----> rotor

In [42]:
pwd

'C:\\Users\\MIT\\Desktop\\ongoing classes\\9th oct'

In [ ]:
#

In [ ]:
None -

In [ ]:
pass

In [ ]:
    a     b     c
    
1   33    None    73
2   99    66    
3         00    22

In [49]:
a = 10


if a == 10:
    pass
    print('hello')
else:
    print('wrong')

hello

In [ ]:
a = 'python'


# nnnnnn
# ooooo
# hhhh
# ttt
# yy
# p

In [56]:
a = 'python'

print('------------------')
# for loop
for i in range(len(a) , 0 , -1):
    print(a[i-1] * i)

    
print('------------------')
# while loop
i = 6
while i >= 0:
    print(a[i-1] * i)
    i-=1

------------------
nnnnnn
ooooo
hhhh
ttt
yy
p
------------------
nnnnnn
ooooo
hhhh
ttt
yy
p

In [50]:
a = 'python'

print(a[5]*6)
print(a[4]*5)
print(a[3]*4)
print(a[2]*3)
print(a[1]*2)
print(a[0]*1)

nnnnnn
ooooo
hhhh
ttt
yy
p

In [58]:
subjects = ['pers1' , 'pers2' , 'pers3' , 'pers4' , 'pers5']

# phy --- clear or no
# chem --- fail
# mat -- clear


for i in subjects:
    if i == 'pers1':
        continue
        print('pers1 selected')
    if i == 'pers2':
        continue
        print('pers2 selected')
    if i == 'pers3':
        print('pers3 selected')
        break
    if i == 'pers4':
        print('pers4 selected')
    if i == 'pers5':
        print('pers5 selected')

pers3 selected

In [61]:
subjects = {'pers1': 'java' , 'pers2': 'python' , 'pers3':'python' , 'pers4': 'c++', 'pers5': 'python'}

# phy --- clear or no
# chem --- fail
# mat -- clear


for i in subjects:
    if i == 'pers2':
        continue
    if subjects[i] == 'python':
        print(f'{i} got selected')

pers3 got selected
pers5 got selected

In [69]:
subjects = {'pers1': 'java' , 'pers2': 'python' , 'pers3':'python' , 'pers4': 'c++', 'pers5': 'python' , 'pers2' : 'ML'}

for i in subjects:
    if subjects[i] == 'python':
#         if i == 'pers2':
#             pass
        print(f'{i} got selected {subjects[i]}')
    if subjects[i] == 'ML':
        print(f'{i} got selected {subjects[i]}')

pers2 got selected ML
pers3 got selected python
pers5 got selected python

In [ ]:
subjects = {'pers1': 'java' , 'pers2': 'python' , 'pers3':'python' , 'pers4': 'c++', 'pers5': 'python' , 'pers2' : 'ML'}

for i in subjects:
    if subjects[i] == 'python':
        if i == 'pers2':
            pass
        print(f'{i} got selected')
    if subjects[i] == 'ML':
        print(f'{i} got selected')

# Functions

In [71]:
# task 1

str_1 = 'xyz'

if str_1 == str_1[::-1]:
    print('palindrom')
else:
    print('no')

# tasks 2

a = 10
b = 20

print(a +b)

# tasks 3

str_1 = 'abc'

if str_1 == str_1[::-1]:
    print('palindrom')
else:
    print('no')

no
30
no

In [ ]:
# Best practices
- Code should be written in a manner where it is understable
- it should be written in as many minmum lines as possible

In [ ]:
# function - DRY (do not repeat yourself)


1. function defination - where we define our function
2. function call


# syntax 
1. function defination
                 - def function_name(parameters):
                        stat1
                        stat2
                        return stat3
                
2. function call
            function_name(arguments):
        
        
# Things which are optional
- parameters 
- return


### please note: If you have given parameters then while function call arguments become complusary

In [72]:
# function defination

def add():
    print(10 + 20)

In [73]:
# function call
add()

30

In [74]:
def add(a):
    print(a + 20)

In [76]:
add(30)

50

In [77]:
def add(a,b):
    print(a + b)

In [79]:
add(60 , 90)

150

In [81]:
def palindrom(a):
    if a == a[::-1]:
        print('yes')
    else:
        print('no')

In [82]:
palindrom('python')

no

In [85]:
# task 1

str_1 = 'xyz'

def palindrom(a):
    if a == a[::-1]:
        print('yes')
    else:
        print('no')
palindrom(str_1)
# tasks 2

a = 10
b = 20

print(a +b)

# tasks 3

str_1 = 'level'

palindrom(str_1)

no
30
yes

In [86]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [87]:
a  ='str'

a.capitalize()

In [88]:
str_1 = 'xyz'

def palindrom(a):
    '''this is a function to know if a string is a palindrom 
    or no'''
    if a == a[::-1]:
        print('yes')
    else:
        print('no')

In [89]:
palindrom(str_1)

no

# Types of arguments

3 types of arguments
1. positional arguments
2. default arguments
3. keyword arguments

In [ ]:
# 1. Positional args
 - The order is important
 - the number args should match with no of parameters

In [92]:
# - The order is important

def emp_info(emp_name , emp_sal , emp_age):
    print('the name of the emp is ' , emp_name)
    print('the emp_sal of the emp is ' , emp_sal)
    print('the emp_age of the emp is ' , emp_age)
    
    
emp_info('xyz' , 34334 , 54)

the name of the emp is  xyz
the emp_sal of the emp is  34334
the emp_age of the emp is  54

In [94]:
# - The order is important

def emp_info(emp_name , emp_sal , emp_age):
    print('the name of the emp is ' , emp_name)
    print('the emp_sal of the emp is ' , emp_sal)
    print('the emp_age of the emp is ' , emp_age)
    
    
emp_info( 34334 , None , 'xyz')

the name of the emp is  34334
the emp_sal of the emp is  None
the emp_age of the emp is  xyz

In [95]:
# - the no of parm should match with the no of args

def emp_info(emp_name , emp_sal , emp_age):
    print('the name of the emp is ' , emp_name)
    print('the emp_sal of the emp is ' , emp_sal)
    print('the emp_age of the emp is ' , emp_age)
    
emp_info('xyz' , 34334 )

TypeError: emp_info() missing 1 required positional argument: 'emp_age'

# 2. Default args

In [96]:


def emp_info(emp_name , emp_sal , emp_age , emp_location = 'Goa'):
    print('the name of the emp is ' , emp_name)
    print('the emp_sal of the emp is ' , emp_sal)
    print('the emp_age of the emp is ' , emp_age)
    print('the emp_location of the emp is ' , emp_location)
    
    
emp_info('xyz' , 34334 , 54)

the name of the emp is  xyz
the emp_sal of the emp is  34334
the emp_age of the emp is  54
the emp_location of the emp is  Goa

In [97]:


def emp_info(emp_name , emp_sal , emp_age , emp_location = 'Goa'):
    print('the name of the emp is ' , emp_name)
    print('the emp_sal of the emp is ' , emp_sal)
    print('the emp_age of the emp is ' , emp_age)
    print('the emp_location of the emp is ' , emp_location)
    
    
emp_info('xyz' , 34334 , 54 , 'Pune')

the name of the emp is  xyz
the emp_sal of the emp is  34334
the emp_age of the emp is  54
the emp_location of the emp is  Pune

# Keyword args

In [102]:


def emp_info(emp_name , emp_sal , emp_age , emp_location = 'Goa'):
    print('the name of the emp is ' , emp_name)
    print('the emp_sal of the emp is ' , emp_sal)
    print('the emp_age of the emp is ' , emp_age)
    print('the emp_location of the emp is ' , emp_location)
    
    
emp_info(emp_name = 'xyz' , emp_sal = 34334 , emp_age = 54 , emp_location = 'Pune')

the name of the emp is  xyz
the emp_sal of the emp is  34334
the emp_age of the emp is  54
the emp_location of the emp is  Pune

In [103]:


def emp_info(emp_name , emp_sal , emp_age , emp_location = 'Goa'):
    print('the name of the emp is ' , emp_name)
    print('the emp_sal of the emp is ' , emp_sal)
    print('the emp_age of the emp is ' , emp_age)
    print('the emp_location of the emp is ' , emp_location)
    
    
emp_info(emp_sal = 34334 , emp_name = 'xyz'  , emp_age = 54 , emp_location = 'Pune')

the name of the emp is  xyz
the emp_sal of the emp is  34334
the emp_age of the emp is  54
the emp_location of the emp is  Pune

In [105]:


def emp_info(emp_name , emp_sal , emp_age , emp_location = 'Goa'):
    print('the name of the emp is ' , emp_name)
    print('the emp_sal of the emp is ' , emp_sal)
    print('the emp_age of the emp is ' , emp_age)
    print('the emp_location of the emp is ' , emp_location)
    
    
emp_info('xyz'  ,9216256, emp_age = 54 , emp_location = 'Pune')

the name of the emp is  xyz
the emp_sal of the emp is  9216256
the emp_age of the emp is  54
the emp_location of the emp is  Pune

In [115]:


def emp_info( emp_name , emp_sal , emp_age , emp_location = 'Goa' , emp_pin = 656565656):
    print('the name of the emp is ' , emp_name)
    print('the emp_sal of the emp is ' , emp_sal)
    print('the emp_age of the emp is ' , emp_age)
    print('the emp_location of the emp is ' , emp_location)
    print('the emp_pin of the emp is ' , emp_pin)
    
    
emp_info( 'xya'  , 30 ,emp_location = 'pune',emp_pin  = 565656 )

TypeError: emp_info() missing 1 required positional argument: 'emp_age'

In [ ]:
# write a function that prints


lst = [1,2,3,34,4,54,5,5,6,7,78,8]


def 


call 
even numbers list print
odd numbers list print

In [119]:
lst = [ 1,2,3,34,4,4,54,5,5,6,7,78,8]
even_lst = [] 
odd_lst = []

def even_odd(a):
    for I in a:
        if I%2 == 0:
            even_lst.append(I)
        else:
            odd_lst.append(I)
    print(even_lst)
    print(odd_lst)
    
even_odd(lst)

[2, 34, 4, 4, 54, 6, 78, 8]
[1, 3, 5, 5, 7]

In [120]:
def even_odd_check(list_1):
    even_list = []
    odd_list = []
    for i in list_1:
        if i % 2 == 0:
            even_list.append(i)
        else:
            odd_list.append(i)
    print(even_list)
    print(odd_list)
even_odd_check(lst)

[2, 34, 4, 4, 54, 6, 78, 8]
[1, 3, 5, 5, 7]

In [121]:
def even_odd(list1):
    print(f"even list is {list([i for i in list1 if i % 2 == 0])}")
    print(f"odd list is {list([i for i in list1 if i % 2 != 0])}")
    

list1 = list(range(1,20))
even_odd(list1)

even list is [2, 4, 6, 8, 10, 12, 14, 16, 18]
odd list is [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# sum

In [126]:
def add(a, b):
    print(a +b)

In [127]:
add(90 , 80 , 7 , 3 ,3 ,4 ,5 ,6 ,6 ,6,6 ,9)

170

# * args and **kwargs