In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
data = np.array([6,7,7,12,13,13,15,16,19,22])

In [4]:
np.mean(data)

13.0

In [5]:
np.std(data)

5.019960159204453

In [3]:
stats.zscore(data)

array([-1.39443338, -1.19522861, -1.19522861, -0.19920477,  0.        ,
        0.        ,  0.39840954,  0.5976143 ,  1.19522861,  1.79284291])

In [6]:
cardio = pd.read_csv("../datasets/Cardio_vascular.csv")

In [7]:
cardio.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [8]:
cardio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [10]:
# z-score is also use to scale or standardise data. 
# Normal distribution to standard normal distribution
# But we can use z-score to standardise data only when data is normally distributed

In [9]:
cardio.apply(stats.zscore)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,-0.268437,0.661504,-0.915755,-0.377636,-0.659332,-0.418878,0.891255,0.821321,-0.712287,-0.060888,0.995433,1.209221,1.089852,-1.026698
1,-0.158157,0.661504,-0.915755,0.479107,-0.833861,2.387330,-1.004049,0.255968,1.403928,1.727137,-2.243675,-0.731971,1.089852,-1.026698
2,1.716595,0.661504,-0.915755,0.764688,-1.396233,-0.418878,0.891255,-1.048692,1.403928,1.301417,-2.243675,-0.731971,1.089852,-1.026698
3,0.724079,0.661504,-0.915755,0.936037,-0.833861,-0.418878,0.891255,0.516900,-0.712287,-0.912329,0.995433,0.238625,1.089852,-1.026698
4,0.834359,-1.511706,-0.915755,0.364875,0.930822,2.387330,0.891255,-1.874977,-0.712287,0.705408,-0.624121,2.179817,-0.522122,-1.026698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,0.503520,0.661504,0.055931,0.479107,-0.484803,-0.418878,0.891255,0.647366,1.403928,-0.912329,0.995433,-0.731971,-0.522122,0.973997
1021,0.613800,0.661504,-0.915755,-0.377636,0.232705,-0.418878,-1.004049,-0.352873,1.403928,1.471705,-0.624121,0.238625,1.089852,-1.026698
1022,-0.819834,0.661504,-0.915755,-1.234378,0.562371,-0.418878,-1.004049,-1.353113,1.403928,-0.060888,-0.624121,0.238625,-0.522122,-1.026698
1023,-0.488996,-1.511706,-0.915755,-1.234378,0.155137,-0.418878,-1.004049,0.429923,-0.712287,-0.912329,0.995433,-0.731971,-0.522122,0.973997
1024,-0.047877,0.661504,-0.915755,-0.663216,-1.124743,-0.418878,0.891255,-1.570556,-0.712287,0.279688,-0.624121,0.238625,1.089852,-1.026698

# Confidence interval and Confidence Level

In [11]:
import scipy

In [12]:
stats.norm.interval(alpha=0.95, loc=np.mean(cardio['chol']),scale=stats.sem(cardio['chol']))

/var/folders/n8/hbs6yz1x4p7290wpzcp40ddw0000gn/T/ipykernel_47479/3297017213.py:1: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  stats.norm.interval(alpha=0.95, loc=np.mean(cardio['chol']),scale=stats.sem(cardio['chol']))

(242.8415586477306, 249.1584413522694)

In [13]:
stats.norm.interval(alpha=0.99, loc=np.mean(cardio['chol']),scale=stats.sem(cardio['chol']))

/var/folders/n8/hbs6yz1x4p7290wpzcp40ddw0000gn/T/ipykernel_47479/1715843571.py:1: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  stats.norm.interval(alpha=0.99, loc=np.mean(cardio['chol']),scale=stats.sem(cardio['chol']))

(241.8491044463629, 250.1508955536371)

In [14]:
stats.norm.interval(alpha=0.90, loc=np.mean(cardio['chol']),scale=stats.sem(cardio['chol']))

/var/folders/n8/hbs6yz1x4p7290wpzcp40ddw0000gn/T/ipykernel_47479/1470595023.py:1: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  stats.norm.interval(alpha=0.90, loc=np.mean(cardio['chol']),scale=stats.sem(cardio['chol']))

(243.34935246016116, 248.65064753983884)

In [15]:
# Here alpha represents the confidence level
# And the output represents the confidence interval
# If we observe as confidence level increases confidence interval also increases
# For 90% confidence level => confidence interval is (243.34935246016116, 248.65064753983884)
# For 95% confidence level => confidence interval is (242.8415586477306, 249.1584413522694)
# For 99% confidence level => confidence interval is (241.8491044463629, 250.1508955536371)