In [1]:
a = [1,2,3]
b = a

print(id(a))
print(id(b))

140456436927104
140456436927104

In [2]:
a = [1,2,3]
b = a

print(id(a))
print(id(b))

b[0] = 10
print(a)
print(b)

140456436930880
140456436930880
[10, 2, 3]
[10, 2, 3]

In [5]:
a = [1,2,3]
b = a.copy() #Shallow copy

print(id(a))
print(id(b))

b[0] = 500
print(a)
print(b)

140456449775936
140456449951744
[1, 2, 3]
[500, 2, 3]

In [6]:
a = [1,2,3, [4,5,5]]
b = a.copy() #Shallow copy

print(id(a[-1]))
print(id(b[-1]))

b[-1][-1] = 10
print(a)
print(b)

140456449949824
140456449949824
[1, 2, 3, [4, 5, 10]]
[1, 2, 3, [4, 5, 10]]

In [9]:
from copy import deepcopy

In [11]:
a = [1,2,3]
b = deepcopy(a) #Deep copy

print(id(a))
print(id(b))

b[0] = 500
print(a)
print(b)

140456450528896
140456450539456
[1, 2, 3]
[500, 2, 3]

In [18]:
a= ['abhishail@gmail.com' , 'abhijeet_xyz@hotmail.com' , 'Abhishek_123@yahoo.com' , 'aditi@gmail.com']
usernames = []
for i in a:
    if i.split('@')[1] == 'gmail.com':
        usernames.append(i.split('@')[0])
        #usernames += [i.split('@')[0]]
    
print(usernames)

['abhishail', 'aditi']

In [19]:
a = [1,2,3,34,4,5,6,7,8,8]
even_nums = []
for i in a:
   if i%2 == 0:
    even_nums.append(i)
    #even_nums += [i]

        
print(even_nums)

[2, 34, 4, 6, 8, 8]

In [20]:
#List comprehension

- Syntax -
[_expression_for_variable_in_iterable]
[_expression_for_variable_in_iterable_if_condition]

In [22]:
a= ['abhishail@gmail.com' , 'abhijeet_xyz@hotmail.com' , 'Abhishek_123@yahoo.com' , 'aditi@gmail.com']
b = [gmails.split('@')[0] for gmails in a]
print(b)

['abhishail', 'abhijeet_xyz', 'Abhishek_123', 'aditi']

In [24]:
a = [1,2,3,34,4,5,6,7,8,8]
b = [i for i in a if i%2 == 0]
print(b)

[2, 34, 4, 6, 8, 8]

In [25]:
a= ['abhishail@gmail.com' , 'abhijeet_xyz@hotmail.com' , 'Abhishek_123@yahoo.com' , 'aditi@gmail.com']
b = [gmails.split('@')[0] for gmails in a if gmails.split('@')[1] == 'gmail.com']
print(b)

['abhishail', 'aditi']

In [26]:
a = [1,2,3,4,5,6,7,8,9,10]
# take an user input 15


num = int(input('enter a number : '))

for var in a:
    print(f'{num} * {var} = {var*num}') # format string

enter a number : 15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [33]:
a = [1,2,3,4,5,6,7,8,9,10]
# take an user input 15


num = int(input('enter a number : '))
b = [f'{num} * {var} = {var*num}' for var in a]
print(b)

enter a number : 18
['18 * 1 = 18', '18 * 2 = 36', '18 * 3 = 54', '18 * 4 = 72', '18 * 5 = 90', '18 * 6 = 108', '18 * 7 = 126', '18 * 8 = 144', '18 * 9 = 162', '18 * 10 = 180']

In [28]:
a  = [1,2,3,4,5]
b = [i*2 for i in a]
print(b)

[2, 4, 6, 8, 10]

In [30]:
a  = [1,2,3,4,5]
b = [i*2 for i in a if i%2 == 0]
print(b)

[4, 8]

In [35]:
#Tuple

In [36]:
a = (1,2,3,4)
print(a, type(a))

(1, 2, 3, 4) <class 'tuple'>

In [37]:
# Creating a tuple
tup = ('a', 3, True, 3.4)
print(tup)

('a', 3, True, 3.4)

In [1]:
tup = eval(input("enter the numbers: "))
print(tup, type(tup))

enter the numbers: 1,2,3
(1, 2, 3) <class 'tuple'>

In [3]:
a = 1,2,3,4,5
print(a, type(a))

(1, 2, 3, 4, 5) <class 'tuple'>

In [ ]:
#Properties of tuple
- Seq data type
- +ive and -ive indexing both are supported
- It can hold any data type
- Allows duplication
- Basic operations are allowed. Concatenation, Identity, membership, repetation

Difference b/w List and Tuple
Tuple is immmutable

In [7]:
a = (1,2,3)
a[1] = 4
print(a[1])

TypeError: 'tuple' object does not support item assignment

In [8]:
# Indexing 
a = 1,2,3,4,5
print(a[-1])

5

In [9]:
#Slicing
a = 1,2,3,4,5
a[0:4]

(1, 2, 3, 4)

In [10]:
a = 1,2,3,4,5
a[-4:-1]

(2, 3, 4)

In [ ]:
#Concatenation

In [11]:
a = (1,2,3)
b = (5,6,7)
print(a + b)

(1, 2, 3, 5, 6, 7)

In [ ]:
# Repetation

In [12]:
a = (1,2,3,4)
b = 2
print(a*b)

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
#Identity
# is and is not

In [14]:
a = 1,2,3
b = 1,2,3

print(id(a))
print(id(b))

print(a is b)

140622469302848
140622467549440
False

In [ ]:
#Membership
# in and not in

In [15]:
a = 1,2,3
print(2 in a)

True

In [16]:
a = 1,2,3
print(5 in a)

False

In [17]:
#Methods of tuple
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [22]:
a = 1,2,3,4,5,6,5,4, 4
a.count(4)
a.index(4, 5)

7

In [25]:
# Tuple packing and unpacking
# Tuple packing : assigning multiple values to a single varibale
a = 2,32,4
print(a)

#Tuple unpacking 
a,b,c = 1,2,3
print(a)
print(b)
print(c)

(2, 32, 4)
1
2
3

In [26]:
a = 'python'
list(enumerate(a))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [27]:
a = 'python'
for i in list(enumerate(a)):
    print(i)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [29]:
a = 'python'
for i,j in list(enumerate(a)):
    print(i, type(i))
    print(j, type(j))

0 <class 'int'>
p <class 'str'>
1 <class 'int'>
y <class 'str'>
2 <class 'int'>
t <class 'str'>
3 <class 'int'>
h <class 'str'>
4 <class 'int'>
o <class 'str'>
5 <class 'int'>
n <class 'str'>

In [38]:
a = 'this is python, python is a programing language'
index = 0
for i in a:
    if i =='p':
     print(index)
    index += 1

8
16
28

In [42]:
a = 'this is python, python is a programing language'
index = 0
for i,j in enumerate(a):
    if j == 'p':
     print(i)

8
16
28

In [44]:
#Dictionary
emp_data = {'name': 'Aditya', 'age': 30}
print(emp_data['name'])

Aditya

In [50]:
#Zip
column1  = ['a', 'b', 'c', 'd']
column2 = [23, 22, 211, 45]

print(dict(list(zip(column1, column2))))

{'a': 23, 'b': 22, 'c': 211, 'd': 45}

In [2]:
def example(a):

     a = a + '2'

         a = a*2

        return a

example("hello")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)