In [1]:
emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}

In [5]:
print(emp_data.get('emp_2'))

{'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'}

In [4]:
print(emp_data.get('emp_5'))

None

In [6]:
print(emp_data.get('emp_5', 'Data not avialble'))

Data not avialble

In [11]:
new_emp_data = {'emp_5':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin 1'},
           'emp_6':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet 1'}}
print(emp_data.update(new_emp_data))
print(emp_data)

None
{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'}, 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}, 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}, 'emp_5': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin 1'}, 'emp_6': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet 1'}, 'emp7': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}}

In [10]:
print(emp_data.setdefault('emp7', {'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}))

{'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}

In [12]:
print(emp_data)

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'}, 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}, 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}, 'emp_5': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin 1'}, 'emp_6': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet 1'}, 'emp7': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}}

In [ ]:
- Age
- salary
- name



emp_5 - Age
- salary
- name


emp_6 - Age
- salary
- name

In [17]:
age = input('Enter the age : ')
salary = input('Enter the salary : ')
name = input('Enter the name : ')

key = f'emp_{len(emp_data) + 1}'
emp_data.setdefault(key, {'age': age, 'salary': salary, 'name' : name })
print(emp_data)

Enter the age : 10
Enter the salary : 100
Enter the name : adi
{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'}, 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}, 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}, 'emp_5': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin 1'}, 'emp_6': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet 1'}, 'emp7': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}, 'emp_8': {'age': '10', 'salary': '100', 'name': 'aditya'}, 'emp_9': {'age': '10', 'salary': '100', 'name': 'adi'}}

In [18]:
#Method to remove items from dictionary
# pop
# popitem
emp_data.popitem()

('emp_9', {'age': '10', 'salary': '100', 'name': 'adi'})

In [19]:
print(emp_data)

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'}, 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}, 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}, 'emp_5': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin 1'}, 'emp_6': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet 1'}, 'emp7': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}, 'emp_8': {'age': '10', 'salary': '100', 'name': 'aditya'}}

In [3]:
curr_emp_data = {'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_-98': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

ex_emp = {}
emp_id = int(input('Enter the emp id : '))
ex_emp.setdefault(f'emp_{emp_id}', curr_emp_data.pop(f'emp_{emp_id}'))
print(ex_emp)
print(curr_emp_data)

Enter the emp id : -98
{'emp_-98': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}
{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}, 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'}, 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}, 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}, 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'}}

In [4]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [7]:
curr_emp_data.keys()

dict_keys(['emp_1', 'emp_2', 'emp_3', 'emp_4', 'emp_5'])

In [8]:
curr_emp_data.values()

dict_values([{'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}, {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'}, {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}, {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}, {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'}])

In [9]:
curr_emp_data.items()

dict_items([('emp_1', {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}), ('emp_2', {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'}), ('emp_3', {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}), ('emp_4', {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}), ('emp_5', {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'})])

In [10]:
curr_emp_data = {'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_-98': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

for i in curr_emp_data.values():
    print(curr_emp_data[i]['Name'])

Salahuddin
Abhijeet
Abhishail
Abhishek
vgfgvg
gfd

In [11]:
#clear
curr_emp_data.clear()
print(curr_emp_data)

{}

In [12]:
curr_emp_data = {'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_-98': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}
del curr_emp_data
print(curr_emp_data) # deleted the variable as well

NameError: name 'curr_emp_data' is not defined

In [13]:
#copy
curr_emp_data = {'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_-98': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

b = curr_emp_data # Aliasing
print(id(curr_emp_data))
print(id(b))

140243495859584
140243495859584

In [14]:
#copy
curr_emp_data = {'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_-98': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

b = curr_emp_data.copy() # Shallow copy
print(id(curr_emp_data))
print(id(b))

140243496293568
140243496293696

In [15]:
# From Keys
d1 = dict.fromkeys([1,2,3,4,5,6,7,8,9])

In [18]:
print(d1)

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0}

In [17]:
d1 = dict.fromkeys([1,2,3,4,5,6,7,8,9], 0)

In [19]:
print(d1)

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0}

In [20]:
d1 = dict.fromkeys(range(100), 0)
print(d1)

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 0, 60: 0, 61: 0, 62: 0, 63: 0, 64: 0, 65: 0, 66: 0, 67: 0, 68: 0, 69: 0, 70: 0, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 0, 77: 0, 78: 0, 79: 0, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 0, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0, 97: 0, 98: 0, 99: 0}

In [22]:
list_of_students = ['a', 'b', 'c', 'd', 'e', 'f']
dict_students = dict.fromkeys(list_of_students, 5)
print(dict_students)

{'a': 5, 'b': 5, 'c': 5, 'd': 5, 'e': 5, 'f': 5}

In [23]:
# Range
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [28]:
list(range(-1,-10,-1))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

In [30]:
#Set
a = {1,2,3,4,5}
print(a, type(a))

{1, 2, 3, 4, 5} <class 'set'>

In [33]:
a.add(6)
print(a)

{1, 2, 3, 4, 5, 6}

In [ ]:
# deriveved 
int ->
float - >
complex
bool


# immutable 
- string
- tuple


# mutable
- list
- dict
- set

In [ ]:
#Conditional Stetments