In [1]:
ord('A')

65

In [2]:
bin(65)

'0b1000001'

In [6]:
chr(0b1000001)

'A'

In [10]:
float = 10

In [11]:
float

10

In [12]:
# Anything writtern between [] is a List 
a = [1,2,3 , 3.4, [1,2], 'aditya']

print(a, type(a))

[1, 2, 3, 3.4, [1, 2], 'aditya'] <class 'list'>

In [16]:
# Anything written between () is a tuple 
a = (1,2,3 , 3.4, [1,2], 'aditya')

print(a, type(a))

(1, 2, 3, 3.4, [1, 2], 'aditya') <class 'tuple'>

In [17]:
# Difference : List is mutable while Tuple is not mutable.

In [20]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [21]:
# Set : Set is a collection of unique values

In [22]:
s = {'a', 'b'}
print(s, type(s))

{'b', 'a'} <class 'set'>

In [23]:
s = {'a', 'b', 1}
print(s, type(s))

{1, 'b', 'a'} <class 'set'>

In [24]:
s = {'a', 'b', 'a'}
print(s, type(s))

{'b', 'a'} <class 'set'>

In [33]:
a = int(input('Enter number : '))
b = a + 20
print(b)

30

In [38]:
fname = input("first name :")
lname = input("last name: ")

print("My first name is " + fname + " " + " and last name is " + lname)
print("My first name is {} and last name is {}".format(fname, lname))
print(f"My first name is {fname} and last name is {lname}")

My first name is adtya  and last name is srivastava
My first name is adtya and last name is srivastava
My first name is adtya and last name is srivastava

In [39]:
a = 10
b = 20
print(a, b)

10 20

In [40]:
a = 10
b = 20
print(a, b, sep="********")

10********20

In [41]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
def find_subarray_with_sum(arr, target_sum):
    current_sum = arr[0]
    start = 0

    for end in range(1, len(arr)):
        while current_sum > target_sum and start < end - 1:
            current_sum -= arr[start]
            start += 1
        
        if current_sum == target_sum:
            return arr[start:end]
        
        current_sum += arr[end]
    
    if current_sum == target_sum:
        return arr[start:]
    
    return None

# Example usage
arr = [1, 4, 0, 0, 3, 10, 5]
sum_to_find = 7
result = find_subarray_with_sum(arr, sum_to_find)

if result:
    print("Subarray with the given sum:", result)
else:
    print("No subarray found with the given sum.")

Subarray with the given sum: [4, 0, 0, 3]

In [7]:
a = 'aditya'
b = a.replace('a', 'A')
print(a)
print(b)

aditya
AdityA

In [8]:
10 >> 2

2

In [9]:
10 << 2

40

In [10]:
10 >> 5

0

In [11]:
bin(10)

'0b1010'

In [12]:
10 >> 1

5

In [13]:
10 << 1

20

In [18]:
str = 'aditya aditya'
print(str.rfind('aditya'))
print(str.find('aditya'))

7
0

In [19]:
str =  'aditya srivastava'
print(str.partition(' '))

('aditya', ' ', 'srivastava')

In [20]:
str.split(' ')

['aditya', 'srivastava']

In [24]:
lst = [1,2,3,4,5]
lst.append(10)
lst

[1, 2, 3, 4, 5, 10]

In [25]:
lst.append([6,7,8])
lst

[1, 2, 3, 4, 5, 10, [6, 7, 8]]

In [27]:
a = [1,2,3]
b = [4,5,6]

print(a + b)
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [28]:
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [30]:
a = [1,2,3,4]
a.insert(1, 6)
a

[1, 6, 2, 3, 4]

In [31]:
a = ['a', 'b', 'c', 'd']
a.pop()

'd'

In [32]:
a

['a', 'b', 'c']

In [34]:
print(a.pop(1))
print(a)

c
['a']

In [4]:
a = ['a', 'b', 'c', 'd']
print(a.remove('c'))
print(a)

None
['a', 'b', 'd']

In [5]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [6]:
a = ['a', 'b', 'c', 'd']
a.index('c')

2

In [9]:
a = ['a', 'b', 'c', 'd']
print(a.reverse())
print(a)

None
['d', 'c', 'b', 'a']

In [15]:
a = ['a', 'b', 'c', 'd']
print(a[1:3].reverse())
print(a)

None
['a', 'b', 'c', 'd']

In [16]:
a = [1,3,2,8,3]
print(a.sort())
print(a)

None
[1, 2, 3, 3, 8]

In [17]:
a = [1,3,2,8,3]
print(a.sort(reverse=True))
print(a)

None
[8, 3, 3, 2, 1]

In [18]:
a = [1,3,2,8,3]
a.clear()
a

[]

In [19]:
a = [1,3,2,8,3]
del a
a

NameError: name 'a' is not defined

In [20]:
a = [1,3,2,8,3,3,3,5,3,3]
a.count(3)

6

In [21]:
#shallow and deep copy

In [23]:
a = [1,2,3]
b = a
print(id(a))
print(id(b))
print(id(a[0]))
print(id(b[0]))
print(id(a[1]))
print(id(b[1]))

140632310351488
140632310351488
140632159033648
140632159033648
140632159033680
140632159033680

In [28]:
a = [1,2,3,[4,5,5]]
b = a
print(id(a))
print(id(b))
print(id(a[1]))
print(id(b[1]))
print(id(a[3]))
print(id(b[3]))
print(id(a[3][0]))
print(id(b[3][0]))
print(id(a[3][1]))
print(id(b[3][1]))

140632310353152
140632310353152
140632159033680
140632159033680
140632306750080
140632306750080
140632159033744
140632159033744
140632159033776
140632159033776

In [29]:
# Falling point of shallow copy

In [45]:
a1 = [1,2,3,[4,5,5]]
b1 = a.copy()
print("--------------")
print(id(a1))
print(id(b1))
print("--------------")
print(id(a1[0]))
print(id(b1[0]))
print("--------------")
print(id(a1[1]))
print(id(b1[1]))
print("--------------")
print(id(a1[3]))
print(id(b1[3]))
print("--------------")
print(id(a1[3][0]))
print(id(b1[3][0]))
print("--------------")
print(id(a1[3][1]))
print(id(b1[3][1]))
print('--------------')
a1[3][1] = 15
print(a1[3][1])
print(b1[3][1])
print("--------------")
print(id(a1[3][1]))
print(id(b1[3][1]))

--------------
140632329209472
140632329307904
--------------
140632159033648
140632159033648
--------------
140632159033680
140632159033680
--------------
140632310352896
140632329309952
--------------
140632159033744
140632159033744
--------------
140632159033776
140632159034096
--------------
15
15
--------------
140632159034096
140632159034096

In [34]:
from copy import deepcopy

In [46]:
a = [1,2,3,[4,5,5]]
b = deepcopy(a)
print("--------------")
print(id(a))
print(id(b))
print("--------------")
print(id(a[0]))
print(id(b[0]))
print("--------------")
print(id(a[1]))
print(id(b[1]))
print("--------------")
print(id(a[3]))
print(id(b[3]))
print("--------------")
print(id(a[3][0]))
print(id(b[3][0]))
print("--------------")
print(id(a[3][1]))
print(id(b[3][1]))
print('--------------')
a[3][1] = 15
print(a[3][1])
print(b[3][1])
print("--------------")
print(id(a[3][1]))
print(id(b[3][1]))

--------------
140632329306432
140632329140160
--------------
140632159033648
140632159033648
--------------
140632159033680
140632159033680
--------------
140632329263296
140632329139136
--------------
140632159033744
140632159033744
--------------
140632159033776
140632159033776
--------------
15
5
--------------
140632159034096
140632159033776

In [36]:
# For Loop

In [37]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [38]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [39]:
a = [1,2,3,4,5,6,7,8,9,10]

for i in a:
    print(f'2 * {i} = {2 * i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [47]:
# List comprehension

In [49]:
mails = ['a@gamil.com', 'b@gmail.com', 'c@gmail.com', 'd@gmail.com']
final_list = [gmail.split('@')[0] for gmail in mails]
final_list

['a', 'b', 'c', 'd']

In [50]:
a = [1,2,3,4,5,6,7,8]
even_number = [i%2 == 0 for i in a]
print(even_number)

[False, True, False, True, False, True, False, True]

In [51]:
a = [1,2,3,4,5,6,7,8]
even_number = [i for i in a if i % 2 == 0]
print(even_number)

[2, 4, 6, 8]

In [52]:
mails = ['a@hotmail.com', 'b@gmail.com', 'c@yahoo.com', 'd@gmail.com']
final_list = [gmail for gmail in mails if gmail.split('@')[1] == 'gmail.com' ]
final_list

['b@gmail.com', 'd@gmail.com']

In [53]:
a = [1,2,3,4,5,6,7,8,9,10]
table_of_2 = [i * 2 for i in a]
table_of_2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [55]:
a = [1,2,3,4,5,6,7,8,9,10]
num = int(input('Enter integer number'))

table = [f'{num} * {i}= {num * i}' for i in a]
print(table)

['5 * 1= 5\n', '5 * 2= 10\n', '5 * 3= 15\n', '5 * 4= 20\n', '5 * 5= 25\n', '5 * 6= 30\n', '5 * 7= 35\n', '5 * 8= 40\n', '5 * 9= 45\n', '5 * 10= 50\n']

# Tuple

In [56]:
a = (1,2,3,4)
print(a, type(a))

(1, 2, 3, 4) <class 'tuple'>

In [57]:
b = 1,2,3,4
print(b, type(b))

(1, 2, 3, 4) <class 'tuple'>

In [58]:
b[2]

3

In [59]:
a = [1, 'aditya', 5.5]
a

[1, 'aditya', 5.5]

In [60]:
a = (1, 'aditya', 5.5)
a

(1, 'aditya', 5.5)

In [61]:
# difference between List and Tuuple. Tuple is immutable

In [63]:
a = (1,2,3,4,5)
a[3] = 30
a

TypeError: 'tuple' object does not support item assignment

In [64]:
# Tuple packing and unpacking

In [65]:
a = 1,2,3 # tuple packing
a

(1, 2, 3)

In [66]:
a,b,c = 1,2,3 # tuple unpacking
print(a)
print(b)
print(c)

1
2
3

# Dictinaory

In [67]:
emp_data = {'name': 'aditya', 'age': 20}

In [68]:
emp_data.keys()

dict_keys(['name', 'age'])

In [69]:
emp_data.values()

dict_values(['aditya', 20])

In [73]:
# zip
a = [1,2,3]
b = [4,5,6]
c = zip(a,b)
dict(c)

{1: 4, 2: 5, 3: 6}

In [74]:
a = [1,2,3]
b = [4,5,6,7]
c = zip(a,b)
dict(c)

{1: 4, 2: 5, 3: 6}

In [75]:
a = [1,2]
b = [4,5,6]
c = zip(a,b)
dict(c)

{1: 4, 2: 5}

In [1]:
range(len('python'))

range(0, 6)

In [2]:
for i in range(len('Python')):
    print(i)

0
1
2
3
4
5

In [3]:
emp_data = {'emp_1': {'name': 'aditya', 'age': 20}, 'emp_2': {'name': 'aditya 1', 'age': 21}}

In [4]:
emp_data['emp_3']

KeyError: 'emp_3'

In [8]:
print(emp_data.get('emp_2'))

{'name': 'aditya 1', 'age': 21}

In [9]:
print(emp_data.get('emp_3'))

None

In [11]:
print(emp_data.get('emp_3', "Sorry, this data doesn't exist"))

Sorry, this data doesn't exist

In [12]:
print(emp_data.setdefault('emp_4'))

None

In [13]:
print(emp_data.setdefault('emp_4', 'Not found'))

None

In [14]:
print(emp_data)

{'emp_1': {'name': 'aditya', 'age': 20}, 'emp_2': {'name': 'aditya 1', 'age': 21}, 'emp_4': None}

In [15]:
new_emps = {'emp_5': {'name': 'aditya', 'age': 20}, 'emp_6': {'name': 'aditya 1', 'age': 21}}

In [16]:
emp_data.update(new_emps)

In [17]:
emp_data

{'emp_1': {'name': 'aditya', 'age': 20},
 'emp_2': {'name': 'aditya 1', 'age': 21},
 'emp_4': None,
 'emp_5': {'name': 'aditya', 'age': 20},
 'emp_6': {'name': 'aditya 1', 'age': 21}}

In [18]:
emp_data.pop('emp_1')

{'name': 'aditya', 'age': 20}

In [19]:
emp_data

{'emp_2': {'name': 'aditya 1', 'age': 21},
 'emp_4': None,
 'emp_5': {'name': 'aditya', 'age': 20},
 'emp_6': {'name': 'aditya 1', 'age': 21}}

In [20]:
emp_data.pop('emp_7')

KeyError: 'emp_7'

In [21]:
emp_data.popitem()

('emp_6', {'name': 'aditya 1', 'age': 21})

In [22]:
emp_data

{'emp_2': {'name': 'aditya 1', 'age': 21},
 'emp_4': None,
 'emp_5': {'name': 'aditya', 'age': 20}}

In [23]:
emp_data.keys()

dict_keys(['emp_2', 'emp_4', 'emp_5'])

In [24]:
emp_data.values()

dict_values([{'name': 'aditya 1', 'age': 21}, None, {'name': 'aditya', 'age': 20}])

In [25]:
emp_data.items()

dict_items([('emp_2', {'name': 'aditya 1', 'age': 21}), ('emp_4', None), ('emp_5', {'name': 'aditya', 'age': 20})])

In [26]:
for k,v in emp_data.items():
    print(k)
    print(v)

emp_2
{'name': 'aditya 1', 'age': 21}
emp_4
None
emp_5
{'name': 'aditya', 'age': 20}

In [27]:
emp_data.clear()

In [28]:
emp_data

{}

In [29]:
emp_data = {'emp_1': {'name': 'aditya', 'age': 20}, 'emp_2': {'name': 'aditya 1', 'age': 21}}

In [30]:
del emp_data

In [31]:
emp_data

NameError: name 'emp_data' is not defined

In [7]:
emp_data = {'emp_1': {'name': 'aditya', 'age': 20}, 'emp_2': {'name': 'aditya 1', 'age': 21}}

In [35]:
cpy_emp_data = emp_data

In [36]:
print(id(emp_data))
print(id(cpy_emp_data))

140667368824192
140667368824192

In [37]:
cpy_emp_data = emp_data.copy() # Shallow copy

In [38]:
print(id(emp_data))
print(id(cpy_emp_data))

140667368824192
140667369470976

In [39]:
d1 = dict.fromkeys([1,2,3,4,5])
d1

{1: None, 2: None, 3: None, 4: None, 5: None}

In [40]:
d1 = dict.fromkeys([1,2,3,4,5], 0)
d1

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0}

In [41]:
a = {1,2,3,4}
print(a, type(a))

{1, 2, 3, 4} <class 'set'>

In [42]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [43]:
a = {1,2,3,4.5, 'aditya'}
a

{1, 2, 3, 4.5, 'aditya'}

In [45]:
str = 'python'
for i in range(len(str)):
    print(str[i] * (i+1))

p
yy
ttt
hhhh
ooooo
nnnnnn

In [48]:
print(str[::-1])
print(str[::-2])

nohtyp
nhy

In [50]:
# continue
# break
# pass

In [51]:
str

'python'

In [58]:
l = len(str)
rev = str[::-1]
for i in range(l):
    print(rev[i] * (l - i) )

nnnnnn
ooooo
hhhh
ttt
yy
p

In [1]:
def add(*args):
    return sum(args)

In [2]:
add(1,2,3)

6

In [3]:
def add(*args, **kargs):
    print(args)
    print(kargs)

In [4]:
add(1,2,3)

(1, 2, 3)
{}

In [5]:
add(1,2,3, a=10, b=20)

(1, 2, 3)
{'a': 10, 'b': 20}

In [10]:
emp_data

2

In [11]:
def addEmp(**kargs):
    key = f'emp_{len(emp_data) + 1}'
    emp_data[key] = kargs

In [12]:
addEmp(name='aditya', lname='srivastava', loc='ggn')

In [13]:
emp_data

{'emp_1': {'name': 'aditya', 'age': 20},
 'emp_2': {'name': 'aditya 1', 'age': 21},
 'emp_3': {'name': 'aditya', 'lname': 'srivastava', 'loc': 'ggn'}}

# Lambda

In [14]:
x = lambda a, b : a +b # 1st Method

In [15]:
x(1,2)

3

In [16]:
x = (lambda a, b : a +b)(1,2) # 2nd method

In [17]:
x

3

In [23]:
even =lambda a : 'even' if a % 2 == 0 else 'odd'

In [24]:
even(2)

'even'

In [25]:
even(3)

'odd'

In [26]:
temp_cel = [0, 22.4, 40, 25, 32]
temp_far = [(9/5)*i + 32 for i in temp_cel] # List comprehension

In [27]:
temp_far

[32.0, 72.32, 104.0, 77.0, 89.6]

In [28]:
def tempInFar(cel):
    return (9/5)*cel + 32

In [29]:
x = lambda cel : tempInFar(cel)

In [30]:
x(22.4)

72.32

In [31]:
temp_far_new = [x(i) for i in temp_cel]

In [32]:
temp_far_new

[32.0, 72.32, 104.0, 77.0, 89.6]

# Map

In [33]:
# Syntax : map(funtion, iterable)

In [35]:
list(map(tempInFar,temp_cel))

[32.0, 72.32, 104.0, 77.0, 89.6]

In [36]:
lst = ['a@hotmail.com', 'b@gmail.com', 'c@yahoo.com', 'd@gmail.com']

In [40]:
def getGamilUserName(mail):
    if mail.split('@')[1] == 'gmail.com':
        return mail.split('@')[0]
    else:
        return None

In [41]:
print(getGamilUserName('b@gmail.com'))

b

In [44]:
gmailUserNames = [(lambda mail : getGamilUserName(mail))(mail) for mail in lst]

In [45]:
gmailUserNames

[None, 'b', None, 'd']

In [46]:
gmailUserNamesUsingMap = list(map(getGamilUserName, lst))

In [47]:
gmailUserNamesUsingMap

[None, 'b', None, 'd']

# Reduce

In [48]:
from functools import reduce

In [49]:
lst = [1,2,3,4,5,6,7,8,9]
reduce(lambda a,b : a + b, lst)

45

In [54]:
lst = [1,2,3,4,5,11,6,7,8,9]
reduce(lambda a,b : a if a >= b else b, lst) # Find maximum

11

In [55]:
lst1 = [1,2,3,4,5]
lst2 = [10,20,30,40,50]

op = [(lambda a, b : a + b)(lst1[i], lst2[i]) for i in range(len(lst1))]

In [56]:
op

[11, 22, 33, 44, 55]

In [58]:
op_using_map = list(map(lambda a, b : a + b,lst1, lst2))

In [59]:
op_using_map

[11, 22, 33, 44, 55]

In [60]:
lst1 = [1,2,3,4,5]
lst2 = [10,20,30,40,50]
lst3 = [100,200,300,400,500]

In [61]:
op_using_map_3 = list(map(lambda a, b, c : a + b + c,lst1, lst2, lst3))

In [62]:
op_using_map_3

[111, 222, 333, 444, 555]

# Filter

In [66]:
lst = [2,5,3,11,9,13,4]

In [75]:
evenNumbers = list([lambda a : True if a % 2 == 0 else False, lst])

In [77]:
evenNumbers

[<function __main__.<lambda>(a)>, [2, 5, 3, 11, 9, 13, 4]]

In [78]:
evenNumbersUsingFilter = list(filter(lambda a : True if a % 2 == 0 else False, lst))

In [79]:
evenNumbersUsingFilter

[2, 4]

# Enumerate

In [80]:
a = 'aditya srivastava'

In [81]:
list(enumerate(a))

[(0, 'a'),
 (1, 'd'),
 (2, 'i'),
 (3, 't'),
 (4, 'y'),
 (5, 'a'),
 (6, ' '),
 (7, 's'),
 (8, 'r'),
 (9, 'i'),
 (10, 'v'),
 (11, 'a'),
 (12, 's'),
 (13, 't'),
 (14, 'a'),
 (15, 'v'),
 (16, 'a')]

In [83]:
for k,v in list(enumerate(a)):
    print(f'index : {k}, value : {v}')

index : 0, value : a
index : 1, value : d
index : 2, value : i
index : 3, value : t
index : 4, value : y
index : 5, value : a
index : 6, value :
index : 7, value : s
index : 8, value : r
index : 9, value : i
index : 10, value : v
index : 11, value : a
index : 12, value : s
index : 13, value : t
index : 14, value : a
index : 15, value : v
index : 16, value : a

In [84]:
lst = ['a@hotmail.com', 'b@gmail.com', 'c@yahoo.com', 'd@gmail.com']

In [85]:
enumerate(lst)

In [86]:
list(enumerate(lst))

[(0, 'a@hotmail.com'),
 (1, 'b@gmail.com'),
 (2, 'c@yahoo.com'),
 (3, 'd@gmail.com')]

# Iterator

In [87]:
# List, tuple, string

In [88]:
lst = [3,1,4,9,6]
iter_obj = iter(lst)
print(iter_obj, type(iter_obj))

<list_iterator object at 0x7fc787ebb0d0> <class 'list_iterator'>

In [89]:
str = 'aditya'
iter_obj = iter(str)
print(iter_obj, type(iter_obj))

<str_iterator object at 0x7fc78853c8e0> <class 'str_iterator'>

In [91]:
print(next(iter_obj))

a

In [92]:
print(next(iter_obj))

d

In [93]:
print(next(iter_obj))

i

In [94]:
print(next(iter_obj))

t

In [95]:
print(next(iter_obj))

y

In [96]:
print(next(iter_obj))

a

In [97]:
print(next(iter_obj))

StopIteration:

# Modules

In [98]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [100]:
import sys

In [101]:
print(sys.path)

['/Users/punchh_adityas/Desktop/LearnBay/python/9th_oct_22', '/Users/punchh_adityas/opt/anaconda3/lib/python39.zip', '/Users/punchh_adityas/opt/anaconda3/lib/python3.9', '/Users/punchh_adityas/opt/anaconda3/lib/python3.9/lib-dynload', '', '/Users/punchh_adityas/opt/anaconda3/lib/python3.9/site-packages', '/Users/punchh_adityas/opt/anaconda3/lib/python3.9/site-packages/aeosa', '/Users/punchh_adityas/opt/anaconda3/lib/python3.9/site-packages/IPython/extensions', '/Users/punchh_adityas/.ipython', '/Users/punchh_adityas/.local/lib/python3.9/site-packages']

In [102]:
import my_module as mod

In [103]:
print(dir(mod))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'even_odd', 'palindrom']

In [104]:
mod.palindrom('level')

'yes'

In [105]:
mod.even_odd(123)

'odd'

# File Handling

- read()
- write()
- tell()
- seek()

In [106]:
# File doesn't exist

In [107]:
f = open('somefile.txt', 'r')

FileNotFoundError: [Errno 2] No such file or directory: 'somefile.txt'

In [108]:
f = open('task.txt', 'r')

In [109]:
f.tell()

0

In [110]:
f.read()

'Hello World'

In [111]:
f.tell()

11

In [112]:
f.close()

In [113]:
f = open('task.txt', 'r')

In [114]:
f.seek(6)

6

In [115]:
f.read()

'World'

# Write()

In [123]:
f = open('create_a_new_file.tx', 'w')

In [124]:
print(f.tell())
f.write('hello world')
print(f.tell())
f.close()

0
11

In [125]:
f = open('create_a_new_file.tx', 'w')
print(f.tell())
f.write('new texf') # It will override the existing content
print(f.tell())
f.close()

0
8

In [126]:
f = open('create_a_new_file.tx', 'w')
print(f.tell())
print(f.seek(5))
print(f.tell())
f.write('adding more new tect') # It will override the existing content
print(f.tell())
f.close()

0
5
5
25

# append mode 'a'

In [128]:
f = open('create_a_new_file_to_append.tx', 'a') # open file to append but if file doesn't exit then it will create

In [130]:
print(f.tell())
f.write('hello world')
print(f.tell())
f.write('adding more text')
print(f.tell())

0
11
27

In [135]:
f.seek(11)
print(f.tell())
f.write('adding some more text again') # Always append text to the end
print(f.tell())

11
81

# Python File handling 
- Read Only ('r): This mode opens the text files for reading only. The start of the file is where the handle is located. It raises the I/O error if the file does not exist. This is the default mode for opening files as well.

- Read and Write ('r+): This method opens the file for both reading and writing. The start of the file is where the handle is located. If the file does not exist, an I/O error gets raised.

- Write Only ('w): This mode opens the file for writing only. The data in existing files are modified and overwritten. The start of the file is where the handle is located. If the file does not already exist in the folder, a new one gets created.

- Write and Read ('w+): This mode opens the file for both reading and writing. The text is overwritten and deleted from an existing file. The start of the file is where the handle is located.

- Append Only ('a): This mode allows the file to be opened for writing. If the file doesn't yet exist, a new one gets created. The handle is set at the end of the file. The newly written data will be added at the end, following the previously written data.

- Append and Read (a+): Using this method, you can read and write in the file. If the file doesn't already exist, one gets created. The handle is set at the end of the file. The newly written text will be added at the end, following the previously written data.

In [139]:
f = open('read_write.txt', 'r+')

In [141]:
print(f.tell())
f.write('hello world')
f.seek(5)
print(f.tell())
f.write('some text') # Delete old text and add new text
print(f.tell())
f.close()

5
5
14

In [142]:
f = open('write_read.txt', 'w+')

In [143]:
print(f.tell())
f.write('hello world')
f.seek(5)
print(f.tell())
f.write('some text') 
print(f.tell())
f.close()

0
5
14

In [144]:
f = open('append_read.txt', 'a+')

In [145]:
print(f.tell())
f.write('hello world')
f.seek(5)
print(f.tell())
f.write('some text') # Always add text at the end
print(f.tell())
f.close()

0
5
20