# Properties of dic

- It is a collection of key value pair
- a key, value is called as item
- Items are seperated by ,
- Key and value are seperated by :
- key cannot be duplicated whereas value can be duplicated
- key cannot be a mutable data type
- value can be a mutable as well as immutable

2. It is not a seq data type, Hence
* Indexing , slicing , concatination , repetition are not possible
- Membership op will work only for the keys 
- Identity operators is possible


### Note: Dict is an mutable data type

In [22]:
emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}}

In [18]:
# the names of the emp whose age is >= 27

for i in emp_data:
    print(emp_data[i]['Name'])

Salahuddin
Abhijeet
Abhishail
Abhishek

In [21]:
for i in emp_data:
    if emp_data[i]['Age'] >= 27:
        print(emp_data[i]['Name'])

Abhijeet
Abhishail
Abhishek

In [24]:
# key cannot be duplicated whereas value can be duplicated
# 

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}}

In [26]:
# key cannot be duplicated whereas value can be duplicated
# 

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 29},
           'emp_3':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}}

In [27]:
# key cannot be a mutable data type

emp_data = {[1,2]:{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data

TypeError: unhashable type: 'list'

In [28]:
# key cannot be a mutable data type

emp_data = {{'a':1}:{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data

TypeError: unhashable type: 'dict'

In [29]:
emp_data = {123:{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data

{123: {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}}

In [30]:
# Indexing

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data[0]

KeyError: 0

In [31]:
# Indexing

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data['emp_1']

{'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}

In [32]:
# concatination

a = {'a':1 , 'b': 2}
b = {'c':2, 'd':5}

print(a+b)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [33]:
# repetation

a = {'a':1 , 'b': 2}
b = 2

print(a*b)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [34]:
# membership
# in and not in

a = {'a':1 , 'b': 2}


print('a' in a)

True

In [35]:

a = {'a':1 , 'b': 2}


print(2 in a)

False

In [37]:
# identity
# in and not in

a = {'a':1 , 'b': 2}
b = {'a':1 , 'b': 2}


print(id(a))
print(id(b))

print(a is b)

2614040044544
2614035516480
False

In [39]:
# identity
# in and not in

a = {'a':1 , 'b': 2}
b = {'a':1 , 'b': 2}


print(id(a['b']))
print(id(b['b']))

print(a['b'] is b['b'])

2613920491856
2613920491856
True

In [45]:
# Extract elements of a dic

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data['emp_3']['Name']

'Abhishail'

# Methods of dic

In [47]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Methods to add and access elements of a dic


- get
- setdefault
- Update

# Get

In [48]:
# 1. If the key is present


emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


print(emp_data.get('emp_3'))

{'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}

In [49]:
# 1. If the key is not present


emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


print(emp_data.get('emp_5'))

None

In [50]:
# 1. If the key is not present


emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


print(emp_data.get('emp_5' , 'The emp which you are looking for is not present in my data'))

The emp which you are looking for is not present in my data

# Set default

In [54]:
# 1. If the key is present


emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


print(emp_data.setdefault('emp_3'))

{'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}

In [59]:
# 1. If the key is not present


emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


print(emp_data.setdefault('emp_5' ))

emp_data

None

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': None}

In [60]:
# 1. If the key is not present


emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


print(emp_data.setdefault('emp_5', {'Age': 29 , 'Salary': 1100000 , 'Name': 'new_emp'}))

emp_data

{'Age': 29, 'Salary': 1100000, 'Name': 'new_emp'}

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 29, 'Salary': 1100000, 'Name': 'new_emp'}}

# Update

In [62]:
# 1. If the key is not present


emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}

new_emp = {'emp_5': {'Age': 29 , 'Salary': 1100000 , 'Name': 'new_emp'},
          'emp_6': {'Age': 29 , 'Salary': 1100000 , 'Name': 'new_emp_1'}}


print(emp_data.update(new_emp))

emp_data

None

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 29, 'Salary': 1100000, 'Name': 'new_emp'},
 'emp_6': {'Age': 29, 'Salary': 1100000, 'Name': 'new_emp_1'}}

In [66]:

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}

In [64]:
# write a code where the 
- Age
- salary
- name



emp_5 - Age
- salary
- name


emp_6 - Age
- salary
- name

In [73]:
emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}

In [71]:
age = int(input('Enter the age of the emp : '))
Salary = int(input('Enter the salary of the emp : '))
Name = input('Enter the name of the emp : ')

key = f'emp_{len(emp_data)+1}'

emp_data.setdefault(key , {'Age': age , 'Salary': Salary , 'Name': Name})

Enter the age of the emp : 656
Enter the salary of the emp : 12312121
Enter the name of the emp : gfd

{'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}

In [72]:
emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

In [75]:
len(emp_data)+1

5

In [78]:
a = 'python'
b = 'leanbay'


print('Hi my name is {} second name is {}'.format(a , b))
print(f'Hi my name is {a} second name is {b}')

Hi my name is python second name is leanbay
Hi my name is python second name is leanbay

In [80]:
emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}

# Work on this

In [ ]:
age = int(input('Enter the age of the emp : '))
Salary = int(input('Enter the salary of the emp : '))
Name = input('Enter the name of the emp : ')

key = f'emp_{len(emp_data)+1}'

emp_data.setdefault(key , {'Age': age , 'Salary': Salary , 'Name': Name})


# if key it is not ther only enter the details
# if not there then extract the existing

# Methods to remove the items from the dic

- pop
- popitem

In [81]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# POP

In [82]:
# if the key is present

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


print(emp_data.pop('emp_1'))

{'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}

In [83]:
emp_data

{'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}}

In [84]:
# if the key is not present

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


print(emp_data.pop('emp_5'))

KeyError: 'emp_5'

# POP item

In [86]:
# if the key is present

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


print(emp_data.popitem())

('emp_4', {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'})

In [87]:
emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}}

# usecase

In [114]:
current_emp = {'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

In [115]:
# emp_5 has left the company
ex_emp = {}

In [116]:
# trigger 
a = input('Enter the emp leaving the com : ')

current_emp.pop(a)
current_emp

Enter the emp leaving the com : emp_2

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

In [118]:
# save the employees left the company in a new variable 
a = input('Enter the emp leaving the com : ')

ex_emp.setdefault(a,current_emp.pop(a))

Enter the emp leaving the com : emp_3

{'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}

In [119]:
current_emp

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

In [120]:
ex_emp

{'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}}

In [104]:
list_of_employees_leaving = ['emp_1' , 'emp_2' , 'emp_3']


for i in list_of_employees_leaving:
    ex_emp.setdefault(i,current_emp.pop(i))

In [105]:
current_emp

{'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

In [106]:
ex_emp

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}}

In [108]:
emp_id=input('Please update the employee id who left the company: ')

ex_emp=dict(emp_data.pop(emp_id))
print(ex_emp)
emp_data

Please update the employee id who left the company: emp_3
{'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

In [107]:
emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

In [121]:
# 
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# keys

In [122]:
current_emp = {'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}


current_emp.keys()

dict_keys(['emp_1', 'emp_2', 'emp_3', 'emp_4', 'emp_5', 'emp_6'])

In [126]:
for i in current_emp.keys():
    if current_emp[i]['Age'] >= 27:
        print(current_emp[i]['Name'])

Abhijeet
Abhishail
Abhishek
vgfgvg
gfd

# Values

In [123]:
current_emp = {'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}


current_emp.values()

dict_values([{'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}, {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'}, {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}, {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}, {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'}, {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}])

In [128]:
for i in current_emp.values():

    if i['Age'] >= 27:
        print(i['Name'])

Abhijeet
Abhishail
Abhishek
vgfgvg
gfd

# items

In [124]:
current_emp = {'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}


current_emp.items()

dict_items([('emp_1', {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}), ('emp_2', {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'}), ('emp_3', {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}), ('emp_4', {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}), ('emp_5', {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'}), ('emp_6', {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'})])

In [133]:
# diplay the emp ID of the emp whose age is >=27

for i,j in current_emp.items():
    if (j['Age'] >=28):
        print(i)

emp_3
emp_4
emp_5
emp_6

In [136]:
a,b = 12,'34'
print(a , type(a))
print(b , type(b))

12 <class 'int'>
34 <class 'str'>

In [138]:
# 
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Clear

In [139]:
emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

In [140]:
emp_data.clear()

In [141]:
emp_data

{}

# Del

In [142]:
current_emp

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}

In [143]:
del current_emp

In [144]:
current_emp

NameError: name 'current_emp' is not defined

# copy

In [146]:
current_emp = {'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}


b = current_emp # aliasing


print(id(current_emp))
print(id(b))

2614044106560
2614044106560

In [147]:
current_emp = {'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 55, 'Salary': 655656, 'Name': 'vgfgvg'},
 'emp_6': {'Age': 656, 'Salary': 12312121, 'Name': 'gfd'}}


b = current_emp.copy() # shallow copy


print(id(current_emp))
print(id(b))

2614040046080
2614040045056

# fromkeys

In [148]:
d1 = dict.fromkeys([1,2,3,4,5,6,7,8,9,10])

In [149]:
d1

{1: None,
 2: None,
 3: None,
 4: None,
 5: None,
 6: None,
 7: None,
 8: None,
 9: None,
 10: None}

In [150]:
d1 = dict.fromkeys([1,2,3,4,5,6,7,8,9,10] , 0)

In [151]:
d1

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0}

In [155]:
d1 = dict.fromkeys([1,2,3,4,5,6,7,8,9,10] , [1,2,3,4,5,6,7,8,9,10])

In [156]:
d1

{1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 2: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 3: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 4: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 5: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 6: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 7: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 8: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 9: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [157]:
d1 = dict.fromkeys(range(100) , 0)
d1

{0: 0,
 1: 0,
 2: 0,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 7: 0,
 8: 0,
 9: 0,
 10: 0,
 11: 0,
 12: 0,
 13: 0,
 14: 0,
 15: 0,
 16: 0,
 17: 0,
 18: 0,
 19: 0,
 20: 0,
 21: 0,
 22: 0,
 23: 0,
 24: 0,
 25: 0,
 26: 0,
 27: 0,
 28: 0,
 29: 0,
 30: 0,
 31: 0,
 32: 0,
 33: 0,
 34: 0,
 35: 0,
 36: 0,
 37: 0,
 38: 0,
 39: 0,
 40: 0,
 41: 0,
 42: 0,
 43: 0,
 44: 0,
 45: 0,
 46: 0,
 47: 0,
 48: 0,
 49: 0,
 50: 0,
 51: 0,
 52: 0,
 53: 0,
 54: 0,
 55: 0,
 56: 0,
 57: 0,
 58: 0,
 59: 0,
 60: 0,
 61: 0,
 62: 0,
 63: 0,
 64: 0,
 65: 0,
 66: 0,
 67: 0,
 68: 0,
 69: 0,
 70: 0,
 71: 0,
 72: 0,
 73: 0,
 74: 0,
 75: 0,
 76: 0,
 77: 0,
 78: 0,
 79: 0,
 80: 0,
 81: 0,
 82: 0,
 83: 0,
 84: 0,
 85: 0,
 86: 0,
 87: 0,
 88: 0,
 89: 0,
 90: 0,
 91: 0,
 92: 0,
 93: 0,
 94: 0,
 95: 0,
 96: 0,
 97: 0,
 98: 0,
 99: 0}

In [158]:
d1[13] = 1

In [159]:
d1

{0: 0,
 1: 0,
 2: 0,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 7: 0,
 8: 0,
 9: 0,
 10: 0,
 11: 0,
 12: 0,
 13: 1,
 14: 0,
 15: 0,
 16: 0,
 17: 0,
 18: 0,
 19: 0,
 20: 0,
 21: 0,
 22: 0,
 23: 0,
 24: 0,
 25: 0,
 26: 0,
 27: 0,
 28: 0,
 29: 0,
 30: 0,
 31: 0,
 32: 0,
 33: 0,
 34: 0,
 35: 0,
 36: 0,
 37: 0,
 38: 0,
 39: 0,
 40: 0,
 41: 0,
 42: 0,
 43: 0,
 44: 0,
 45: 0,
 46: 0,
 47: 0,
 48: 0,
 49: 0,
 50: 0,
 51: 0,
 52: 0,
 53: 0,
 54: 0,
 55: 0,
 56: 0,
 57: 0,
 58: 0,
 59: 0,
 60: 0,
 61: 0,
 62: 0,
 63: 0,
 64: 0,
 65: 0,
 66: 0,
 67: 0,
 68: 0,
 69: 0,
 70: 0,
 71: 0,
 72: 0,
 73: 0,
 74: 0,
 75: 0,
 76: 0,
 77: 0,
 78: 0,
 79: 0,
 80: 0,
 81: 0,
 82: 0,
 83: 0,
 84: 0,
 85: 0,
 86: 0,
 87: 0,
 88: 0,
 89: 0,
 90: 0,
 91: 0,
 92: 0,
 93: 0,
 94: 0,
 95: 0,
 96: 0,
 97: 0,
 98: 0,
 99: 0}

In [161]:
list_of_student = ['a' , 'b' , 'c' , 'd' , 'e' , 'f']


# 
dict_students = dict.fromkeys(list_of_student , 5)

dict_students

{'a': 5, 'b': 5, 'c': 5, 'd': 5, 'e': 5, 'f': 5}

In [162]:
dict_students['d'] = 15

In [163]:
dict_students

{'a': 5, 'b': 5, 'c': 5, 'd': 15, 'e': 5, 'f': 5}

# Range

In [ ]:
- It is used a lot in for loop
- syntax 
range(start_value , stop_value , step)

start value is inclusive
stop value is exclusive


default
start value 0
stop value has to given by the user
step value is 1

In [166]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
list(range(0,10 , 2))

[0, 2, 4, 6, 8]

In [168]:
list(range(-1,-11 , -1))

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [ ]:
-1 , -2 , -3 ----> -10

In [169]:
list(range(-1,-11 ))

[]

# Set

- collection of unique values and is not a seq data type
- indexing and slicing is not possible
- It is a mutable data type
- It cannot contain a mutable datatype

In [170]:
a = {1,2,3,3,4,54}

print(a , type(a))

{1, 2, 3, 4, 54} <class 'set'>

In [171]:
a = {1,2,3,3,4,54}

print(a[0])

TypeError: 'set' object is not subscriptable

In [173]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [174]:
a = {1,2,3,4,5}

a.add(6)

print(a)

{1, 2, 3, 4, 5, 6}

In [175]:
a = {1,2.5,'str',4+7j,None , True , (1,2,3)}

print(a)

{1, 2.5, 'str', (4+7j), (1, 2, 3), None}

In [178]:
a = {1,2.5,'str',4+7j,None , True , (1,2,3) ,{1,2,3}}



print(a)

TypeError: unhashable type: 'set'

In [ ]:
# deriveved 
int ->
float - >
complex
bool


# immutable 
- string
- tuple


# mutable
- list
- dict
- set

# Conditional statements

In [ ]:
stat1
stat2
stat3
if condit 1:
    stat4
    stat5
stat6
stat7

# If the condition is false -1,2,3,6,7

In [ ]:
stat1
stat2
stat3
if condit 1:
    stat4
    stat5
stat6
stat7

# If the condition is true -1,2,3,4,5,6,7

# if else

In [ ]:
stat1
stat2
stat3
if condit 1:
    stat4
    stat5
else:
    stat8
    stat9
stat6
stat7

# If the condition is true - 1,2,3,4,5,6,7

In [ ]:
stat1
stat2
stat3
if condit 1:
    stat4
    stat5
else:
    stat8
    stat9
stat6
stat7

# If the condition is false - 1,2,3,8,9,6,7

In [ ]:
# Multiple
stat1
stat2
stat3
if condit 1:
    stat4
    stat5
if condit 2:
    stat10
    stat11
if condit 3:
    stat12
    stat13
else:
    stat8
    stat9
stat6
stat7

# If the condition 1,3 is false - 1,2,3,10,11,8,9,6,7

In [ ]:
# Multiple
stat1
stat2
stat3
if condit 1:
    stat4
    stat5
else:
    stat14
    stat15
if condit 2:
    stat10
    stat11
if condit 3:
    stat12
    stat13
else:
    stat8
    stat9
stat6
stat7

# If the condition 1,3 is false - 1,2,3,14,15,10,11,8,9,6,7

In [ ]:
# if , else , elif

In [ ]:
# elif

stat1
stat2
stat3
if condit 1:
    stat4
    stat5
elif condit 2:
    stat10
    stat11
elif condit 3:
    stat12
    stat13
else:
    stat8
    stat9
stat6
stat7

# If the condition 1,3 is false - 1,2,3,10,11,8,9,6,7

In [186]:
a = 10
b = 20


if a > b: #f 
    print('hello')
    

if a == b: # f
    print('hello')
else:
    print('world')
    
print('python')

world
python

In [187]:
a = 10
b = 20


if a > b: #f 
    print('hello')
    

elif a == b: # f
    print('hello')
else:
    print('world')
    
print('python')

world
python

In [ ]:
# Write a program where if you trigger the code


enter a number between 1 - 6 , 

1 --> one
4 ---> four


'Number out of range'

2.2 --> 'Invalid number'

In [189]:
a = 2.2

if a<6 and a>0:
    print('hello')

hello

In [215]:
a = eval(input('Enter a number : '))
if a>=6 or a<=1:
    print('Number out of range')
else:
    if a == 1:
        print('one')
    elif a == 2:
        print('two')
    elif a ==3:
        print('three')
    elif a == 4:
        print('four')
    elif a == 5:
        print('five')
    elif a == 6:
        print('six')
    else:
        print('Invalid number')

Enter a number : 2.6
Invalid number

In [206]:
type(eval('123.5'))

float

In [207]:
a = '123'

print(int(a) , type(int(a)))

123 <class 'int'>

In [214]:
a = eval('123.6')

print((a) , type((a)))

123.6 <class 'float'>

In [ ]:
w = {1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six'}
num = eval(input('Enter a number : '))
if type(num) != int:
    print('Invalid Number')
else:
    if num >=1 and num <=6:
        print(w[num])
    else:
        print('Number out is range')

In [ ]:
# basic calculator


1 - enter the first number
2 - enter the second number
3 - + , -, * , /
4 - // --> invalid operator