In [1]:
#April_23rd_Online_shopping

Online shopping Customer Segmentation

**Problem statement**

-  1: Segment (Group/Cluster) customer on basis of RFM (Recency, Frequency, Monetary) 
-  2: Segment (Group/Cluster) Identify trends for Day, Month, Season, Time by Invoice count
-  3. Top 10 selling recommended product 
-  4  Best recommended product at country level.

Recommendation Engine:- 

-  1 Product Recommendation-Collaborative Filtering.
-  2 Movie Recommendation-Content-Based Filtering.

Recency, frequency, monetary value (RFM) is a model used in marketing 
analysis that segments a company’s consumer base by their purchasing 
patterns or habits. In particular, it evaluates customers’ recency 
(how long ago they made a purchase), frequency (how often they make purchases), 
and monetary value (how much money they spend).

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [3]:
original_data=pd.read_excel("Online_shopping.xlsx")

In [4]:
df=original_data.copy()
df.head(100)

,InvoiceNo,StockCode,lower,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
95,536378,22352,lunch box with cutlery retrospot,LUNCH BOX WITH CUTLERY RETROSPOT,6,2010-12-01 09:37:00,2.55,14688.0,United Kingdom
96,536378,21212,pack of 72 retrospot cake cases,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688.0,United Kingdom
97,536378,21975,pack of 60 dinosaur cake cases,PACK OF 60 DINOSAUR CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
98,536378,21977,pack of 60 pink paisley cake cases,PACK OF 60 PINK PAISLEY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
99,536378,84991,60 teatime fairy cake cases,60 TEATIME FAIRY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom

In [5]:
# Goal 1:- Segment (Group/Cluster) customer on basis of RFM (Recency, Frequency, Monetary)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   lower        1816 non-null    object
 3   Description  540455 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  datetime64[ns]
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   406829 non-null  float64
 8   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 37.2+ MB

In [7]:
#to solve the Goal 1 we dont required few columns

In [8]:
df1=df.drop(["StockCode","Description","lower","Country"],axis=1)

In [9]:
df1.head(2)

  InvoiceNo  Quantity         InvoiceDate  UnitPrice  CustomerID
0    536365         6 2010-12-01 08:26:00       2.55     17850.0
1    536365         6 2010-12-01 08:26:00       3.39     17850.0

In [10]:
df1.isnull().sum()

InvoiceNo           0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
dtype: int64

In [11]:
# cust Id is the vital info , which can not be retrive or impute
# we have to drop rows, if missing

In [12]:
df1.dropna(axis=0,inplace=True)

In [13]:
df1.isnull().sum()

InvoiceNo      0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
dtype: int64

In [14]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,406829.0,12.061303,248.693370,-80995.0,2.00,5.00,12.00,80995.0
UnitPrice,406829.0,3.460471,69.315162,0.0,1.25,1.95,3.75,38970.0
CustomerID,406829.0,15287.690570,1713.600303,12346.0,13953.00,15152.00,16791.00,18287.0

In [15]:
# QUANTITY NEG VALUE MEANS RETURN ITEM
# UNIT PRICE 0 means its free item.

In [16]:
df1[df1["UnitPrice"]==0]["UnitPrice"].count()

40

In [17]:
df1[df1["UnitPrice"]==0].head(10)

       InvoiceNo  Quantity         InvoiceDate  UnitPrice  CustomerID
9302      537197         1 2010-12-05 14:02:00        0.0     12647.0
33576     539263         4 2010-12-16 14:36:00        0.0     16560.0
40089     539722        10 2010-12-21 13:45:00        0.0     14911.0
47068     540372        24 2011-01-06 16:41:00        0.0     13081.0
47070     540372        24 2011-01-06 16:41:00        0.0     13081.0
56674     541109         1 2011-01-13 15:10:00        0.0     15107.0
86789     543599        16 2011-02-10 13:08:00        0.0     17560.0
130188    547417        36 2011-03-23 10:25:00        0.0     13239.0
139453    548318         5 2011-03-30 12:45:00        0.0     13113.0
145208    548871         2 2011-04-04 14:42:00        0.0     14410.0

In [18]:
df1=df1[df1["Quantity"]>0]

In [19]:
df1.describe()

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

In [20]:
df1.head(100)

   InvoiceNo  Quantity         InvoiceDate  UnitPrice  CustomerID
0     536365         6 2010-12-01 08:26:00       2.55     17850.0
1     536365         6 2010-12-01 08:26:00       3.39     17850.0
2     536365         8 2010-12-01 08:26:00       2.75     17850.0
3     536365         6 2010-12-01 08:26:00       3.39     17850.0
4     536365         6 2010-12-01 08:26:00       3.39     17850.0
..       ...       ...                 ...        ...         ...
95    536378         6 2010-12-01 09:37:00       2.55     14688.0
96    536378       120 2010-12-01 09:37:00       0.42     14688.0
97    536378        24 2010-12-01 09:37:00       0.55     14688.0
98    536378        24 2010-12-01 09:37:00       0.55     14688.0
99    536378        24 2010-12-01 09:37:00       0.55     14688.0

[100 rows x 5 columns]

In [21]:
# create a total column--- total=qty*unit price

In [22]:
df1["Total"]=df1["Quantity"]*df1["UnitPrice"]

In [23]:
df1.head()

  InvoiceNo  Quantity         InvoiceDate  UnitPrice  CustomerID  Total
0    536365         6 2010-12-01 08:26:00       2.55     17850.0  15.30
1    536365         6 2010-12-01 08:26:00       3.39     17850.0  20.34
2    536365         8 2010-12-01 08:26:00       2.75     17850.0  22.00
3    536365         6 2010-12-01 08:26:00       3.39     17850.0  20.34
4    536365         6 2010-12-01 08:26:00       3.39     17850.0  20.34

In [24]:
df2=df1.drop(["Quantity","UnitPrice"],axis=1)
df2.head()

  InvoiceNo         InvoiceDate  CustomerID  Total
0    536365 2010-12-01 08:26:00     17850.0  15.30
1    536365 2010-12-01 08:26:00     17850.0  20.34
2    536365 2010-12-01 08:26:00     17850.0  22.00
3    536365 2010-12-01 08:26:00     17850.0  20.34
4    536365 2010-12-01 08:26:00     17850.0  20.34

In [25]:
df_final=df2.groupby(["InvoiceNo","InvoiceDate","CustomerID"]).agg({"Total":"sum"}).reset_index()

In [26]:
df_final.head()

   InvoiceNo         InvoiceDate  CustomerID   Total
0     536365 2010-12-01 08:26:00     17850.0  139.12
1     536366 2010-12-01 08:28:00     17850.0   22.20
2     536367 2010-12-01 08:34:00     13047.0  278.73
3     536368 2010-12-01 08:34:00     13047.0   70.05
4     536369 2010-12-01 08:35:00     13047.0   17.85

In [27]:
# Recency -> calculate the last business date as per dataset
#Recency=last business date - last invoice date of the client

In [28]:
max(df_final["InvoiceDate"])

Timestamp('2011-12-09 12:50:00')

In [29]:
min(df_final["InvoiceDate"])

Timestamp('2010-12-01 08:26:00')

In [30]:
# set the last date as benchmark by adding +1 day extra

In [31]:
import datetime as dt
latest_date=dt.datetime(2011,12,10)
latest_date

datetime.datetime(2011, 12, 10, 0, 0)

In [32]:
#Recency = latest date - last invoice date of specific customer
#Frequency= count of Invoice (how many time customer id appearing )
# Monetary= sum of total w.r.to customer ID

In [33]:
df_final.head()

   InvoiceNo         InvoiceDate  CustomerID   Total
0     536365 2010-12-01 08:26:00     17850.0  139.12
1     536366 2010-12-01 08:28:00     17850.0   22.20
2     536367 2010-12-01 08:34:00     13047.0  278.73
3     536368 2010-12-01 08:34:00     13047.0   70.05
4     536369 2010-12-01 08:35:00     13047.0   17.85

In [34]:
RFM_Score=df_final.groupby("CustomerID").agg({"InvoiceDate":lambda x:(latest_date-x.max()).days,
                                             "InvoiceNo":lambda x:x.count(),
                                             "Total":lambda x:x.sum()}).reset_index()

In [35]:
RFM_Score.head()

   CustomerID  InvoiceDate  InvoiceNo     Total
0     12346.0          325          1  77183.60
1     12347.0            2          7   4310.00
2     12348.0           75          4   1797.24
3     12349.0           18          1   1757.55
4     12350.0          310          1    334.40

In [36]:
# rename the column name
RFM_Score=RFM_Score.rename(columns={"InvoiceDate":"Recency","InvoiceNo":"Frequency","Total":"Monetary"})

In [37]:
RFM_Score.head(100)

    CustomerID  Recency  Frequency  Monetary
0      12346.0      325          1  77183.60
1      12347.0        2          7   4310.00
2      12348.0       75          4   1797.24
3      12349.0       18          1   1757.55
4      12350.0      310          1    334.40
..         ...      ...        ...       ...
95     12462.0       18          2   1189.59
96     12463.0       53          4   1344.78
97     12464.0       10          8   1212.05
98     12465.0       17          2    742.19
99     12468.0      187          2    729.54

[100 rows x 4 columns]

In [38]:
RFM_Score["Frequency"].max()

211

In [39]:
RFM=RFM_Score.copy()

In [40]:
RFM.head()

   CustomerID  Recency  Frequency  Monetary
0     12346.0      325          1  77183.60
1     12347.0        2          7   4310.00
2     12348.0       75          4   1797.24
3     12349.0       18          1   1757.55
4     12350.0      310          1    334.40

In [41]:
RFM["R_rank"]=RFM["Recency"].rank(ascending=False)

In [42]:
RFM["F_rank"]=RFM["Frequency"].rank(ascending=True)
RFM["M_rank"]=RFM["Monetary"].rank(ascending=True)

In [43]:
RFM.head()

   CustomerID  Recency  Frequency  Monetary  R_rank  F_rank  M_rank
0     12346.0      325          1  77183.60   162.5   746.5  4330.0
1     12347.0        2          7   4310.00  4156.5  3709.5  4004.0
2     12348.0       75          4   1797.24  1646.0  3028.0  3334.0
3     12349.0       18          1   1757.55  3209.5   746.5  3306.0
4     12350.0      310          1    334.40   227.5   746.5  1230.0

In [44]:
# lets calculate percentage marks frequency

In [45]:
RFM["R_final"]=(RFM["R_rank"]/RFM["R_rank"].max())*100

In [46]:
RFM["F_final"]=(RFM["F_rank"]/RFM["F_rank"].max())*100
RFM["M_final"]=(RFM["M_rank"]/RFM["M_rank"].max())*100

In [47]:
RFM.head()

,CustomerID,Recency,Frequency,Monetary,R_rank,F_rank,M_rank,R_final,F_final,M_final
0,12346.0,325,1,77183.60,162.5,746.5,4330.0,3.759833,17.204425,99.792579
1,12347.0,2,7,4310.00,4156.5,3709.5,4004.0,96.170754,85.492049,92.279327
2,12348.0,75,4,1797.24,1646.0,3028.0,3334.0,38.084220,69.785665,76.837981
3,12349.0,18,1,1757.55,3209.5,746.5,3306.0,74.259602,17.204425,76.192671
4,12350.0,310,1,334.40,227.5,746.5,1230.0,5.263767,17.204425,28.347546

In [48]:
RFM.drop(columns=["R_rank","F_rank","M_rank"],inplace=True)

In [49]:
RFM.head()

   CustomerID  Recency  Frequency  Monetary    R_final    F_final    M_final
0     12346.0      325          1  77183.60   3.759833  17.204425  99.792579
1     12347.0        2          7   4310.00  96.170754  85.492049  92.279327
2     12348.0       75          4   1797.24  38.084220  69.785665  76.837981
3     12349.0       18          1   1757.55  74.259602  17.204425  76.192671
4     12350.0      310          1    334.40   5.263767  17.204425  28.347546

In [50]:
# lets create the final marks of RFM as per desired weigthage

In [51]:
RFM["RFM_SUM"]=0.15*RFM["R_final"]+0.30*RFM["F_final"]+0.60*RFM["M_final"]

In [52]:
RFM.head()

,CustomerID,Recency,Frequency,Monetary,R_final,F_final,M_final,RFM_SUM
0,12346.0,325,1,77183.60,3.759833,17.204425,99.792579,65.600850
1,12347.0,2,7,4310.00,96.170754,85.492049,92.279327,95.440824
2,12348.0,75,4,1797.24,38.084220,69.785665,76.837981,72.751121
3,12349.0,18,1,1757.55,74.259602,17.204425,76.192671,62.015870
4,12350.0,310,1,334.40,5.263767,17.204425,28.347546,22.959420

In [53]:
RFM["RFM_SUM"].max()

104.9170315740954

In [54]:
RFM["RFM_SUM"].min()

5.363923372266154

In [55]:
RFM=RFM.round(2)

In [56]:
RFM.head()

,CustomerID,Recency,Frequency,Monetary,R_final,F_final,M_final,RFM_SUM
0,12346.0,325,1,77183.60,3.76,17.20,99.79,65.60
1,12347.0,2,7,4310.00,96.17,85.49,92.28,95.44
2,12348.0,75,4,1797.24,38.08,69.79,76.84,72.75
3,12349.0,18,1,1757.55,74.26,17.20,76.19,62.02
4,12350.0,310,1,334.40,5.26,17.20,28.35,22.96

In [57]:
# lets do the customer segmentation using Quantile approach

In [58]:
quant=RFM["RFM_SUM"].quantile(q=[0.25,0.50,0.75])

In [59]:
quant

0.25    28.365
0.50    51.290
0.75    75.885
Name: RFM_SUM, dtype: float64

In [60]:
# 4 groups- Silver,Gold,Diamond,Platinum

In [61]:
def loyality(x):
    if x<=28:
        return "Silver"
    elif x<=51:
        return "Gold"
    elif x<=76:
        return "Diamond"
    else:
        return "Platinum"

In [62]:
RFM["Loyality"]=RFM["RFM_SUM"].apply(loyality)

In [63]:
RFM.head(100)

,CustomerID,Recency,Frequency,Monetary,R_final,F_final,M_final,RFM_SUM,Loyality
0,12346.0,325,1,77183.60,3.76,17.20,99.79,65.60,Diamond
1,12347.0,2,7,4310.00,96.17,85.49,92.28,95.44,Platinum
2,12348.0,75,4,1797.24,38.08,69.79,76.84,72.75,Diamond
3,12349.0,18,1,1757.55,74.26,17.20,76.19,62.02,Diamond
4,12350.0,310,1,334.40,5.26,17.20,28.35,22.96,Silver
...,...,...,...,...,...,...,...,...,...
95,12462.0,18,2,1189.59,74.26,44.03,66.47,64.23,Diamond
96,12463.0,53,4,1344.78,48.37,69.79,69.81,70.08,Diamond
97,12464.0,10,8,1212.05,83.64,88.22,66.88,79.14,Platinum
98,12465.0,17,2,742.19,75.72,44.03,53.24,56.51,Diamond
99,12468.0,187,2,729.54,18.88,44.03,52.75,47.69,Gold

In [64]:
RFM["Loyality"].value_counts()

Diamond     1101
Gold        1098
Platinum    1080
Silver      1060
Name: Loyality, dtype: int64

In [65]:
# do make the segregation --- kmeans algorithm approach

In [66]:
NewData=RFM["RFM_SUM"]
NewData=pd.DataFrame(NewData)

In [67]:
NewData.head()

   RFM_SUM
0    65.60
1    95.44
2    72.75
3    62.02
4    22.96

In [68]:
from sklearn.cluster import KMeans

![kmeans%20clustering.gif](attachment:kmeans%20clustering.gif)

In [69]:
kmeans1=KMeans(n_clusters=4,max_iter=200,random_state=100)
y_means=kmeans1.fit_predict(NewData)
y_means

array([1, 2, 1, ..., 0, 2, 1])

In [70]:
RFM["CLUSTER"]=y_means

In [71]:
RFM.head()

,CustomerID,Recency,Frequency,Monetary,R_final,F_final,M_final,RFM_SUM,Loyality,CLUSTER
0,12346.0,325,1,77183.60,3.76,17.20,99.79,65.60,Diamond,1
1,12347.0,2,7,4310.00,96.17,85.49,92.28,95.44,Platinum,2
2,12348.0,75,4,1797.24,38.08,69.79,76.84,72.75,Diamond,1
3,12349.0,18,1,1757.55,74.26,17.20,76.19,62.02,Diamond,1
4,12350.0,310,1,334.40,5.26,17.20,28.35,22.96,Silver,3

In [72]:
RFM["CLUSTER10"]=kmeans1.labels_

In [73]:
RFM.head()

,CustomerID,Recency,Frequency,Monetary,R_final,F_final,M_final,RFM_SUM,Loyality,CLUSTER,CLUSTER10
0,12346.0,325,1,77183.60,3.76,17.20,99.79,65.60,Diamond,1,1
1,12347.0,2,7,4310.00,96.17,85.49,92.28,95.44,Platinum,2,2
2,12348.0,75,4,1797.24,38.08,69.79,76.84,72.75,Diamond,1,1
3,12349.0,18,1,1757.55,74.26,17.20,76.19,62.02,Diamond,1,1
4,12350.0,310,1,334.40,5.26,17.20,28.35,22.96,Silver,3,3

In [74]:
RFM["CLUSTER"].value_counts()

3    1253
0    1104
1    1040
2     942
Name: CLUSTER, dtype: int64

In [75]:
RFM["Loyality"].value_counts()

Diamond     1101
Gold        1098
Platinum    1080
Silver      1060
Name: Loyality, dtype: int64

In [76]:
# yellow bricks to find best value of k

from yellowbrick.cluster import KElbowVisualizer
model=kmeans1
visualizer=KElbowVisualizer(model,k=(1,10)).fit(NewData)
visualizer.show()

In [ ]:
# evaluation of clustering

In [78]:
from sklearn.metrics import silhouette_score

In [79]:
labels=kmeans1.labels_
print(silhouette_score(NewData,labels))

0.5649889210598037

In [80]:
# GOAL2 --- Analysing the sales Trend w.r.to Timing, season, day, month..

In [81]:
df_final.head()

   InvoiceNo         InvoiceDate  CustomerID   Total
0     536365 2010-12-01 08:26:00     17850.0  139.12
1     536366 2010-12-01 08:28:00     17850.0   22.20
2     536367 2010-12-01 08:34:00     13047.0  278.73
3     536368 2010-12-01 08:34:00     13047.0   70.05
4     536369 2010-12-01 08:35:00     13047.0   17.85

In [82]:
df_final1=df_final.copy()

In [83]:
df_final1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18566 entries, 0 to 18565
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    18566 non-null  int64
 1   InvoiceDate  18566 non-null  datetime64[ns]
 2   CustomerID   18566 non-null  float64
 3   Total        18566 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 580.3 KB

In [84]:
# df[invoicedate]=pd.to_datetime(df[invoicedate])--- if it was in object data type

In [85]:
# how to extract year, month,day,date,time,hr from datetime data type

In [86]:
import datetime as dt

In [87]:
df_final1["Day"]=df_final1["InvoiceDate"].dt.day_name()

In [88]:
df_final1.head()

   InvoiceNo         InvoiceDate  CustomerID   Total        Day
0     536365 2010-12-01 08:26:00     17850.0  139.12  Wednesday
1     536366 2010-12-01 08:28:00     17850.0   22.20  Wednesday
2     536367 2010-12-01 08:34:00     13047.0  278.73  Wednesday
3     536368 2010-12-01 08:34:00     13047.0   70.05  Wednesday
4     536369 2010-12-01 08:35:00     13047.0   17.85  Wednesday

In [89]:
df_final1["Day"].value_counts()

Thursday     4038
Wednesday    3462
Tuesday      3189
Monday       2865
Friday       2835
Sunday       2177
Name: Day, dtype: int64

In [90]:
df_final1["Date"]=df_final1["InvoiceDate"].dt.day

In [91]:
df_final1["Month"]=df_final1["InvoiceDate"].dt.month

In [92]:
df_final1["Month_name"]=df_final1["InvoiceDate"].dt.month_name()

In [93]:
df_final1["Hour"]=df_final1["InvoiceDate"].dt.hour

In [94]:
df_final1.head()

,InvoiceNo,InvoiceDate,CustomerID,Total,Day,Date,Month,Month_name,Hour
0,536365,2010-12-01 08:26:00,17850.0,139.12,Wednesday,1,12,December,8
1,536366,2010-12-01 08:28:00,17850.0,22.20,Wednesday,1,12,December,8
2,536367,2010-12-01 08:34:00,13047.0,278.73,Wednesday,1,12,December,8
3,536368,2010-12-01 08:34:00,13047.0,70.05,Wednesday,1,12,December,8
4,536369,2010-12-01 08:35:00,13047.0,17.85,Wednesday,1,12,December,8

In [95]:
#df_final1["Hour"].value_counts()

In [96]:
#df_final1["Date"].value_counts()

In [97]:
# function to create season and timing

In [98]:
def cal_season(x):
    if x in[10,11,12,1]:
        return "Winter"
    if x in [2,3]:
        return "Spring"
    if x in [4,5,6]:
        return "Summer"
    else:
        return "Monsoon"

In [99]:
def cal_timing(x):
    if x in [3,4,5,6,7]:
        return "Early Morning"
    if x in [8,9,10,11]:
        return "Morning"
    if x in [12,13,14,15,16,17]:
        return "Afternoon"
    else:
        return "Evening"

In [100]:
df_final1["Season"]=df_final1["Month"].apply(cal_season)

In [101]:
df_final1["Timing"]=df_final1["Hour"].apply(cal_timing)

In [102]:
df_final1.head()

,InvoiceNo,InvoiceDate,CustomerID,Total,Day,Date,Month,Month_name,Hour,Season,Timing
0,536365,2010-12-01 08:26:00,17850.0,139.12,Wednesday,1,12,December,8,Winter,Morning
1,536366,2010-12-01 08:28:00,17850.0,22.20,Wednesday,1,12,December,8,Winter,Morning
2,536367,2010-12-01 08:34:00,13047.0,278.73,Wednesday,1,12,December,8,Winter,Morning
3,536368,2010-12-01 08:34:00,13047.0,70.05,Wednesday,1,12,December,8,Winter,Morning
4,536369,2010-12-01 08:35:00,13047.0,17.85,Wednesday,1,12,December,8,Winter,Morning

In [103]:
# assignment - create a column for weekend or not

In [104]:
# analysing the business trend as per Day-- monday, Tuesday...etc

In [105]:
day_counting=df_final1.groupby("Day")["InvoiceNo"].count().reset_index()

In [106]:
day_counting

         Day  InvoiceNo
0     Friday       2835
1     Monday       2865
2     Sunday       2177
3   Thursday       4038
4    Tuesday       3189
5  Wednesday       3462

In [107]:
# assignment --- please create the pie chart

plt.figure(figsize=(10,5))
day=df_final1["Day"].value_counts()
sns.barplot(day.index,day.values)

plt.axhline(y=day.mean())

In [109]:
# assignment please plot graph for month, season,timing

# 10 Most Selling recommended Product

In [110]:
df3=original_data.copy()

In [111]:
df3.head()

,InvoiceNo,StockCode,lower,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [112]:
df3["Total"]=df3["Quantity"]*df3["UnitPrice"]

In [113]:
df3=df3.drop(["UnitPrice"],axis=1)

In [114]:
df3.head()

,InvoiceNo,StockCode,lower,Description,Quantity,InvoiceDate,CustomerID,Country,Total
0,536365,85123A,white hanging heart t-light holder,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,17850.0,United Kingdom,15.30
1,536365,71053,white metal lantern,WHITE METAL LANTERN,6,2010-12-01 08:26:00,17850.0,United Kingdom,20.34
2,536365,84406B,cream cupid hearts coat hanger,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,17850.0,United Kingdom,22.00
3,536365,84029G,knitted union flag hot water bottle,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,17850.0,United Kingdom,20.34
4,536365,84029E,red woolly hottie white heart.,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,17850.0,United Kingdom,20.34

In [115]:
df3.isnull().sum()

InvoiceNo           0
StockCode           0
lower          540093
Description      1454
Quantity            0
InvoiceDate         0
CustomerID     135080
Country             0
Total               0
dtype: int64

In [116]:
# finding the overall sale of product using pivot table

In [117]:
df3_table=df3.pivot_table(values="Total",index=["StockCode"],aggfunc="sum",sort=True).reset_index()

In [118]:
df4_table=df3.pivot_table(values=["Total","Quantity"],index=["StockCode"],aggfunc="sum",sort=True).reset_index()

In [119]:
df3_table

         StockCode    Total
0            10002   759.89
1            10080   119.09
2            10120    40.53
3            10125   994.84
4            10133  1540.02
...            ...      ...
4065  gift_0001_20   167.05
4066  gift_0001_30   175.53
4067  gift_0001_40   100.70
4068  gift_0001_50   167.56
4069             m     2.55

[4070 rows x 2 columns]

In [120]:
df4_table

         StockCode  Quantity    Total
0            10002      1037   759.89
1            10080       495   119.09
2            10120       193    40.53
3            10125      1296   994.84
4            10133      2775  1540.02
...            ...       ...      ...
4065  gift_0001_20        20   167.05
4066  gift_0001_30        37   175.53
4067  gift_0001_40         3   100.70
4068  gift_0001_50         4   167.56
4069             m         1     2.55

[4070 rows x 3 columns]

In [121]:
df3_table[df3_table["Total"]==df3_table["Total"].max(axis=0)]

     StockCode      Total
4059       DOT  206245.48

In [122]:
df4_table[df4_table["Quantity"]==df4_table["Quantity"].max(axis=0)]

     StockCode  Quantity     Total
1070     22197     56450  50987.47

In [123]:
# assignment please find in decending order to find the top 5-10 selling products

# Most Selling recommended product - Country level

In [124]:
df5_table=df3.pivot_table(values="Total",index=["Country","Description"],aggfunc="sum",sort=False).reset_index()

In [125]:
df5_table

              Country                          Description     Total
0      United Kingdom   WHITE HANGING HEART T-LIGHT HOLDER  93953.07
1      United Kingdom                  WHITE METAL LANTERN   7684.25
2      United Kingdom       CREAM CUPID HEARTS COAT HANGER   5379.17
3      United Kingdom  KNITTED UNION FLAG HOT WATER BOTTLE  15779.79
4      United Kingdom       RED WOOLLY HOTTIE WHITE HEART.  21013.43
...               ...                                  ...       ...
20171         Belgium            HAND WARMER RED RETROSPOT     25.20
20172         Belgium               HAND WARMER OWL DESIGN     25.20
20173         Belgium      HANGING JAM JAR T-LIGHT HOLDERS     10.20
20174         Germany               HAND WARMER UNION JACK     25.20
20175         Germany           RIBBON REEL FLORA + FAUNA      16.50

[20176 rows x 3 columns]

In [126]:
df5_table_new=df5_table.drop(["Description"],axis=1)
df5_table_new.head(2)

          Country     Total
0  United Kingdom  93953.07
1  United Kingdom   7684.25

In [127]:
df_country=df5_table_new.groupby(by="Country").max().reset_index()

In [128]:
df_country

                 Country      Total
0              Australia    3375.84
1                Austria    1456.00
2                Bahrain     120.00
3                Belgium    4248.00
4                 Brazil     175.20
5                 Canada     550.94
6        Channel Islands     517.80
7                 Cyprus     580.00
8         Czech Republic      70.80
9                Denmark     734.40
10                  EIRE    7442.85
11    European Community     141.00
12               Finland    3472.00
13                France   15065.00
14               Germany   20821.00
15                Greece     285.00
16             Hong Kong     398.40
17               Iceland     371.70
18                Israel     551.10
19                 Italy    1645.00
20                 Japan    6087.79
21               Lebanon     153.00
22             Lithuania     135.00
23                 Malta     525.00
24           Netherlands    9568.48
25                Norway    2870.50
26                Poland     360.00
27              Portugal    2508.00
28                   RSA      38.25
29          Saudi Arabia      19.80
30             Singapore     340.80
31                 Spain    5852.00
32                Sweden    1895.40
33           Switzerland    3880.00
34                   USA     162.72
35  United Arab Emirates     153.00
36        United Kingdom  206245.48
37           Unspecified      70.50

In [129]:
df_country["Primary"]=df_country["Country"]+" "+ (df_country["Total"].map(str))

In [130]:
df_country.head()

     Country    Total            Primary
0  Australia  3375.84  Australia 3375.84
1    Austria  1456.00     Austria 1456.0
2    Bahrain   120.00      Bahrain 120.0
3    Belgium  4248.00     Belgium 4248.0
4     Brazil   175.20       Brazil 175.2

In [131]:
# creating a same column in df 5

In [132]:
df5_table["Primary"]=df5_table["Country"]+" "+ (df5_table["Total"].map(str))

In [133]:
df5_table

,Country,Description,Total,Primary
0,United Kingdom,WHITE HANGING HEART T-LIGHT HOLDER,93953.07,United Kingdom 93953.07
1,United Kingdom,WHITE METAL LANTERN,7684.25,United Kingdom 7684.25
2,United Kingdom,CREAM CUPID HEARTS COAT HANGER,5379.17,United Kingdom 5379.17
3,United Kingdom,KNITTED UNION FLAG HOT WATER BOTTLE,15779.79,United Kingdom 15779.79
4,United Kingdom,RED WOOLLY HOTTIE WHITE HEART.,21013.43,United Kingdom 21013.43
...,...,...,...,...
20171,Belgium,HAND WARMER RED RETROSPOT,25.20,Belgium 25.200000000000003
20172,Belgium,HAND WARMER OWL DESIGN,25.20,Belgium 25.200000000000003
20173,Belgium,HANGING JAM JAR T-LIGHT HOLDERS,10.20,Belgium 10.2
20174,Germany,HAND WARMER UNION JACK,25.20,Germany 25.200000000000003
20175,Germany,RIBBON REEL FLORA + FAUNA,16.50,Germany 16.5

In [134]:
df_merg=df_country.merge(df5_table,how="left",on="Primary")

In [135]:
df_merg.head()

,Country_x,Total_x,Primary,Country_y,Description,Total_y
0,Australia,3375.84,Australia 3375.84,Australia,RABBIT NIGHT LIGHT,3375.84
1,Austria,1456.00,Austria 1456.0,Austria,POSTAGE,1456.00
2,Bahrain,120.00,Bahrain 120.0,Bahrain,ICE CREAM SUNDAE LIP GLOSS,120.00
3,Belgium,4248.00,Belgium 4248.0,Belgium,POSTAGE,4248.00
4,Brazil,175.20,Brazil 175.2,Brazil,REGENCY CAKESTAND 3 TIER,175.20

# Recommendation Engine

The global market for the usage of Recommendation Engine was valued at USD 2.69 
billion in 2021. It is anticipated to surpass USD 15.10 billion by 2026, 
reporting a CAGR of 37.79% during 2022-2026.


The recommendations that companies give you sometimes use data analysis 
techniques to identify items that match your taste and preferences.

What is a Recommendation Engine?
A recommendation engine is a data filtering system that operates on different 
machine learning algorithms to recommend products, services, and information to 
users based on data analysis. It works on the principle of finding patterns in 
customer behavior data employing a variety of factors such as customer preferences, 
past transaction history, attributes, or situational context.

Different Techniques of Recommendation Engines
There are three different types of recommender engines known in 
machine learning, and they are:

1. Collaborative Filtering

The collaborative filtering method collects and analyzes data on user 
behavior, online activities, and preferences to predict what they will 
like based on the similarity with other users. It uses a matrix-style 
formula to plot and calculates these similarities.

Advantage

One significant advantage of collaborative filtering is that 
it doesn’t need to analyze or understand the object (products, films, books) 
to recommend complex items precisely. There is no dependence on analyzable 
machine content, which means it chooses recommendations based on what it knows about the user.

Example

If user X likes Book A, Book B, and Book C while user Y likes Book A, 
Book B, and Book D, they have similar interests. So, it is favorably 
possible that user X would select Book D and user Y would enjoy reading Bood C. 
This is how collaborative filtering happens.

2. Content-Based Filtering

Content-based filtering works on the principle of describing a product 
and a profile of the user’s desired choices. It assumes that you will 
also like this other item if you like a particular item. Products are 
defined using keywords (genre, product type, color, word length) to make 
recommendations. A user profile is created to describe the kind of item 
this user enjoys. Then the algorithm evaluates the similarity of items 
using cosine and Euclidean distances.

Advantage

One significant advantage of this recommender engine technique is that it 
does not need any additional data about other users since the recommendations 
are specific to this user. Also, this model can capture the particular 
interests of a user and suggest niche objects that very few other users are interested in.

Example

Suppose a user X likes to watch action movies like Spider-man. In that case, 
this recommender engine technique only recommends movies of the action genre 
or films describing Tom Holland.

3. Hybrid Model

In hybrid recommendation systems, both the meta (collaborative) data and 
the transactional (content-based) data are used simultaneously to suggest 
a broader range of items to the users. In this technique, natural language 
processing tags can be allocated for each object (movie, song), and vector 
equations calculate the similarity. A collaborative filtering matrix can then 
suggest things to users, depending on their behaviors, actions, and intentions.

Advantages

This recommendation system is up-and-coming and is said to outperform both of 
the above methods in terms of accuracy.

Example

Netflix uses a hybrid recommendation engine. It makes recommendations by 
analyzing the user’s interests (collaborative) and recommending such 
shows/movies that share similar attributes with those rated highly by the user(content-based).

In [137]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [ ]:
original_data=pd.read_excel("Online_shopping.xlsx")

# movie recommendation engine

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#data=pd.read_csv("movies_dataset.csv")

In [138]:
df50=original_data.copy()

In [139]:
df50.head()

,InvoiceNo,StockCode,lower,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [140]:
df50.isnull().sum()

InvoiceNo           0
StockCode           0
lower          540093
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [141]:
df50=df50.drop(["lower"],axis=1)

In [142]:
df50.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [143]:
df50.dropna(axis=0,inplace=True)

In [144]:
df50.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [145]:
df50.shape

(406829, 8)

In [ ]:
#step 1--create a pivot table ( customer id, stock code)
# step 2-- apply the cosine similarity function on pivot table-- it geberate the similarity index.
#step 3 - extract the item purchased by  any two customer(having highest similarity)
# we can recommend the differce of product.

In [148]:
custID_matrix=df50.pivot_table(index="CustomerID",columns="StockCode",values="Quantity",aggfunc="sum",fill_value=0)

In [149]:
custID_matrix

StockCode,10002,10080,10120,10125,10133,10135,11001,15030,15034,15036,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
12349.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12350.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18280.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18281.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18282.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18283.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
18287.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# apply the similarity function

In [150]:
from sklearn.metrics.pairwise import cosine_similarity

In [224]:
similarity100=cosine_similarity(custID_matrix)

In [225]:
similarity100

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.14887891, ..., 0.01192112, 0.07451023,
        0.10894226],
       [0.        , 0.14887891, 1.        , ..., 0.        , 0.17517012,
        0.11009593],
       ...,
       [0.        , 0.01192112, 0.        , ..., 1.        , 0.00377618,
        0.        ],
       [0.        , 0.07451023, 0.17517012, ..., 0.00377618, 1.        ,
        0.04444524],
       [0.        , 0.10894226, 0.11009593, ..., 0.        , 0.04444524,
        1.        ]])

In [226]:
similarity100.shape

(4372, 4372)

In [155]:
final=pd.DataFrame(similarity)

In [156]:
final

,0,1,2,3,4,5,6,7,8,9,...,4362,4363,4364,4365,4366,4367,4368,4369,4370,4371
0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,1.000000,0.148879,0.020750,0.014435,0.034833,0.0,0.023478,0.506252,0.186107,...,0.0,0.0,0.407060,-0.001245,0.015133,0.037236,0.000000,0.011921,0.074510,0.108942
2,0.0,0.148879,1.000000,0.000169,0.000315,0.001578,0.0,0.010634,0.286226,0.226244,...,0.0,0.0,0.168758,0.000000,0.000000,0.000000,0.000000,0.000000,0.175170,0.110096
3,0.0,0.020750,0.000169,1.000000,0.030121,0.136488,0.0,0.004931,0.000180,0.150819,...,0.0,0.0,0.000000,-0.000344,0.015680,0.000000,0.000000,0.014689,0.065295,0.022576
4,0.0,0.014435,0.000315,0.030121,1.000000,0.001938,0.0,0.000000,0.000000,0.001179,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019385,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4367,0.0,0.037236,0.000000,0.000000,0.000000,0.000000,0.0,0.002707,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.043042,1.000000,0.098363,0.000000,0.000000,0.000000
4368,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000435,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.098363,1.000000,0.000000,0.098201,0.000000
4369,0.0,0.011921,0.000000,0.014689,0.000000,0.002966,0.0,0.000000,0.007169,0.004772,...,0.0,0.0,0.000000,-0.001372,0.000000,0.000000,0.000000,1.000000,0.003776,0.000000
4370,0.0,0.074510,0.175170,0.065295,0.019385,0.017238,0.0,0.104890,0.050042,0.063930,...,0.0,0.0,0.032142,0.070999,0.000000,0.000000,0.098201,0.003776,1.000000,0.044445
4371,0.0,0.108942,0.110096,0.022576,0.000000,0.015046,0.0,0.000000,0.201498,0.000000,...,0.0,0.0,0.104206,0.000000,0.002449,0.000000,0.000000,0.000000,0.044445,1.000000

In [ ]:
# Placing the customer Id at Rows and column in the above data frame

In [157]:
final["customerID"]=custID_matrix.index

In [158]:
final=final.set_index("customerID")

In [159]:
final.head()

,0,1,2,3,4,5,6,7,8,9,...,4362,4363,4364,4365,4366,4367,4368,4369,4370,4371
customerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
12347.0,0.0,1.000000,0.148879,0.020750,0.014435,0.034833,0.0,0.023478,0.506252,0.186107,...,0.0,0.0,0.407060,-0.001245,0.015133,0.037236,0.0,0.011921,0.074510,0.108942
12348.0,0.0,0.148879,1.000000,0.000169,0.000315,0.001578,0.0,0.010634,0.286226,0.226244,...,0.0,0.0,0.168758,0.000000,0.000000,0.000000,0.0,0.000000,0.175170,0.110096
12349.0,0.0,0.020750,0.000169,1.000000,0.030121,0.136488,0.0,0.004931,0.000180,0.150819,...,0.0,0.0,0.000000,-0.000344,0.015680,0.000000,0.0,0.014689,0.065295,0.022576
12350.0,0.0,0.014435,0.000315,0.030121,1.000000,0.001938,0.0,0.000000,0.000000,0.001179,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.019385,0.000000

In [160]:
final.columns=custID_matrix.index

In [161]:
final.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18273.0,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0
customerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
12347.0,0.0,1.000000,0.148879,0.020750,0.014435,0.034833,0.0,0.023478,0.506252,0.186107,...,0.0,0.0,0.407060,-0.001245,0.015133,0.037236,0.0,0.011921,0.074510,0.108942
12348.0,0.0,0.148879,1.000000,0.000169,0.000315,0.001578,0.0,0.010634,0.286226,0.226244,...,0.0,0.0,0.168758,0.000000,0.000000,0.000000,0.0,0.000000,0.175170,0.110096
12349.0,0.0,0.020750,0.000169,1.000000,0.030121,0.136488,0.0,0.004931,0.000180,0.150819,...,0.0,0.0,0.000000,-0.000344,0.015680,0.000000,0.0,0.014689,0.065295,0.022576
12350.0,0.0,0.014435,0.000315,0.030121,1.000000,0.001938,0.0,0.000000,0.000000,0.001179,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.019385,0.000000

In [ ]:
# the above matrix is the degree of similarity between any two customers.

In [ ]:
# for example .. we have a reference customer 12350.0... we want to see the similar customer

In [166]:
final.loc[12350.0].sort_values(ascending=False)
# we can paas any cust ID to calcualte the similaritry with other customers

CustomerID
12350.0    1.000000
15180.0    0.337317
15422.0    0.336127
13455.0    0.228141
15435.0    0.214309
             ...
16217.0   -0.000602
18270.0   -0.000618
16252.0   -0.047206
14304.0   -0.053090
17548.0   -0.054147
Name: 12350.0, Length: 4372, dtype: float64

In [ ]:
# Customer A---> 12350.0, customer B--->15180.0

In [168]:
item_cust_A=set(custID_matrix.loc[12350.0].iloc[custID_matrix.loc[12350.0].to_numpy().nonzero()].index)

In [169]:
item_cust_A

{20615,
 20652,
 21171,
 21832,
 21864,
 21866,
 21908,
 21915,
 22348,
 22412,
 22551,
 22557,
 22620,
 '79066K',
 '79191C',
 '84086C',
 'POST'}

In [170]:
item_cust_B=set(custID_matrix.loc[15180.0].iloc[custID_matrix.loc[15180.0].to_numpy().nonzero()].index)

In [171]:
item_cust_B

{22112, 22113, 22114, 22348, 22835, 72741}

In [172]:
item_cust_123460=set(custID_matrix.loc[12346.0].iloc[custID_matrix.loc[12346.0].to_numpy().nonzero()].index)

In [173]:
item_cust_123460

set()

In [174]:
Recommended_product_cust_A=item_cust_B-item_cust_A

In [175]:
Recommended_product_cust_A

{22112, 22113, 22114, 22835, 72741}

In [ ]:
# lets see the description of these recommended products

In [178]:
df50.loc[df50["StockCode"].isin(Recommended_product_cust_A),["StockCode","Description"]].drop_duplicates()

     StockCode                        Description
82       22114  HOT WATER BOTTLE TEA AND SYMPATHY
311      22835    HOT WATER BOTTLE I AM SO POORLY
312      22112         CHOCOLATE HOT WATER BOTTLE
695      22113        GREY HEART HOT WATER BOTTLE
1378     72741              GRAND CHOCOLATECANDLE

# Movie Recommendation

In [ ]:
#movies_dataset.csv

In [227]:
movies=pd.read_csv("movies_dataset.csv")

In [228]:
movies_df=movies.copy()

In [229]:
movies_df.head()

,Unnamed: 0,movie_id,title,tags
0,0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [230]:
movies_df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [231]:
movies_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [232]:
movies_df.isnull().sum()

movie_id    0
title       0
tags        0
dtype: int64

In [233]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4806 entries, 0 to 4805
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4806 non-null   int64
 1   title     4806 non-null   object
 2   tags      4806 non-null   object
dtypes: int64(1), object(2)
memory usage: 112.8+ KB

In [234]:
movies_df["tags"][4]

"John Carter is a war-weary, former military captain who's inexplicably transported to the mysterious and exotic planet of Barsoom (Mars) and reluctantly becomes embroiled in an epic conflict. It's a world on the brink of collapse, and Carter rediscovers his humanity when he realizes the survival of Barsoom and its people rests in his hands. Action Adventure ScienceFiction basedonnovel mars medallion spacetravel princess alien steampunk martian escape edgarriceburroughs alienrace superhumanstrength marscivilization swordandplanet 19thcentury 3d TaylorKitsch LynnCollins SamanthaMorton AndrewStanton"

In [235]:
movies_df["tags"][10]

'Superman returns to discover his 5-year absence has allowed Lex Luthor to walk free, and that those he was closest too felt abandoned and have moved on. Luthor plots his ultimate revenge that could see millions killed and change the face of the planet forever, as well as ridding himself of the Man of Steel. Adventure Fantasy Action ScienceFiction savingtheworld dccomics invulnerability sequel superhero basedoncomicbook kryptonite superpowers superhumanstrength lexluthor BrandonRouth KevinSpacey KateBosworth BryanSinger'

In [236]:
# create a Bag of words
# CountVectorizer---- it take the verb adverb also in the consideration , 
# TfidfVectorizer---- it only take the imprtant word

In [237]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [238]:
# TF-DF approach

In [239]:
tfidf=TfidfVectorizer()

In [240]:
overview_matrix=tfidf.fit_transform(movies_df["tags"])

In [241]:
overview_matrix

<4806x35831 sparse matrix of type '<class 'numpy.float64'>'
	with 261807 stored elements in Compressed Sparse Row format>

In [242]:
overview_matrix.shape

(4806, 35831)

In [243]:
count_array=overview_matrix.toarray()

In [244]:
count_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [245]:
overview_matrix=pd.DataFrame(data=count_array,columns=tfidf.get_feature_names_out())

In [246]:
overview_matrix

,00,000,007,07am,10,100,1000,101,108,10th,...,única,über,đỗthịhảiyến,špelacolja,γη,юлияснигирь,卧底肥妈,张立,绝地奶霸,超级妈妈
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [247]:
#apply the cosine similarity in count_array

In [248]:
from  sklearn.metrics.pairwise import cosine_similarity

In [249]:
similarity_matrix=pd.DataFrame(cosine_similarity(count_array))

In [250]:
similarity_matrix

,0,1,2,3,4,5,6,7,8,9,...,4796,4797,4798,4799,4800,4801,4802,4803,4804,4805
0,1.000000,0.028301,0.017183,0.024261,0.079641,0.039612,0.013027,0.065816,0.018059,0.018172,...,0.003616,0.006978,0.035071,0.034464,0.014465,0.015708,0.010677,0.020631,0.013451,0.007094
1,0.028301,1.000000,0.031347,0.021184,0.041685,0.049074,0.016521,0.063842,0.028338,0.033123,...,0.002105,0.015714,0.030164,0.034941,0.043802,0.023869,0.009761,0.028020,0.019850,0.011713
2,0.017183,0.031347,1.000000,0.022886,0.027405,0.028827,0.011407,0.077295,0.025291,0.021344,...,0.010343,0.003522,0.013062,0.013786,0.029785,0.030635,0.005201,0.029275,0.013353,0.012780
3,0.024261,0.021184,0.022886,1.000000,0.025754,0.029991,0.027739,0.067242,0.019851,0.151983,...,0.002605,0.012626,0.023483,0.025531,0.031535,0.032729,0.010949,0.045792,0.046781,0.026641
4,0.079641,0.041685,0.027405,0.025754,1.000000,0.028968,0.041728,0.084898,0.021634,0.036152,...,0.012671,0.017421,0.031181,0.027378,0.044481,0.037639,0.008840,0.033013,0.029701,0.019233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4801,0.015708,0.023869,0.030635,0.032729,0.037639,0.014975,0.024614,0.060240,0.038213,0.022611,...,0.007588,0.021340,0.037669,0.019804,0.056922,1.000000,0.003609,0.021091,0.041227,0.026576
4802,0.010677,0.009761,0.005201,0.010949,0.008840,0.007257,0.008762,0.010744,0.003054,0.004524,...,0.000000,0.006534,0.010743,0.015006,0.008643,0.003609,1.000000,0.025532,0.016957,0.005606
4803,0.020631,0.028020,0.029275,0.045792,0.033013,0.029607,0.036127,0.035608,0.031252,0.025760,...,0.016584,0.018961,0.043485,0.038865,0.025103,0.021091,0.025532,1.000000,0.041835,0.030052
4804,0.013451,0.019850,0.013353,0.046781,0.029701,0.015934,0.029049,0.030346,0.037406,0.019673,...,0.002696,0.022759,0.031886,0.031459,0.037660,0.041227,0.016957,0.041835,1.000000,0.038382
4805,0.007094,0.011713,0.012780,0.026641,0.019233,0.009789,0.025777,0.022554,0.026550,0.020820,...,0.002922,0.007308,0.054200,0.015931,0.031843,0.026576,0.005606,0.030052,0.038382,1.000000

In [251]:
similarity_matrix[5]

0       0.039612
1       0.049074
2       0.028827
3       0.029991
4       0.028968
          ...
4801    0.014975
4802    0.007257
4803    0.029607
4804    0.015934
4805    0.009789
Name: 5, Length: 4806, dtype: float64

In [252]:
similarity_score=list(enumerate(similarity[5]))

In [253]:
similarity_score

[(0, 0.0),
 (1, 0.0348332267482791),
 (2, 0.0015781732401801765),
 (3, 0.13648782438235474),
 (4, 0.0019381801580646999),
 (5, 1.0),
 (6, 0.0),
 (7, 0.05345638735772705),
 (8, 0.0011973180076628352),
 (9, 0.048194300523816264),
 (10, 0.05574180383949068),
 (11, 0.10086218780594426),
 (12, 0.06471580293990428),
 (13, 0.024668234943497815),
 (14, 0.06900335674495683),
 (15, 0.07502517456496531),
 (16, 0.0),
 (17, 0.006113474004682708),
 (18, 0.0017076532610079665),
 (19, 0.02941428653178438),
 (20, 0.0195099770052763),
 (21, 0.013268247626817373),
 (22, 0.05739568247432855),
 (23, 0.0016513473357069176),
 (24, 0.006229250471128458),
 (25, 0.0033500679264351746),
 (26, 0.05020916068195133),
 (27, 0.015441207313332369),
 (28, 0.0062910412876291365),
 (29, 0.05198871214560633),
 (30, 0.14122708093364592),
 (31, 0.015344047967374486),
 (32, 0.033415434542755494),
 (33, 0.0),
 (34, 0.025656703612755585),
 (35, 0.005690366512689426),
 (36, 0.004742839440367799),
 (37, 0.029246775097830777),
 (38, 0.02371344355159097),
 (39, 0.06413712124602271),
 (40, 0.13628976291891726),
 (41, 0.05477655584151111),
 (42, 0.021555161140446772),
 (43, 0.04298277509246562),
 (44, 0.07414164355550616),
 (45, 0.0028136458043423866),
 (46, 0.023031623088608927),
 (47, 0.04263907237268298),
 (48, 0.041071013488744756),
 (49, 0.084949677480749),
 (50, 0.03431234643951056),
 (51, 0.014012802651281304),
 (52, 0.03500155997369938),
 (53, 0.01361700491666951),
 (54, 0.0031647402264078),
 (55, 0.1238361131083875),
 (56, 0.05551208503935828),
 (57, 0.014940903834626588),
 (58, 0.0075657663034865135),
 (59, 0.12378645376863796),
 (60, 0.0045802168363865674),
 (61, 0.02322531420012959),
 (62, 0.02021229290931858),
 (63, 0.007634417569877222),
 (64, 0.00821094432618681),
 (65, 0.021089647691047653),
 (66, 0.049463181610876976),
 (67, 0.07614212443508891),
 (68, 0.0024751970778909833),
 (69, 0.14784150805718901),
 (70, 0.07009579406835201),
 (71, 0.08620643583656794),
 (72, 0.0018678533244837097),
 (73, 0.05082591028494571),
 (74, 0.036723502236893836),
 (75, 0.02488222310610116),
 (76, 0.10684482226109943),
 (77, 0.006895248397711451),
 (78, 0.0016474196764614732),
 (79, 0.1816433021780876),
 (80, 0.005466164992422186),
 (81, 0.03023582182870461),
 (82, 0.007208297058847884),
 (83, 0.0376361191519406),
 (84, 0.09355405074338335),
 (85, 0.0),
 (86, 0.015439645464414205),
 (87, 0.07930665699059773),
 (88, 0.03100707365134324),
 (89, 0.0),
 (90, 0.004739464529257015),
 (91, 0.04586407724344822),
 (92, 0.025994366309211914),
 (93, 0.08942264308342969),
 (94, 0.011258300668574929),
 (95, 0.10355765186223911),
 (96, 0.117214665824632),
 (97, 0.04295841231977808),
 (98, 0.0045223414010482806),
 (99, 0.03454661514714596),
 (100, 0.1920417196236607),
 (101, 0.08464936208428242),
 (102, 0.009115105685646337),
 (103, 0.04073361230227197),
 (104, 0.028008878664438734),
 (105, 0.07911714579855),
 (106, 0.04542178849084229),
 (107, 0.015064461994729963),
 (108, 0.034994366544561645),
 (109, 0.04108075090862626),
 (110, 0.11405669863180071),
 (111, 0.10919224404769089),
 (112, 0.031825989790650766),
 (113, 0.11207069775695022),
 (114, 0.009243403924900293),
 (115, 0.05454620743907994),
 (116, 0.056618158935919774),
 (117, 0.003851851996777503),
 (118, 0.0017015428396923535),
 (119, 0.018235512287343887),
 (120, 0.046498610902036656),
 (121, 0.007472888471312504),
 (122, 0.000936153129790625),
 (123, 0.021073407208505045),
 (124, 0.10261236252411692),
 (125, 0.0),
 (126, 0.00867620014280539),
 (127, 0.0),
 (128, 0.02935367347443961),
 (129, 0.0033832789342991437),
 (130, 0.026471410112632043),
 (131, 0.0043339025860739564),
 (132, 0.05528498690241135),
 (133, 0.005041012157393959),
 (134, 0.0033906404516208196),
 (135, 0.11799192099033948),
 (136, 0.015837578900681402),
 (137, 0.0027947241330359405),
 (138, 0.1197272527374258),
 (139, 0.08288680605715293),
 (140, 0.12581792740532896),
 (141, 0.045408665074903584),
 (142, 0.04165814814667789),
 (143, 0.0018450646592988412),
 (144, 0.031996067880187086),
 (145, 0.06696727180124631),
 (146, 0.05729171306167227),
 (147, 0.001506621035606887),
 (148, 0.14775858527051347),
 (149, 0.016464530557725867),
 (150, 0.042086700224739954),
 (151, 0.004515511187200225),
 (152, 0.05675311089314587),
 (153, 0.011386927900833822),
 (154, 0.06946775523346141),
 (155, 0.004901165893232424),
 (156, 0.08594355100418868),
 (157, 0.05795918295429447),
 (158, 0.00601857352769272),
 (159, 0.005868131841869321),
 (160, 0.008582259322934124),
 (161, 0.009983706574709532),
 (162, 0.003581595017187012),
 (163, 0.00410238589547559),
 (164, 0.0608199266059356),
 (165, 0.0),
 (166, 0.021557519293090945),
 (167, 0.06781501407522941),
 (168, 0.005398485267975426),
 (169, 0.0),
 (170, 0.0),
 (171, 0.0025617116456478754),
 (172, 0.15426921220586465),
 (173, 0.001001553424709798),
 (174, 0.05543536316600654),
 (175, 0.06846563796922737),
 (176, 0.0),
 (177, 0.058972913322699334),
 (178, 0.09182470765993751),
 (179, 0.17941243221350128),
 (180, 0.019229731123483865),
 (181, 0.012032394706554223),
 (182, 0.0),
 (183, 0.020390082620313194),
 (184, 0.04982784002433353),
 (185, 0.01220391407014942),
 (186, 0.030985838251155508),
 (187, 0.00413607079381978),
 (188, 0.003787303267759973),
 (189, 0.002120792094068642),
 (190, 0.007263603317052514),
 (191, 0.04258123028758924),
 (192, 0.09352600049942211),
 (193, 0.01757358764431494),
 (194, 0.012123091475022729),
 (195, 0.003282933014723426),
 (196, 0.10934716848442087),
 (197, 0.10710968100886652),
 (198, 0.045382985525372),
 (199, 0.04334291372001761),
 (200, 0.0019641868951522515),
 (201, 0.13090055963347355),
 (202, 0.001320343930181751),
 (203, 0.004180603269193806),
 (204, 0.04166693152617916),
 (205, 0.0802289021271635),
 (206, 0.0034140457260505176),
 (207, 0.026857591167907372),
 (208, 0.017920729323713358),
 (209, 0.0),
 (210, 0.08205393048408247),
 (211, 0.005807054759978363),
 (212, 0.0),
 (213, 0.0),
 (214, 0.0472860161066183),
 (215, 0.03824522889417496),
 (216, 0.025145472560071297),
 (217, 0.002793079835450739),
 (218, 0.0601869875679811),
 (219, 0.008165555565143362),
 (220, 0.04766195207905573),
 (221, 0.009979104898677612),
 (222, 0.0),
 (223, 0.008738581894878273),
 (224, 0.0023282787802869744),
 (225, 0.003529938642498515),
 (226, 0.044025724054369754),
 (227, 0.006703795541465529),
 (228, 0.04344601555854371),
 (229, 0.00990210585053963),
 (230, 0.010997015951691981),
 (231, 0.05104302417660489),
 (232, 0.01905218925617039),
 (233, 0.010498460198346875),
 (234, 0.16466386477816772),
 (235, 0.05847588245370983),
 (236, 0.013550196927503522),
 (237, 0.06337132993794423),
 (238, 0.017639483284352074),
 (239, 0.03752229538707249),
 (240, 0.005990956812504013),
 (241, 0.053335921014552146),
 (242, 0.003234822303389898),
 (243, 0.006363851943016005),
 (244, 0.025327874552268988),
 (245, 0.09632115757017126),
 (246, 0.08164634642645316),
 (247, 0.003594351039331663),
 (248, 0.04220843147806882),
 (249, 0.06743346871312393),
 (250, 0.028466982784426127),
 (251, 0.006241756661418119),
 (252, 0.004451704995640709),
 (253, 0.03926250427257123),
 (254, 0.06660093862157111),
 (255, 0.06719411553837),
 (256, 0.05771304492909527),
 (257, 0.006717641418230225),
 (258, 0.004408923063367733),
 (259, 0.0012947104480202077),
 (260, 0.010253607260494802),
 (261, 0.041386278652122355),
 (262, 0.0020233751699954197),
 (263, 0.15718846812805762),
 (264, 0.0),
 (265, 0.041730130950177115),
 (266, 0.28637345637013),
 (267, 0.022745767568583757),
 (268, 0.05679284107421623),
 (269, 0.18415674891392186),
 (270, 0.005640458264821003),
 (271, 0.011953582365589783),
 (272, 0.0628572075374918),
 (273, 0.013747373338583217),
 (274, 0.17720995563609432),
 (275, 0.09623119299423265),
 (276, 0.09815921924213075),
 (277, 0.0494363141042801),
 (278, 0.04536884450585926),
 (279, 0.011274087789730974),
 (280, 0.039162583990843686),
 (281, 0.0021417263894942043),
 (282, 0.06757575147379977),
 (283, 0.07372262327745957),
 (284, 0.07536132376404558),
 (285, 0.15730118844955554),
 (286, 0.15167879397544015),
 (287, 0.007591919971177378),
 (288, 0.007334837778804835),
 (289, 0.09438812797994195),
 (290, 0.07415350284075849),
 (291, 0.021241412487871692),
 (292, 0.005587843347939026),
 (293, 0.005888764634028562),
 (294, 0.06308994152024038),
 (295, 0.06011014052390877),
 (296, 0.0),
 (297, 0.04898714178322276),
 (298, 0.04739441157255151),
 (299, 0.026704270962347766),
 (300, 0.01675547918487605),
 (301, 0.05146833460871719),
 (302, 0.04611791211212018),
 (303, 0.046510432878082125),
 (304, 0.012946297388478415),
 (305, 0.07675606570758858),
 (306, 0.003697590358638231),
 (307, 0.2146738536257154),
 (308, 0.024789230311999474),
 (309, 0.07093911447460378),
 (310, 0.0037292804131165893),
 (311, 0.027185623521686606),
 (312, 0.041478200276067814),
 (313, 0.004851906694354816),
 (314, 0.005133826921952225),
 (315, 0.015091847819992139),
 (316, 0.05471544324361918),
 (317, 0.00889397648849906),
 (318, 0.037045427969086525),
 (319, 0.0024355669783568605),
 (320, 0.03221984246900866),
 (321, 0.0),
 (322, 0.038679025969484915),
 (323, 0.003947776080277242),
 (324, 0.0018343248667315357),
 (325, 0.036252676434262394),
 (326, 0.0),
 (327, 0.010815050001296601),
 (328, 0.02042803293134514),
 (329, 0.003689593319446938),
 (330, 0.03418870622230915),
 (331, 0.11345862172219065),
 (332, 0.003484025366780504),
 (333, 0.03505255358214635),
 (334, 0.058608416848190376),
 (335, 0.0),
 (336, 0.00014664051605461456),
 (337, 0.0),
 (338, 0.04390595641167921),
 (339, 0.007303921570478507),
 (340, 0.06500064519479143),
 (341, 0.031237354117341392),
 (342, 0.0),
 (343, 0.05301108791212555),
 (344, 0.07127773821552874),
 (345, 0.13815560999727097),
 (346, 0.0),
 (347, 0.006805483859089271),
 (348, 0.004065581322668209),
 (349, 0.027067345848327193),
 (350, 0.2605834692364864),
 (351, 0.0),
 (352, 0.05577856477539627),
 (353, 0.02704702766864419),
 (354, 0.0031796237504791726),
 (355, 0.005204509875255238),
 (356, 0.003926381033211154),
 (357, 0.04927134540081105),
 (358, 0.004300755616981542),
 (359, 0.0010264306765992322),
 (360, 0.003945655262129942),
 (361, 0.00370724475275581),
 (362, 0.07979982376426756),
 (363, 0.04385813150439527),
 (364, 0.002969824306712032),
 (365, 0.0),
 (366, 0.05835362804141805),
 (367, 0.0024775428662025425),
 (368, 0.018690897826979257),
 (369, 0.005419125492187174),
 (370, 0.04927770915226165),
 (371, 0.0020525273464137286),
 (372, 0.14804387998547539),
 (373, 0.03168723310107154),
 (374, 0.003152659988890617),
 (375, 0.002069365351623576),
 (376, 0.003969032981840462),
 (377, 0.0),
 (378, 0.06840719279064668),
 (379, 0.0),
 (380, 0.0),
 (381, 0.0022083434942763783),
 (382, 0.06622680204102084),
 (383, 0.0013740683492116938),
 (384, 0.0),
 (385, 0.0032904727346485265),
 (386, 0.0),
 (387, 0.008806102042331882),
 (388, 0.0),
 (389, 0.0),
 (390, 0.028973180262603104),
 (391, 0.014539207632958065),
 (392, 0.014869644170070747),
 (393, 0.10544866874683705),
 (394, 0.0015361221241511212),
 (395, 0.0077858356135160536),
 (396, 0.0),
 (397, 0.009615325279673233),
 (398, 0.01406532307020202),
 (399, 0.0),
 (400, 0.025684009291165804),
 (401, 0.00042485190270663553),
 (402, 0.0),
 (403, 0.01450542838526072),
 (404, 0.035463201171810066),
 (405, 0.0248769854335049),
 (406, 0.0),
 (407, 0.0014641962321085195),
 (408, 0.0374365582044478),
 (409, 0.009136190142814053),
 (410, 0.0),
 (411, 0.055235858329954125),
 (412, 0.010645490601354845),
 (413, 0.010887133783844252),
 (414, 0.05049455939304191),
 (415, -0.029862944958084087),
 (416, 0.03818724913936568),
 (417, 0.053241073529990614),
 (418, 0.0),
 (419, 0.0),
 (420, 0.01085453581806228),
 (421, 0.04570757197426765),
 (422, 0.07423757680773817),
 (423, 0.0),
 (424, 0.08133682415371982),
 (425, 0.006457513371582041),
 (426, 0.0196377516362586),
 (427, 0.0),
 (428, 0.08617433492769125),
 (429, 0.06388885148441378),
 (430, 0.0),
 (431, 0.00812766415156951),
 (432, 0.0),
 (433, 0.0),
 (434, 0.03872828436168109),
 (435, 0.003026062741404823),
 (436, 0.00020915928671233708),
 (437, 0.0397559554274699),
 (438, 0.0017851504670092398),
 (439, 0.0348891764141231),
 (440, 0.0),
 (441, 0.05377423008091735),
 (442, 0.026558505260924695),
 (443, 0.0),
 (444, 0.009348967720675817),
 (445, 0.0432105704535477),
 (446, 0.0034429314232550016),
 (447, 0.0),
 (448, 0.0),
 (449, 0.003225482716884086),
 (450, 0.04824779772181506),
 (451, 0.0),
 (452, 0.0033956273373609023),
 (453, 0.017580256480637844),
 (454, 0.05990166559367907),
 (455, 0.008886057070253394),
 (456, 0.021247857834252135),
 (457, 0.005710989370524476),
 (458, 0.022369509457682735),
 (459, 0.0),
 (460, 0.0012901948288253048),
 (461, 0.017765060856248537),
 (462, 0.004357603927865536),
 (463, 0.0),
 (464, 0.0),
 (465, 0.009047498828575164),
 (466, 0.01883682001885939),
 (467, 0.0),
 (468, 0.0),
 (469, 0.004995500294464711),
 (470, 0.004722132057768738),
 (471, 0.00475113592181872),
 (472, 0.05934290026583021),
 (473, 0.0),
 (474, 0.05839731029690193),
 (475, 0.040584051414661905),
 (476, 0.008889530933753229),
 (477, 0.0),
 (478, 0.029264428441086395),
 (479, 0.04261066768007592),
 (480, 0.011505494199353644),
 (481, 0.0939274438575789),
 (482, 0.035365177619529224),
 (483, 0.01892645601709027),
 (484, 0.0),
 (485, 0.0),
 (486, 0.005784064234958134),
 (487, 0.011153245551752025),
 (488, 0.0),
 (489, 0.0),
 (490, 0.0125913231610383),
 (491, 0.0),
 (492, 0.056115600299653276),
 (493, 0.016477196064886516),
 (494, 0.0),
 (495, 0.02669200272682569),
 (496, 0.061625294917571585),
 (497, 0.0055216604760374875),
 (498, 0.00022831832506413685),
 (499, 0.0),
 (500, 0.0),
 (501, 0.0),
 (502, 0.09936344453772417),
 (503, 0.0),
 (504, 0.06635229165729797),
 (505, 0.0),
 (506, 0.004535051173265462),
 (507, 0.08402791403235008),
 (508, 0.0),
 (509, 0.167220879607373),
 (510, 0.08780289451387309),
 (511, 0.014669931489919852),
 (512, 0.00615501909417704),
 (513, 0.0),
 (514, 0.0),
 (515, 0.05644975092682114),
 (516, 0.052308411825225165),
 (517, 0.1072365585562159),
 (518, 0.031897924831830814),
 (519, 0.021870065067153284),
 (520, 0.0),
 (521, 0.08529980935800666),
 (522, 0.010546453962592139),
 (523, 0.10078951460729255),
 (524, 0.0020783790425991733),
 (525, 0.0),
 (526, 0.0),
 (527, 0.0),
 (528, 0.005436967412409658),
 (529, 0.05205219896387273),
 (530, 0.014254610033005616),
 (531, 0.09446764173158645),
 (532, 0.0),
 (533, 0.0021782019287664312),
 (534, 0.10981857178134147),
 (535, 0.016204881401591237),
 (536, 0.0018803363500626094),
 (537, 0.0024632996653500567),
 (538, 0.07001677255555536),
 (539, 0.014297658305629665),
 (540, 0.06900927730146489),
 (541, 0.0),
 (542, 0.018222112294141113),
 (543, 0.06719453238206323),
 (544, 0.0014009078583157148),
 (545, 0.0015718616879965897),
 (546, 0.003869648286624438),
 (547, 0.034753327465916785),
 (548, 0.09976609112466539),
 (549, 0.0),
 (550, 0.000389866755995833),
 (551, 0.009009764544117196),
 (552, 0.0),
 (553, 0.0010842991457212117),
 (554, 0.0),
 (555, 0.0),
 (556, 0.0026553803080049893),
 (557, 0.0),
 (558, 0.0809029538281836),
 (559, 0.03738503794333381),
 (560, 0.0015598461246749329),
 (561, 0.0038159518082766636),
 (562, 0.0),
 (563, 0.0),
 (564, 0.04181018459156795),
 (565, 0.009241030853692942),
 (566, 0.1154875555288278),
 (567, 0.01257580704527236),
 (568, 0.07284231408583781),
 (569, 0.07370291248962924),
 (570, 0.016621876375874887),
 (571, 0.0),
 (572, 0.07349690552075017),
 (573, 0.0),
 (574, 0.0),
 (575, 0.04120672183317745),
 (576, 0.03185874208142705),
 (577, 0.0),
 (578, 0.006333503509354331),
 (579, 0.06201281584687479),
 (580, 0.0),
 (581, 0.0),
 (582, 0.0),
 (583, 0.02985589610071742),
 (584, 0.0),
 (585, 0.019706295480389914),
 (586, 0.0075228957239386815),
 (587, 0.020505519960019987),
 (588, 0.009890592830374615),
 (589, 0.005415554581756883),
 (590, 0.0015213046002733382),
 (591, 0.061058877393636496),
 (592, 0.0),
 (593, 0.0),
 (594, 0.020738795205746535),
 (595, 0.021293422643703718),
 (596, 0.025620492962310806),
 (597, 0.013369048339680794),
 (598, 0.0),
 (599, 0.002667320954028869),
 (600, 0.0),
 (601, 0.0),
 (602, 0.024261945010015006),
 (603, 0.0),
 (604, 0.010531637751473658),
 (605, 0.06181580550089555),
 (606, 0.0),
 (607, 0.021419478754998666),
 (608, 0.0),
 (609, 0.06248517324640224),
 (610, 0.0018500210824593342),
 (611, 0.028452515602778),
 (612, 0.0),
 (613, 0.0),
 (614, 0.0),
 (615, 0.052925204135111634),
 (616, 0.019965402573746478),
 (617, 0.057558989886987925),
 (618, 0.09585773906962892),
 (619, 0.0),
 (620, 0.000939837102346568),
 (621, 0.008113352788029488),
 (622, 0.0010349658554354639),
 (623, 0.009066901056094843),
 (624, 0.0),
 (625, 0.0),
 (626, 0.0005598700789003968),
 (627, 0.0),
 (628, 0.03805969905586778),
 (629, 0.011156252920563586),
 (630, 0.009396593899907244),
 (631, 0.0),
 (632, 0.02513489560903841),
 (633, 0.008243608394559766),
 (634, 0.0016129802653922375),
 (635, 0.0073265147991970515),
 (636, 0.0021474965284549894),
 (637, 0.015823488453977276),
 (638, 0.022825682464095567),
 (639, 0.0),
 (640, 0.0),
 (641, 0.0017749065143765155),
 (642, 0.0),
 (643, 0.017646043306502157),
 (644, 0.021705951891946858),
 (645, 0.0),
 (646, 0.0),
 (647, 0.015751143373516435),
 (648, 0.0),
 (649, 0.08651724802581794),
 (650, 0.024451115569672263),
 (651, 0.0601611327278619),
 (652, 0.0035452845974618045),
 (653, 0.0018951754346605613),
 (654, 0.008232074131697997),
 (655, 0.0),
 (656, 0.0367700781286974),
 (657, 0.05606274554979463),
 (658, 0.005907312835036146),
 (659, 0.0018667052628739925),
 (660, 0.030032960541101838),
 (661, 0.005918217803976342),
 (662, 0.0),
 (663, 0.0),
 (664, 0.0),
 (665, 0.0),
 (666, 0.02948192724819903),
 (667, 0.0),
 (668, 0.0023337404363789034),
 (669, 0.029244870670317752),
 (670, 0.0),
 (671, 0.0),
 (672, 0.0),
 (673, 0.09896784891878492),
 (674, 0.057976446968157645),
 (675, 0.02431874203353244),
 (676, 0.0),
 (677, 0.0029333840866189176),
 (678, 0.0011680808946631287),
 (679, 0.0),
 (680, 0.042781736026776915),
 (681, 0.009611838823694135),
 (682, 0.0),
 (683, 0.018262738063621085),
 (684, 0.0),
 (685, 0.047754983623739596),
 (686, 0.029770007155715872),
 (687, 0.019220998439144304),
 (688, 0.05489923533928165),
 (689, 0.14028130273272926),
 (690, 0.005380747196174234),
 (691, 0.0),
 (692, 0.0),
 (693, 0.020177963496254055),
 (694, 0.10474329747666904),
 (695, 0.027128220477150577),
 (696, 0.0),
 (697, 0.008183989594394843),
 (698, 0.02900641597737844),
 (699, 0.052314920331921005),
 (700, 0.032736533889993334),
 (701, 0.08285590887197417),
 (702, 0.029400179475578953),
 (703, 0.05462002574930452),
 (704, 0.0),
 (705, 0.00510505662205245),
 (706, 0.020628623608261808),
 (707, 0.0),
 (708, 0.001873841591990427),
 (709, 0.0),
 (710, 0.0),
 (711, 0.0),
 (712, 0.002839800265065663),
 (713, 0.0017650857659483622),
 (714, 0.0),
 (715, 0.012351370564423751),
 (716, 0.025884379235076874),
 (717, 0.04305855530568613),
 (718, 0.026093249145514752),
 (719, 0.055810066649978514),
 (720, 0.0),
 (721, 0.0),
 (722, 0.01890636786927973),
 (723, 0.0),
 (724, 0.0),
 (725, 0.04715196095924967),
 (726, 0.0019482740400727987),
 (727, 0.0),
 (728, 0.0),
 (729, 0.016685725473099686),
 (730, 0.0),
 (731, 0.004154672084450093),
 (732, 0.002725294056237843),
 (733, 0.0061112114438687856),
 (734, 0.028233496609684876),
 (735, 0.0),
 (736, 0.0018447934273522857),
 (737, 3.866276086489137e-05),
 (738, 0.10070516726180682),
 (739, 0.019189195686627653),
 (740, 0.06829948972516749),
 (741, 0.017318522332304093),
 (742, 0.0),
 (743, 0.0),
 (744, 0.0),
 (745, 0.006081448708110445),
 (746, 0.0),
 (747, 0.017262464532006697),
 (748, 0.0),
 (749, 0.0),
 (750, 0.0),
 (751, 0.004944669958049333),
 (752, 0.014374816712441733),
 (753, 0.04038808256265991),
 (754, 0.012325785079841178),
 (755, 0.031148299054032078),
 (756, 0.01605047084214626),
 (757, 0.1249527193131439),
 (758, 0.0),
 (759, 0.07722265399547647),
 (760, 0.06214437271800057),
 (761, 0.0),
 (762, 0.013281532526200745),
 (763, 0.0),
 (764, 0.008393581029215598),
 (765, 0.014082961547195747),

In [254]:
similarity_score=sorted(enumerate(similarity[5]),key=lambda x:x[1],reverse=True)

In [255]:
similarity_score

[(5, 1.0),
 (266, 0.28637345637013),
 (350, 0.2605834692364864),
 (1079, 0.25252890939200834),
 (3033, 0.2389035596646727),
 (3518, 0.22050387530096244),
 (307, 0.2146738536257154),
 (940, 0.21438196416709138),
 (1423, 0.20267598842415008),
 (100, 0.1920417196236607),
 (1439, 0.18583964308471537),
 (269, 0.18415674891392186),
 (2764, 0.18398789140741345),
 (79, 0.1816433021780876),
 (179, 0.17941243221350128),
 (274, 0.17720995563609432),
 (1303, 0.17680238432251727),
 (3541, 0.17540074417106266),
 (1883, 0.1739530635173782),
 (1067, 0.17371477337571917),
 (4033, 0.16985292289505216),
 (1813, 0.16945517966473744),
 (2452, 0.16893032708849504),
 (1370, 0.16728122683627125),
 (509, 0.167220879607373),
 (234, 0.16466386477816772),
 (2816, 0.159547826116771),
 (285, 0.15730118844955554),
 (263, 0.15718846812805762),
 (988, 0.15477957075951118),
 (172, 0.15426921220586465),
 (3947, 0.1540596489467209),
 (286, 0.15167879397544015),
 (1505, 0.14986786536411575),
 (797, 0.14916505803406824),
 (372, 0.14804387998547539),
 (69, 0.14784150805718901),
 (148, 0.14775858527051347),
 (2559, 0.14771903047672819),
 (1075, 0.14753255851288813),
 (2061, 0.14552452726213838),
 (4361, 0.1446255659140936),
 (2040, 0.14181704544092624),
 (30, 0.14122708093364592),
 (689, 0.14028130273272926),
 (3494, 0.13967413626092193),
 (3738, 0.13886100512737323),
 (2725, 0.13834061178882928),
 (345, 0.13815560999727097),
 (3817, 0.13763722444945176),
 (3267, 0.13736841068539613),
 (3, 0.13648782438235474),
 (40, 0.13628976291891726),
 (835, 0.1358029240428125),
 (1233, 0.1346292066931825),
 (3093, 0.13356363729796572),
 (898, 0.13343220864045766),
 (2573, 0.13122317805697598),
 (201, 0.13090055963347355),
 (2603, 0.13030212893512688),
 (3825, 0.13010212888826939),
 (2933, 0.12966496768189575),
 (1286, 0.12708575467064118),
 (3166, 0.12657358522093953),
 (3791, 0.12651139759775518),
 (3199, 0.12645101140097267),
 (1904, 0.12624046164846783),
 (140, 0.12581792740532896),
 (3878, 0.12562513689338017),
 (3123, 0.12545618537099934),
 (757, 0.1249527193131439),
 (55, 0.1238361131083875),
 (59, 0.12378645376863796),
 (3966, 0.12322014089822035),
 (2304, 0.12314143878044097),
 (1128, 0.12271385570702155),
 (1108, 0.12255729612302582),
 (1694, 0.12187682415717394),
 (843, 0.12179245058376988),
 (2818, 0.12142920056503423),
 (1041, 0.12134865393600269),
 (910, 0.12079455710892607),
 (138, 0.1197272527374258),
 (3729, 0.11905158171974259),
 (2176, 0.11900305871101768),
 (4321, 0.11860162133822891),
 (1869, 0.11813922899606803),
 (135, 0.11799192099033948),
 (2654, 0.11792532261327553),
 (1136, 0.11779265884644745),
 (1226, 0.11738052029791071),
 (96, 0.117214665824632),
 (4298, 0.11701484927838154),
 (2946, 0.11652264066329976),
 (4039, 0.11579313611626124),
 (776, 0.11578451941160182),
 (566, 0.1154875555288278),
 (2183, 0.11535308387574299),
 (2885, 0.11498857901703069),
 (1777, 0.11444325599109564),
 (110, 0.11405669863180071),
 (2071, 0.11381802327630246),
 (4359, 0.11349939001220552),
 (331, 0.11345862172219065),
 (3512, 0.11310446087534137),
 (2709, 0.11297912903368848),
 (113, 0.11207069775695022),
 (919, 0.1117553820840808),
 (1850, 0.11134775132103769),
 (534, 0.10981857178134147),
 (196, 0.10934716848442087),
 (111, 0.10919224404769089),
 (2930, 0.10886555368926105),
 (1491, 0.10781455773250984),
 (517, 0.1072365585562159),
 (197, 0.10710968100886652),
 (3072, 0.10707913851864118),
 (76, 0.10684482226109943),
 (1181, 0.10575127306610316),
 (1866, 0.10565141667172595),
 (393, 0.10544866874683705),
 (2326, 0.10532720157974523),
 (2921, 0.10517016448754757),
 (694, 0.10474329747666904),
 (2169, 0.10469468559413585),
 (4349, 0.1042079259916989),
 (95, 0.10355765186223911),
 (2872, 0.10277446728307958),
 (124, 0.10261236252411692),
 (4123, 0.10204075074125624),
 (1065, 0.10112175744340014),
 (1332, 0.101019477920023),
 (1710, 0.10092519521354461),
 (11, 0.10086218780594426),
 (523, 0.10078951460729255),
 (738, 0.10070516726180682),
 (1281, 0.10059021405599314),
 (548, 0.09976609112466539),
 (2592, 0.0995919357367121),
 (3959, 0.09951737846066014),
 (2133, 0.09945034237080279),
 (502, 0.09936344453772417),
 (673, 0.09896784891878492),
 (1359, 0.09895153874701175),
 (1242, 0.09892257927245522),
 (276, 0.09815921924213075),
 (1149, 0.09736571527479294),
 (1300, 0.0965494541327815),
 (1442, 0.09651700599796842),
 (3888, 0.09649600934201658),
 (245, 0.09632115757017126),
 (275, 0.09623119299423265),
 (1594, 0.09589040305747906),
 (2503, 0.09585906218520863),
 (618, 0.09585773906962892),
 (2125, 0.09579068898653359),
 (1703, 0.09571274924073776),
 (3279, 0.09569335991519523),
 (2181, 0.09509360453720901),
 (3504, 0.09468397797390307),
 (2853, 0.09450559233084879),
 (531, 0.09446764173158645),
 (289, 0.09438812797994195),
 (849, 0.09413343675016164),
 (481, 0.0939274438575789),
 (84, 0.09355405074338335),
 (192, 0.09352600049942211),
 (1159, 0.09351991939170831),
 (3475, 0.09298826716437159),
 (1432, 0.09286257357040965),
 (3286, 0.09239904089218037),
 (852, 0.09231071219707203),
 (1295, 0.09223294156513528),
 (1298, 0.09204539423637893),
 (178, 0.09182470765993751),
 (2516, 0.09180180525341251),
 (1433, 0.0912064169011835),
 (3104, 0.09115086858370264),
 (2302, 0.09102234725463307),
 (1188, 0.09083171782516235),
 (3449, 0.09070493835393698),
 (1467, 0.09007899277774448),
 (2228, 0.0900097867523606),
 (93, 0.08942264308342969),
 (4074, 0.08866737150397228),
 (951, 0.08833085928604263),
 (1339, 0.08812401707619372),
 (510, 0.08780289451387309),
 (3964, 0.08750231849805502),
 (2585, 0.08737018052000112),
 (4335, 0.08726347101896262),
 (2110, 0.08707530021740353),
 (4015, 0.08681186465138163),
 (649, 0.08651724802581794),
 (833, 0.08636008668256116),
 (3000, 0.0863142962424088),
 (71, 0.08620643583656794),
 (428, 0.08617433492769125),
 (2700, 0.08604662244151501),
 (156, 0.08594355100418868),
 (769, 0.08590176911997147),
 (1929, 0.08559036048622516),
 (1654, 0.08545849719251883),
 (1034, 0.08532948611145279),
 (521, 0.08529980935800666),
 (1583, 0.08527353908098541),
 (3347, 0.08518104414371136),
 (2821, 0.0850536910324651),
 (2019, 0.08495514678327008),
 (49, 0.084949677480749),
 (1853, 0.0848599424880659),
 (101, 0.08464936208428242),
 (2103, 0.08446516354424752),
 (2329, 0.08423632620583475),
 (507, 0.08402791403235008),
 (2188, 0.08393256765326407),
 (880, 0.08386409467776422),
 (1144, 0.08362519275799629),
 (4265, 0.08362110559790967),
 (1975, 0.08358757297987442),
 (2488, 0.08352783437617103),
 (1899, 0.08347503592568498),
 (1563, 0.08340127712591273),
 (139, 0.08288680605715293),
 (701, 0.08285590887197417),
 (3329, 0.08267254825795362),
 (3486, 0.0826510974850244),
 (1641, 0.0826085596039335),
 (1055, 0.08258867189295184),
 (2268, 0.08236728523515335),
 (2734, 0.082333477078811),
 (2261, 0.08214132739278289),
 (2732, 0.08213471051951862),
 (3141, 0.08207746819538726),
 (210, 0.08205393048408247),
 (246, 0.08164634642645316),
 (3900, 0.0815473755201587),
 (774, 0.08140722068719648),
 (424, 0.08133682415371982),
 (4305, 0.08103807753648247),
 (3782, 0.08103137317010002),
 (2534, 0.08100619781038898),
 (2995, 0.08098730784686514),
 (3358, 0.0809850393958298),
 (558, 0.0809029538281836),
 (2549, 0.08087451546128764),
 (4281, 0.08078500328654044),
 (1361, 0.08056605877479334),
 (2012, 0.08053209759705049),
 (2229, 0.08047723668849355),
 (3535, 0.08039342963302751),
 (3739, 0.08031814129652498),
 (2146, 0.08027101201465346),
 (205, 0.0802289021271635),
 (2339, 0.07997922041215505),
 (362, 0.07979982376426756),
 (1895, 0.07968567530179207),
 (87, 0.07930665699059773),
 (105, 0.07911714579855),
 (1207, 0.07899203230136403),
 (2493, 0.07898415482998597),
 (4338, 0.07877597505053668),
 (2330, 0.07871063406065691),
 (2370, 0.07865337807277621),
 (1593, 0.0784484126154126),
 (1674, 0.07824047018662257),
 (1334, 0.0778336307282578),
 (1794, 0.07747977544244254),
 (1195, 0.07733511540336353),
 (861, 0.07724273352008137),
 (759, 0.07722265399547647),
 (1704, 0.0771169501009284),
 (3265, 0.07704098381607419),
 (1997, 0.07697435656994821),
 (2784, 0.07696395294594716),
 (305, 0.07675606570758858),
 (3054, 0.07663328020030663),
 (3292, 0.07642589239703161),
 (3461, 0.07635426393494539),
 (848, 0.07632259255258078),
 (67, 0.07614212443508891),
 (3626, 0.07610326690188339),
 (3246, 0.07591832560577762),
 (3902, 0.07586566204835808),
 (2735, 0.07553482641923072),
 (842, 0.07542742474800931),
 (284, 0.07536132376404558),
 (1146, 0.07526260238326858),
 (2280, 0.07514416540769732),
 (2254, 0.07513809731987642),
 (15, 0.07502517456496531),
 (1622, 0.07480354379553),
 (3522, 0.07462093528282199),
 (2588, 0.07453559924999298),
 (422, 0.07423757680773817),
 (290, 0.07415350284075849),
 (44, 0.07414164355550616),
 (2637, 0.0739241543036359),
 (283, 0.07372262327745957),
 (3287, 0.07370843418546458),
 (569, 0.07370291248962924),
 (2003, 0.0736512637071528),
 (2072, 0.07362684246922134),
 (572, 0.07349690552075017),
 (1127, 0.07332015486274043),
 (2335, 0.07315623096891948),
 (3196, 0.07309478310656806),
 (1669, 0.07300736993363871),
 (2399, 0.0729593996972276),
 (568, 0.07284231408583781),
 (859, 0.07277550117862944),
 (1073, 0.07277094394268886),
 (1211, 0.0726255201390342),
 (2490, 0.0723680674338467),
 (2861, 0.07233968289052403),
 (1321, 0.07209332021847324),
 (2466, 0.0720929223850604),
 (2341, 0.07191153461173702),
 (892, 0.07186898009915946),
 (2055, 0.07167623838413281),
 (1310, 0.07167106789940182),
 (2046, 0.07161474522304093),
 (344, 0.07127773821552874),
 (2052, 0.0712663351055073),
 (2780, 0.07121578501479017),
 (2623, 0.07105624098217184),
 (309, 0.07093911447460378),
 (2928, 0.07079347999810408),
 (1796, 0.07069128343535667),
 (2428, 0.0704622164996144),
 (3306, 0.07042990939827495),
 (2808, 0.07038763628687293),
 (3665, 0.07038763628687293),
 (2864, 0.07031829954045181),
 (2408, 0.07028337110068301),
 (3713, 0.07027926418828524),
 (3697, 0.07014955130059289),
 (70, 0.07009579406835201),
 (1708, 0.07002753988191608),
 (538, 0.07001677255555536),
 (2796, 0.06995694942265795),
 (1345, 0.06988388700987862),
 (3290, 0.06963329930053451),
 (3928, 0.06959719355095802),
 (4310, 0.0695664353109888),
 (154, 0.06946775523346141),
 (1659, 0.06940438509270874),
 (3434, 0.06936345605465825),
 (884, 0.06934545002875364),
 (2407, 0.06924005051366823),
 (784, 0.06902344096862109),
 (1650, 0.06901306327752775),
 (540, 0.06900927730146489),
 (14, 0.06900335674495683),
 (3247, 0.06891951031267257),
 (1773, 0.06890276714241318),
 (4017, 0.06885064466699843),
 (982, 0.06862921091491665),
 (4307, 0.06850254210525886),
 (3874, 0.06847030714493962),
 (175, 0.06846563796922737),
 (1573, 0.06842212815842695),
 (378, 0.06840719279064668),
 (2179, 0.06838193218512821),
 (740, 0.06829948972516749),
 (2656, 0.06822186286266146),
 (2708, 0.06810154559063038),
 (2106, 0.06799183963881777),
 (1315, 0.06783645423397033),
 (3976, 0.0678297882082794),
 (167, 0.06781501407522941),
 (867, 0.06776688964280739),
 (819, 0.06773164719810433),
 (1713, 0.06769205619073998),
 (2609, 0.06758330255256709),
 (282, 0.06757575147379977),
 (2486, 0.06757213083539802),
 (3485, 0.06756423240710956),
 (977, 0.06745242536415957),
 (249, 0.06743346871312393),
 (2285, 0.06736383476786868),
 (2840, 0.06733864549389412),
 (1274, 0.06730402214499817),
 (3950, 0.06726231706430391),
 (543, 0.06719453238206323),
 (255, 0.06719411553837),
 (2641, 0.06715952298327287),
 (145, 0.06696727180124631),
 (876, 0.06693457630152988),
 (2185, 0.06692882403661414),
 (2845, 0.06688816606854792),
 (2192, 0.0666148030265156),
 (254, 0.06660093862157111),
 (3915, 0.06654793866527614),
 (2752, 0.06653312936535166),
 (504, 0.06635229165729797),
 (3536, 0.06633040443504656),
 (3263, 0.06631632612010907),
 (382, 0.06622680204102084),
 (906, 0.06622018789695215),
 (2206, 0.06596680874370689),
 (1889, 0.06579848967913852),
 (1514, 0.06577126984959251),
 (4062, 0.0656560550149233),
 (2743, 0.0655824042843307),
 (1524, 0.06527212650529418),
 (4104, 0.06515106651863399),
 (1743, 0.06511180508423894),
 (3221, 0.06505473663335014),
 (1042, 0.06504353573724853),
 (340, 0.06500064519479143),
 (2081, 0.06496609340368859),
 (3155, 0.06477968482162558),
 (2964, 0.0647459244625274),
 (12, 0.06471580293990428),
 (2439, 0.06462231266575981),
 (975, 0.06460190577119493),
 (3032, 0.06459100741618928),
 (1966, 0.06451651874252928),
 (1235, 0.06440243949241083),
 (3741, 0.06430554566431618),
 (3965, 0.06427644935695948),
 (1737, 0.06425781426897335),
 (39, 0.06413712124602271),
 (4114, 0.06411540654240841),
 (4270, 0.06395557448115298),
 (429, 0.06388885148441378),
 (2586, 0.06386095082364528),
 (1084, 0.06379405308303478),
 (3071, 0.06353391669136085),
 (4324, 0.06352934602409063),
 (3881, 0.06345430430734292),
 (3463, 0.06337842487748888),
 (237, 0.06337132993794423),
 (3079, 0.06336701970732779),
 (1531, 0.06323637361504597),
 (1863, 0.06318392441074556),
 (3758, 0.0631029899050231),
 (294, 0.06308994152024038),
 (1293, 0.06300945933821223),
 (2309, 0.06296107749087834),
 (3381, 0.06291093814766788),
 (2498, 0.06286754622407768),
 (4214, 0.06285721257254973),
 (272, 0.0628572075374918),
 (2706, 0.06280876170788993),
 (3026, 0.06280206800478845),
 (2922, 0.06271356150465308),
 (609, 0.06248517324640224),
 (1953, 0.06226519908927523),
 (3806, 0.062192118226600986),
 (2473, 0.06216130478802866),
 (760, 0.06214437271800057),
 (579, 0.06201281584687479),
 (2834, 0.06196755198275014),
 (2409, 0.06184058987503688),
 (605, 0.06181580550089555),
 (3844, 0.06176775352440716),
 (2979, 0.0617279731030371),
 (1520, 0.061701117230082),
 (1518, 0.06163808915772827),
 (496, 0.061625294917571585),
 (3161, 0.061614241697329916),
 (4110, 0.06150769335133292),
 (1112, 0.06134158546760378),
 (2089, 0.061223016355051334),
 (918, 0.06122071604372589),
 (591, 0.061058877393636496),
 (908, 0.06104310571523563),
 (4146, 0.06092973671371508),
 (942, 0.06092466667028732),
 (164, 0.0608199266059356),
 (1870, 0.06066118479727919),
 (3114, 0.06059877170943609),
 (4360, 0.06059575784610279),
 (1227, 0.06054500431808926),
 (4351, 0.060474410577860495),
 (3284, 0.0603941536858087),
 (1348, 0.06023212104764698),
 (218, 0.0601869875679811),
 (651, 0.0601611327278619),
 (4340, 0.06012626103212518),
 (295, 0.06011014052390877),
 (850, 0.05996792080275131),
 (454, 0.05990166559367907),
 (960, 0.05965071515871225),
 (1696, 0.05962623438635167),
 (1006, 0.05959014588770917),
 (1999, 0.05943909673841663),
 (962, 0.05939235256702943),
 (472, 0.05934290026583021),
 (1325, 0.05934080601782687),
 (3880, 0.059326655052258204),
 (1454, 0.05915005376536249),
 (2412, 0.0591032104257206),
 (177, 0.058972913322699334),
 (4259, 0.058960173378781414),
 (2800, 0.0589131279759803),
 (4204, 0.05884941714967999),
 (2830, 0.058625758213297796),
 (4059, 0.05861035024632334),
 (334, 0.058608416848190376),
 (856, 0.05859858794678092),
 (1608, 0.058561374257758356),
 (235, 0.05847588245370983),
 (474, 0.05839731029690193),
 (3596, 0.05835674998540534),
 (366, 0.05835362804141805),
 (4209, 0.058337162222088935),
 (3836, 0.05819786617861042),
 (2245, 0.05805678545472893),
 (992, 0.05802971455444632),
 (674, 0.057976446968157645),
 (157, 0.05795918295429447),
 (3346, 0.05794809761593642),
 (4341, 0.05773930069204919),
 (256, 0.05771304492909527),
 (617, 0.057558989886987925),
 (938, 0.05749468767878291),
 (2868, 0.05744685022223511),
 (22, 0.05739568247432855),
 (146, 0.05729171306167227),
 (3094, 0.057262461443623874),
 (2256, 0.05720793531077607),
 (2307, 0.05719784369359968),
 (3734, 0.057062972441877316),
 (268, 0.05679284107421623),
 (152, 0.05675311089314587),
 (4032, 0.056691879068054715),
 (1068, 0.05662557429351448),
 (1308, 0.056622735013412986),
 (116, 0.056618158935919774),
 (2359, 0.056583633476250006),
 (1767, 0.056550941415480456),
 (1182, 0.056494577155459094),
 (1901, 0.05646800951617353),
 (515, 0.05644975092682114),
 (1374, 0.056310109029498345),
 (3091, 0.056310109029498345),
 (3724, 0.0562920765222215),
 (834, 0.05624430481546348),
 (1062, 0.05619477562672597),
 (1995, 0.05614034843739023),
 (492, 0.056115600299653276),
 (657, 0.05606274554979463),
 (3108, 0.055924099069563984),
 (2722, 0.055821919105434825),
 (719, 0.055810066649978514),
 (352, 0.05577856477539627),
 (10, 0.05574180383949068),
 (3412, 0.05568711385324828),
 (56, 0.05551208503935828),
 (2967, 0.05547682424196405),
 (174, 0.05543536316600654),
 (1316, 0.05542243635360461),
 (3934, 0.055373955071069264),
 (2160, 0.05535278458234405),
 (132, 0.05528498690241135),
 (411, 0.055235858329954125),
 (1252, 0.05521118846842907),
 (2413, 0.05518134194076806),
 (4336, 0.05515464634437162),
 (1016, 0.05513105368106582),
 (3472, 0.05509048209227865),
 (1409, 0.05508962121606317),
 (2002, 0.05504354864507647),
 (1588, 0.05496919979214384),
 (1411, 0.05495289391895848),
 (688, 0.05489923533928165),
 (2563, 0.05484136537305419),
 (889, 0.05482019131514208),
 (41, 0.05477655584151111),
 (316, 0.05471544324361918),
 (2053, 0.05462387158836894),
 (703, 0.05462002574930452),
 (115, 0.05454620743907994),
 (2429, 0.054495885943692916),
 (2887, 0.05448429964443786),
 (4245, 0.054470030319842364),
 (3357, 0.05438044645395403),
 (1682, 0.054358258530471715),
 (1040, 0.05435756547009631),
 (1444, 0.05430552790047823),
 (1651, 0.054202971037511864),
 (887, 0.054194846757637326),
 (3748, 0.05410100279674043),
 (3112, 0.05402593519375308),
 (3520, 0.053963854486602576),
 (2566, 0.0539431216039772),
 (1456, 0.05379815141289195),
 (441, 0.05377423008091735),
 (1768, 0.05359530051798438),
 (3344, 0.05357941365049836),
 (4337, 0.05355777333887235),
 (1450, 0.05354766277945625),
 (7, 0.05345638735772705),
 (241, 0.053335921014552146),
 (417, 0.053241073529990614),
 (2505, 0.053131149434261275),
 (1148, 0.05311919879344369),
 (3811, 0.05310801334990286),
 (343, 0.05301108791212555),
 (3565, 0.053010240262287386),
 (615, 0.052925204135111634),
 (3571, 0.05286215247156707),
 (2154, 0.05285819143081663),
 (3903, 0.05280584975610648),
 (1500, 0.05279359152850779),
 (2744, 0.052753832384699204),
 (1219, 0.05264234605891436),
 (2270, 0.052565668675070794),
 (1373, 0.0525383170982308),
 (3057, 0.052437895203881965),
 (2844, 0.052406264577844315),
 (2702, 0.05236259976872265),
 (699, 0.052314920331921005),
 (516, 0.052308411825225165),
 (2618, 0.052212270244014064),
 (836, 0.052209405878230655),
 (2420, 0.05219181550663497),
 (1681, 0.052072452559708785),
 (529, 0.05205219896387273),
 (3935, 0.05203005971131868),
 (29, 0.05198871214560633),
 (1273, 0.051924405410951974),
 (3176, 0.051882116359435765),
 (1463, 0.051845457127326924),
 (2487, 0.051690851414774266),
 (2581, 0.05167510449147319),
 (1561, 0.05165692004957456),
 (2576, 0.05164350789303289),
 (1337, 0.05152144641803948),
 (3097, 0.051468450884477795),
 (301, 0.05146833460871719),
 (2151, 0.051461417500411125),
 (1652, 0.05138245759138958),
 (3892, 0.051381030610530155),
 (2147, 0.05129379077341758),
 (857, 0.05127478203284183),
 (1788, 0.05125904311129659),
 (888, 0.05125775886931722),
 (3623, 0.05121452808500039),
 (3761, 0.05120234245676957),
 (231, 0.05104302417660489),
 (3716, 0.05097045583307781),
 (886, 0.05096659610473802),
 (1859, 0.05093441006041354),
 (3454, 0.05091983329904663),
 (73, 0.05082591028494571),
 (2736, 0.05078126705547541),
 (3325, 0.05070342286468647),
 (1054, 0.05061778483239572),
 (1638, 0.050505781878401663),
 (414, 0.05049455939304191),
 (3309, 0.05048943521290899),
 (1412, 0.050476273086039206),
 (1926, 0.050422958716776906),
 (2965, 0.05039385026299306),
 (935, 0.05037461243099663),
 (1416, 0.05036807628114643),
 (1744, 0.05036529264415321),
 (3299, 0.05026884691251052),
 (26, 0.05020916068195133),
 (3001, 0.05017356252400162),
 (3893, 0.050172972045805786),
 (4196, 0.05008097387040074),
 (2751, 0.05007626667245942),
 (974, 0.05006959573821737),
 (2901, 0.04999286854372004),
 (3028, 0.04998486967632415),
 (184, 0.04982784002433353),
 (1738, 0.049771574930140144),
 (2983, 0.049764256898240336),
 (2075, 0.049740596309390206),
 (1951, 0.04968882911243405),
 (3732, 0.049585156713456785),

In [256]:
#movie_indexing mapping approach

In [257]:
mapping=pd.Series(movies_df.index,index=movies_df["title"])
mapping

title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4801
Newlyweds                                   4802
Signed, Sealed, Delivered                   4803
Shanghai Calling                            4804
My Date with Drew                           4805
Length: 4806, dtype: int64

In [258]:
movie_index=mapping["Newlyweds"]
movie_index

4802

In [ ]:
# lets create a function that when we pass the movie title it will recommend us a list of movies 
#w.r.to the cosine similarity.

In [259]:
def recommend_movie(movie_input):
    movie_index=mapping[movie_input]
    # it take the similarity value of other movies
    similarity_score=list(enumerate(similarity[movie_index]))
    similarity_score=sorted(similarity_score,key=lambda x:x[1],reverse=True)
    # get the list of top 10 recommended movies
    similarity_score=similarity_score[:10]
    movie_ind=[i[0] for i in similarity_score]
    list_recommended=movies_df["title"].iloc[movie_ind]
    print("the recommended movies :", movie_input, "is")
    return list_recommended

In [260]:
recommend_movie("John Carter")

the recommended movies : John Carter is

4                                      John Carter
2092                Home Alone 2: Lost in New York
2274    Three Kingdoms: Resurrection of the Dragon
834                             Executive Decision
2284                            Dances with Wolves
691                                      Wild Hogs
3880                              The Opposite Sex
3781                                    Mirrormask
1201                      Escape from Planet Earth
3329                                  Albert Nobbs
Name: title, dtype: object

In [261]:
recommend_movie("Dances with Wolves")

the recommended movies : Dances with Wolves is

2284                             Dances with Wolves
3754                         The Kids Are All Right
2274     Three Kingdoms: Resurrection of the Dragon
4266                                        Shalako
4357                              The Green Inferno
1094                                          Nixon
39                                     TRON: Legacy
3565    A Nightmare on Elm Street 3: Dream Warriors
3718                                Mozart's Sister
3815                            How to Fall in Love
Name: title, dtype: object

In [262]:
recommend_movie("Gandhi")

the recommended movies : Gandhi is

2030                       Gandhi
2525      The Yellow Handkerchief
2721                      Flipped
3002                        Devil
1069         Yours, Mine and Ours
3162                        Alien
3042        Hey Arnold! The Movie
860                     Burlesque
3566    Instructions Not Included
2733           The Last Godfather
Name: title, dtype: object