1. Datatypes
2. Input and output functions
3. Python components

# Python programing components

- Literals ---> Datatypes
- Constants
- Variables
- Identifiers
- Reserved words
- Staements and expression
- Blocks and indentation
- Comments

# Literals ---> Datatypes

In [ ]:
1. Fundamental datatypes
- int
- float
- complex
- strings
- boolean
- None


2. Derived data types
- lists
- set
- tuple
- dictionary

### Int

- Any number without a decimal point
eg: -100 , 99 , 0 , 100

In [1]:
a = 10

print(a , type(a))

10 <class 'int'>

In [2]:
a = 0

print(a , type(a))

0 <class 'int'>

In [3]:
a = -1201

print(a , type(a))

-1201 <class 'int'>

### Float

- any number with decimal point is known as float

In [4]:
a = 10.0

print(a , type(a))

10.0 <class 'float'>

In [5]:
a = 0.0

print(a , type(a))

0.0 <class 'float'>

### Complex

- Anything tha can be written in the form of a+bj
- where a is an real number 
- and b is an imaginary number

In [21]:
a = 10+7j

print(a , type(a))

(10+7j) <class 'complex'>

In [9]:
a = 10+7j

#print(a , type(a))
print(a.real)
print(a.imag)

10.0
7.0

In [17]:
a = 0+0j

print(a , type(a))
print(a.real)
print(a.imag)

0j <class 'complex'>
0.0
0.0

# Boolean
- True
- False

In [10]:
a = True

print(a , type(a))

True <class 'bool'>

In [11]:
a = False

print(a , type(a))

False <class 'bool'>

In [12]:
True == 1

True

In [13]:
False == 0

True

### None

In [22]:
a = None
print(a , type(a))

None <class 'NoneType'>

In [23]:
bool(None)

False

In [26]:
lst = [1,2,3,4,5]
15/5

3.0

In [28]:
lst = [1,2,0,4,5]
(12/5)

2.4

In [29]:
lst = [1,2,None,4,5]
(12/4)

3.0

In [ ]:
emp      salary        age

1         1000         21
2         None         25
3         950          None 
4         850          35

## String


- Anything That is written inside '___' , "__" , '''___''' ,"""__"""

In [30]:
a = 'hello'

print(a , type(a))

hello <class 'str'>

In [31]:
a = "hello"

print(a , type(a))

hello <class 'str'>

In [32]:
a = '''hello'''

print(a , type(a))

hello <class 'str'>

In [33]:
a = """hello"""

print(a , type(a))

hello <class 'str'>

In [34]:
a = 'this is pythons class'
print(a , type(a))

this is pythons class <class 'str'>

In [35]:
a = 'this is python's class'
print(a , type(a))

SyntaxError: invalid syntax (1104415449.py, line 1)

In [37]:
a = "this is python's class"
print(a , type(a))

this is python's class <class 'str'>

In [38]:
a = "this 
is 
python's 
class"

print(a , type(a))

SyntaxError: EOL while scanning string literal (2969392692.py, line 1)

In [39]:
a = '''this 
is 
python's 
class'''

print(a , type(a))

this
is
python's
class <class 'str'>

In [40]:
a = """this 
is 
python's 
class"""

print(a , type(a))

this
is
python's
class <class 'str'>

In [41]:
a = 10


print(a , type(a))

10 <class 'int'>

In [42]:
a = '10'

print(a , type(a))

10 <class 'str'>

# Derived data types

### List

- Anything that is written inside [..]

In [62]:
a = [1,2.5,'3',None,True, [1,23,4]]

print(a, type(a))

[1, 2.5, '3', None, True, [1, 23, 4]] <class 'list'>

### tuple

- Anything that is written inside a (.)

In [63]:
a = (1,2.5,'3',None,True, [1,23,4])

print(a, type(a))

(1, 2.5, '3', None, True, [1, 23, 4]) <class 'tuple'>

In [64]:
# Lists are mutable
lst = [1,2,3,4]

lst[0] = 100

print(lst)

[100, 2, 3, 4]

In [65]:
# Tuple are immutable
lst = (1,2,3,4)

lst[0] = 100

print(lst)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Set

- Anything that is written in form of {}

In [70]:
a = {1,2,3,4}

print(a, type(a))

{1, 2, 3, 4} <class 'set'>

In [73]:
a = {1,2,3,4,2,2}

print(a, type(a))

{1, 2, 3, 4} <class 'set'>

In [74]:
a = {'abhishail' , 'abhishek' , 'aditi' , 'abhishek'}

print(a, type(a))

{'abhishail', 'abhishek', 'aditi'} <class 'set'>

In [ ]:
# Dictionary
- Anything which has key and value pair
- where key and value are seperated by : (colon)
- Each pair is seperated by ,

In [75]:
a = {'abhishail' : 12000000}
print(a , type(a))

{'abhishail': 12000000} <class 'dict'>

In [76]:
a = {'abhishail' : 12 , 'abhishek': 13}
print(a , type(a))

{'abhishail': 12000000, 'abhishek': 5000000} <class 'dict'>

In [81]:
a = {'abhishail' : 12 , 'abhishek': 13}
print(a , type(a))

{'abhishail': 12, 'abhishek': 13} <class 'dict'>

In [103]:
dic = {'emp1': {'name': 'abhishail' , 'salary': 12 , 'age': 25},
      'emp2': {'name': 'abhishek' , 'salary': 12 , 'age': 25}}
print(dic , type(dic))

{'emp1': {'name': 'abhishail', 'salary': 12, 'age': 25}, 'emp2': {'name': 'abhishek', 'salary': 12, 'age': 25}} <class 'dict'>

In [97]:
a = {None : [12 , 34] , 22.5+6j: None , 'str': 13}
print(a , type(a))

{None: [12, 34], (22.5+6j): None, 'str': 13} <class 'dict'>

In [99]:
a = [1,2,3,45,6]
a[3] = 200
a

[1, 2, 3, 200, 6]

In [101]:
lst1=[13,45,6,0.12,-1.6,"12",None,True]
lst1[1] = 4500
lst1

[13, 4500, 6, 0.12, -1.6, '12', None, True]

# Input and Output functions

In [ ]:
### Input function by default takes the input in form of string

In [104]:
a = 10
b =20
print(a+b)

30

In [105]:
a = int(input('Please enter the first number : '))
b = 20
print(a+b)

Please enter the first number : 50
70

In [107]:
a = int('10')
b = 20
print(a+b)

30

In [110]:
a = input('Please enter the first number : ')

print(a , type(a))

Please enter the first number : 80+6j
80+6j <class 'str'>

In [1]:
# Hi my first name is python and the second name is learnbay

a = input('Pleases enter the first name : ')
b = input('Please enter the second name : ')

print('Hi my first name is '+a+ ' and second name is '+b)

Pleasesddf enter the first name : 45
Please enter the second name : 54
Hi my first name is 45 and second name is 54

In [10]:
# Hi my first name is python and the second name is learnbay
# Format strings
# 1st method

a = input('Pleases enter the first name : ')
b = input('Please enter the second name : ')

print('Hi my first name is {} and second name is {}'.format(b,a))

Pleases enter the first name : python
Please enter the second name : learnbay
Hi my first name is learnbay and second name is python

In [9]:
# Hi my first name is python and the second name is learnbay
# Format strings
# 2nd method

a = input('Pleases enter the first name : ')
b = input('Please enter the second name : ')

print(f'Hi my first name is {a} and second name is {b}')

Pleases enter the first name : python
Please enter the second name : learnbay
Hi my first name is python and second name is learnbay

# Output function
- print

In [11]:
a = 10
b = 20


print(a)
print(b)

10
20

In [12]:
a = 10
b = 20


print(a , b)

10 20

In [33]:
a = 10
b = 20


print(a , b , sep = '**' )
print(1000)

10**20
1000

In [31]:
a = 10
b = 20

# \n ---> new line

print(a ,b, sep = '#',end = '%%')
print(b)

10#20%%20

In [35]:
a = 10
b = 20
c = 30

# \n ---> new line

print(a ,c,b, sep = '***',end = '\n\n')
print(b)

10***30***20

20

In [25]:
a = '10'
b = '20'

c = a+b

In [38]:
a = 10
b = 20
c = 30
d = 100
e = 200


print(a,b , sep = '\n' , end = '\n\n')
print(b, c ,d , sep= '**' , end = '++')
print(d , sep = '--' , end = '?')
print(a,c,d , sep = '&&')

10
20

20**30**100++100?10&&30&&100

In [ ]:
10
20

20**30**100++100?10&&30&&100

In [46]:
a = 10
b = 20


print(a, end = '\n\n')
print(b)

10

20

# Constants , variables and identifiers

In [53]:
# Area of a circle

# ( PI * r**2)
# PI 3.14


PI = 3.14
r = 4
a = (PI * r**2)
print(a)

50.24

In [54]:
PI = 3.14

PI = 6.2

print(PI)

6.2

## Rules

1. Allowed char are a-z , A-Z , 0-9 , _
2. Not allowed char are special char
3. You cannot start with a number 
4. It is case sensitive
5. You cannot use keywords or reserved words

In [ ]:
abc -- 1
ab@1 ---0
messi --- 1 
python --- 1 
True ---- 0
false --- 1
print ---- 
oct ----

In [ ]:
abc = 20

# Statements and expressions

In [ ]:
# Statement - Are those lines in the code which will not throw an output when executed

In [55]:
a = 10

In [ ]:
# expressions - Are those lines in the code which will throw an output when executed

In [57]:
print(10+30)

40

# Comments

- To make the code more readable
- To stop the execution of some lines

In [61]:
a = 10
b = 20
c = 40


print(a)
print(b)
print(c)

10
20
40

In [62]:
a = 10
b = 20
c = 40


print(a)
#print(b)
print(c)

10
40

In [64]:
PI = 3.14 # The value of pi
r = 4 # the side of a square
a = (r*r) # Area of a square
print(a)

16

In [65]:
'''This is a 
code to get 
the area of a 
circle'''

PI = 3.14 # The value of pi
r = 4 # the side of a square
a = (r*r) # Area of a square
print(a)

16

In [ ]:
# Blocks and indentation
# INT

In [ ]:
# Python- core
# regex
# Numpy
# Pandas
# Matplotlib
# seaborn

# EDA - exploratory data analysys Project
# Git hub