In [7]:
a = [1,2,3,4]

b = a.remove(4)

print(a)
print(b)

[1, 2, 3]
None

In [9]:
a = [10,1,2,3,4,54]
a.sort() # reverse=False
a

[1, 2, 3, 4, 10, 54]

In [10]:
a = [10,1,2,3,4,54]
a.sort(reverse = True)

[54, 10, 4, 3, 2, 1]

In [11]:
a = [10,1,2,3,4,54]
a.clear()

In [12]:
a

[]

In [13]:
a = [10,1,2,3,4,54]

del a

In [14]:
a

NameError: name 'a' is not defined

In [15]:
a = [1,2,2,2,2,2,3,4,4,5,6]

a.count(2)

5

In [18]:
a = [1,2,23,3]
b = a # aliasing


print(id(a))
print(id(b))


b[0] = 1010


print(a)
print(b)

2443693093120
2443693093120
[1010, 2, 23, 3]
[1010, 2, 23, 3]

In [21]:
a = [1,2,23,3]
b = a.copy() # Shallow


print(id(a))
print(id(b))


b[0] = 1010


print(a)
print(b)

2443720924608
2443693092416
[1, 2, 23, 3]
[1010, 2, 23, 3]

In [24]:
a = [1,2,23,3,[4,5,6]]
b = a.copy() # Shallow


print(id(a[-1]))
print(id(b[-1]))

b[-1][1] = 5000

print(a)
print(b)

2443692659648
2443692659648
[1, 2, 23, 3, [4, 5000, 6]]
[1, 2, 23, 3, [4, 5000, 6]]

In [25]:
# deep copy
from copy import deepcopy

In [28]:
a = [1,2,23,3,[4,5,6]]
b = deepcopy(a) # 

print(id(a[-1]))
print(id(b[-1]))

b[-1][1] = 5000

print(a)
print(b)

2443693092416
2443721043136
[1, 2, 23, 3, [4, 5, 6]]
[1, 2, 23, 3, [4, 5000, 6]]

In [30]:
# loops
for _abc in [1,2,3,4]:
    print(_abc)

1
2
3
4

In [29]:
len([1,2,3,4])

4

In [40]:
# Task 1
a = ['abhishail@gmail.com' , 'abhijeet_xyz@hotmail.com' , 'Abhishek_123@yahoo.com' , 'aditi@gmail.com']


# store only the usernames of all the students
b = []


for gmails in a:
    b.append(gmails.split('@')[0])
    
    
print(b)

['abhishail', 'abhijeet_xyz', 'Abhishek_123', 'aditi']

In [53]:
a = [1,2,3,34,4,5,6,7,8,8] # seperate the even numbers from the list and store in a new list
b = []

for i in a:
    if i%2 ==0:
        b.append(i)
        
        
print(b)

[2, 34, 4, 6, 8, 8]

In [56]:
a = ['abhishail@gmail.com' , 'abhijeet_xyz@hotmail.com' , 'Abhishek_123@yahoo.com' , 'aditi@gmail.com']


# store only the usernames of all the students whose mail id is gmail.com
b = []


for i in a:
    if i.split('@')[1] == 'gmail.com':
        b.append(i.split('@')[0])
print(b)

['abhishail', 'aditi']

In [59]:
a = 'abhishail@gmail.com'

a.split('@')

['abhishail', 'gmail.com']

In [60]:
a = ['abhishail@gmail.com' , 'abhijeet_xyz@hotmail.com' , 'Abhishek_123@yahoo.com' , 'aditi@gmail.com']


# store only the usernames of all the students whose mail id is gmail.com
b = []


for i in a:
    if i.split('@')[1] == 'gmail.com':
        b.append(i)
print(b)

['abhishail@gmail.com', 'aditi@gmail.com']

# List comprehension

- syntax -
[ expression for var in iterable]

[expression for var in iterable if condion]

In [61]:
a = ['abhishail@gmail.com' , 'abhijeet_xyz@hotmail.com' , 'Abhishek_123@yahoo.com' , 'aditi@gmail.com']

b = [gmails.split('@')[0] for gmails in a]
print(b)

['abhishail', 'abhijeet_xyz', 'Abhishek_123', 'aditi']

In [63]:
a = [1,2,3,34,4,5,6,7,8,8] # seperate the even numbers from the list and store in a new list
b = [i for i in a if i%2 == 0]
print(b)

[2, 34, 4, 6, 8, 8]

In [70]:
a = ['abhishail@gmail.com' , 'abhijeet_xyz@hotmail.com' , 'Abhishek_123@yahoo.com' , 'aditi@gmail.com']

b = [i.split('@')[0] for i in a if i.split('@')[1] == 'gmail.com']
print(b)

['abhishail', 'aditi']

In [75]:
a = [1,2,3,4,5,6,7,8,9,10]
num = 5


b = [f'{num} * {var} = {var*num}' for var in a]
b

['5 * 1 = 5',
 '5 * 2 = 10',
 '5 * 3 = 15',
 '5 * 4 = 20',
 '5 * 5 = 25',
 '5 * 6 = 30',
 '5 * 7 = 35',
 '5 * 8 = 40',
 '5 * 9 = 45',
 '5 * 10 = 50']

# Tuple


- Anything that is written inside a () and elements are sep by ,

In [78]:
a = (1,2,3,34)

print(a , type(a))

(1, 2, 3, 34) <class 'tuple'>

# Creating a tuple

In [79]:
# 1. You already know the elements


tup = ('a' , 3,True , 3.4)

print(tup , type(tup))

('a', 3, True, 3.4) <class 'tuple'>

In [80]:
# 2. Taking the input from the user


tup = input('enter the numbers : ')

print(tup , type(tup))

enter the numbers : 1,2,3,4,
1,2,3,4, <class 'str'>

In [95]:

tup = eval(input('enter the numbers : '))

print(tup , type(tup))

enter the numbers : 5,6,8,9,74,7
(5, 6, 8, 9, 74, 7) <class 'tuple'>

In [84]:
a = '333.54'
print(float(a))

333.54

In [91]:
# 3. type casting


a = 'str'
b = [3,4,56,6]

print(tuple(a))
print(tuple(b))

('s', 't', 'r')
(3, 4, 56, 6)

# Tuple packing

In [92]:
a = (1,2,3,34,4,5)

print(a , type(a))

(1, 2, 3, 34, 4, 5) <class 'tuple'>

In [94]:
a = 2,3,'a' , 5.6 , None , True

print(a , type(a))

(2, 3, 'a', 5.6, None, True) <class 'tuple'>

# Properties of tuple

- Seq data type
- +ve and -ve indexing is supported
- can hold any data type hetrogenous
- allows duplication 
- Basic op are possible concatination , identity , membership , repetation


### Note :- It is immuables

In [ ]:
a = (1,2,3,4 , 2,2 ,2, 2)
a[::-1]

In [104]:
a = (1.7,2,'a',[3,4 , 2],2 ,2+6j, 2)
a

(1.7, 2, 'a', [3, 4, 2], 2, (2+6j), 2)

In [106]:

a = [1.7,2,'a',[3,4 , 2],2 ,2+6j, 2]

a[1] = 6666666
a

[1.7, 6666666, 'a', [3, 4, 2], 2, (2+6j), 2]

In [111]:
a = 'srtg'
a.replace('s' , 'p')

'prtg'

In [112]:
a

'srtg'

In [113]:
# Indexing 
a = 2,3,3,4,5


a[-1]

5

In [114]:
# Indexing 
a = 2,3,3,4,5


a[3]

4

In [115]:
# slicing 
a = 2,3,3,4,5


a[0:4]

(2, 3, 3, 4)

In [117]:
# slicing -ve indeding
a = 2,3,3,4,5


a[-4:-1]

(3, 3, 4)

In [119]:
# slicing -ve indeding and step as -1
a = 2,3,3,4,5


a[-1:-4:-1]

(5, 4, 3)

# Concatination

In [120]:
# op --> +
# operand -> bbothh should be of tuple
a = (1,2,3,34)
b = (6,7,4,'a')


print(a +b)

(1, 2, 3, 34, 6, 7, 4, 'a')

# Repetation

In [124]:
# op --> *
# operand -> one should be a tuple and other should be int
a = (1,2,3,34)
b = 3


print(a * b)

(1, 2, 3, 34, 1, 2, 3, 34, 1, 2, 3, 34)

In [126]:
# Identity
# is and is not

a = 1,2,3
b = 1,2,3

print(id(a))
print(id(b))


print( a is b)

2443722164160
2443721256768
False

In [127]:
# Membership
# in and not in

a = 1,2,3



print( 4 in a)

False

In [128]:
# Membership
# in and not in

a = 1,2,3



print( 2 in a)

True

In [131]:
a = ('a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g')

# +ve index values
# bcd
a[1:4]

('b', 'c', 'd')

In [133]:
a = ('a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g')

# -ve index values
# bcd
a[-6:-3]

('b', 'c', 'd')

In [134]:
a = ('a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g')

# +ve index values
# efg
a[4:7]

('e', 'f', 'g')

In [135]:
a = ('a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g')

# +ve index values
# efg
a[4:] # 1

('e', 'f', 'g')

In [136]:
a = ('a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g')

# +ve index values
# efg
a[-3:] # 1

('e', 'f', 'g')

In [141]:
a = ('a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g')

# +ve index values
# efg
a[::-2] # -1

('g', 'e', 'c', 'a')

# Methods of tuple

In [142]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

# count

In [143]:
a = 'a' , 'b' , 'a' , 'c' , 'd' , 'e'


a.count('a')

2

# Index

In [144]:
a = 'a' , 'b' , 'a' , 'c' , 'd' , 'e'


a.index('a')

0

In [145]:
a = 'a' , 'b' , 'a' , 'c' , 'd' , 'e'


a.index('a' , 1)

2

# Tuple packing and unpacking

In [146]:
# tuple packing - assigning multiple values to a single variable


a = 2,3,4

print(a)

(2, 3, 4)

In [147]:
# tuple unpacking 


a,b,c = 2,3.6,'4'

print(a , type(a))
print(b , type(b))
print(c , type(c))

2 <class 'int'>
3.6 <class 'float'>
4 <class 'str'>

In [148]:
# tuple unpacking 


a,b = 2,3.6,'4'

print(a , type(a))
print(b , type(b))
print(c , type(c))

ValueError: too many values to unpack (expected 2)

In [154]:
a = 'python'

for i,j in enumerate(a):
    print(j)

p
y
t
h
o
n

In [ ]:
for iteration 1 i = (0 , 'p')

In [152]:

i,j = (0 , 'p')

print(a , type(a))
print(b , type(b))

0 <class 'int'>
p <class 'str'>

In [159]:
a = 'this is python, python is a programing language'

for i in enumerate(a):
    print(i)

(0, 't')
(1, 'h')
(2, 'i')
(3, 's')
(4, ' ')
(5, 'i')
(6, 's')
(7, ' ')
(8, 'p')
(9, 'y')
(10, 't')
(11, 'h')
(12, 'o')
(13, 'n')
(14, ',')
(15, ' ')
(16, 'p')
(17, 'y')
(18, 't')
(19, 'h')
(20, 'o')
(21, 'n')
(22, ' ')
(23, 'i')
(24, 's')
(25, ' ')
(26, 'a')
(27, ' ')
(28, 'p')
(29, 'r')
(30, 'o')
(31, 'g')
(32, 'r')
(33, 'a')
(34, 'm')
(35, 'i')
(36, 'n')
(37, 'g')
(38, ' ')
(39, 'l')
(40, 'a')
(41, 'n')
(42, 'g')
(43, 'u')
(44, 'a')
(45, 'g')
(46, 'e')

In [ ]:
# Index value of all the p

In [162]:
a = 'this is python, python is a programing language'

for i,j in enumerate(a):
    if j == 'p':
        print(i)

8
16
28

# Dictionary

In [170]:
emp_data = ['Salahuddin' , 26 , 900000]

# name of the emp
print(emp_data[0])

# age of the emp
print(emp_data[1])

# salary of the emp
print(emp_data[2])

Salahuddin
26
900000

In [171]:
emp_data = [26 , 900000,'Salahuddin']

# name of the emp
print(emp_data[0])

# age of the emp
print(emp_data[1])

# salary of the emp
print(emp_data[2])

26
900000
Salahuddin

In [172]:
# Dictionary - It is used to represent structured data 

emp_data = {'Name': 'Salahuddin' ,'Age': 26 , 'Salary': 901000}

emp_data[0]

KeyError: 0

In [174]:
# Dictionary - It is used to represent structured data 

emp_data = {'Name': 'Salahuddin' ,'Age': 26 , 'Salary': 901000}

# Name
print(emp_data['Name'])

# age
print(emp_data['Age'])

# Salary
print(emp_data['Salary'])

Salahuddin
26
901000

In [175]:
# Dictionary - It is used to represent structured data 

emp_data = {'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'}

# Name
print(emp_data['Name'])

# age
print(emp_data['Age'])

# Salary
print(emp_data['Salary'])

Salahuddin
26
901000

# Properties of dic

- It is a collection of key value pair
- a key, value is called as item
- Items are seperated by ,
- Key and value are seperated by :
- key cannot be duplicated whereas value can be duplicated
- key cannot be a mutable data type
- value can be a mutable as well as immutable

2. It is not a seq data type, Hence
* Indexing , slicing , concatination , repetition are not possible
- Membership op will work only for the keys 
- Identity operators is possible


### Note: Dict is an mutable data type

In [180]:
# Dictionary - It is used to represent structured data 

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}}

# To find out the keys of the dic
- keys()

In [181]:
# Dictionary - It is used to represent structured data 

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data.keys()

dict_keys(['emp_1', 'emp_2', 'emp_3', 'emp_4'])

# To find out the values of the dic
- values()

In [182]:
# Dictionary - It is used to represent structured data 

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data.values()

dict_values([{'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'}, {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'}, {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}, {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}])

# How to create a dic

In [184]:
# 1. If you already know the elements


a = {'a':1 , 'b':3}
print(a , type(a))

{'a': 1, 'b': 3} <class 'dict'>

# Taking user input and eval

In [185]:
data = eval(input('enter the dic : '))

print( data , type(data))

enter the dic : {1:3 , 4:5}
{1: 3, 4: 5} <class 'dict'>

# Type casting

    - Dict function takes a seq of inner seq
    - The first value of the inner seq will be the keys and the second value will be the values

In [187]:
a = [('a',2) , ('b' , 3) , ('c' , 4)]


print(dict(a))

{'a': 2, 'b': 3, 'c': 4}

In [189]:
a = 'python'

b = dict(enumerate(a))
b

{0: 'p', 1: 'y', 2: 't', 3: 'h', 4: 'o', 5: 'n'}

# Zip

syntax 
zip(iter 1 , iter 2)

In [192]:
column_1 = ['a' , 'b' , 'c' , 'd']
column_2 = [23 , 22 , 211 , 45]


dict(zip(column_1 , column_2))

{'a': 23, 'b': 22, 'c': 211, 'd': 45}

In [194]:


emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_2':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'}}

In [195]:
# When the key was not present

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data['emp_5'] = {'Age': 29 , 'Salary': 1100000 , 'Name': 'new_emp'}
emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 29, 'Salary': 1100000, 'Name': 'new_emp'}}

In [196]:
# When the key is present

emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}


emp_data['emp_3'] = {'Age': 29 , 'Salary': 1100000 , 'Name': 'new_emp'}
emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 29, 'Salary': 1100000, 'Name': 'new_emp'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'}}

# Properties and methods

In [202]:
a = 'python is'
b = 'python is'

print(id(a))
print(id(b))

2443726344752
2443726344752

In [201]:
print(id(a[0]))
print(id(b[0]))

2443606649904
2443606649904

In [2]:
emp_data = ['emp_1' , 'emp_2' , 'emp_3' , 'emp_4']

emp_hi_data = []
emp_hi_data.append(emp_data.pop(2))
emp_hi_data

['emp_3']