# Z score confidence level confidence interval

# Calculate Z-Scores in Python

In [1]:
#Pandas DataFrames
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
#In statistics, a z-score tells us how many standard deviations away a value is from the mean. 
"""We use the following formula to calculate a z-score:

z = (X – μ) / σ

where:

X is a single raw data value
μ is the population mean
σ is the population standard deviation"""

'We use the following formula to calculate a z-score:\n\nz = (X – μ) / σ\n\nwhere:\n\nX is a single raw data value\nμ is the population mean\nσ is the population standard deviation'

In [3]:
"""We can calculate z-scores in Python using scipy.stats.zscore, which uses the following syntax:

scipy.stats.zscore(a, axis=0, ddof=0, nan_policy=’propagate’)

where:

a: an array like object containing data
axis: the axis along which to calculate the z-scores. Default is 0.
ddof: degrees of freedom correction in the calculation of the standard deviation. Default is 0.
nan_policy: how to handle when input contains nan. Default is propagate, which returns nan. ‘raise’ 
    throws an error and ‘omit’ performs calculations ignoring nan values."""

'We can calculate z-scores in Python using scipy.stats.zscore, which uses the following syntax:\n\nscipy.stats.zscore(a, axis=0, ddof=0, nan_policy=’propagate’)\n\nwhere:\n\na: an array like object containing data\naxis: the axis along which to calculate the z-scores. Default is 0.\nddof: degrees of freedom correction in the calculation of the standard deviation. Default is 0.\nnan_policy: how to handle when input contains nan. Default is propagate, which returns nan. ‘raise’ \n    throws an error and ‘omit’ performs calculations ignoring nan values.'

In [4]:
"""The following examples illustrate how to use this function to calculate 
z-scores for one-dimensional numpy arrays, 
multi-dimensional numpy arrays, and Pandas DataFrames.

Numpy One-Dimensional Arrays
Step 1: Import modules."""

'The following examples illustrate how to use this function to calculate z-scores for one-dimensional numpy arrays, \nmulti-dimensional numpy arrays, and Pandas DataFrames.\n\nNumpy One-Dimensional Arrays\nStep 1: Import modules.'

In [5]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [6]:
#Step 2: Create an array of values.

In [7]:
data = np.array([6, 7, 7, 12, 13, 13, 15, 16, 19, 22])

In [8]:
#Step 3: Calculate the z-scores for each value in the array.

In [9]:
stats.zscore(data)

array([-1.39443338, -1.19522861, -1.19522861, -0.19920477,  0.        ,
        0.        ,  0.39840954,  0.5976143 ,  1.19522861,  1.79284291])

In [10]:
"""Each z-score tells us how many standard deviations away an 
individual value is from the mean. For example:

The first value of “6” in the array is 1.394 standard deviations below the mean.
The fifth value of “13” in the array is 0 standard deviations away from the mean, 
i.e. it is equal to the mean.
The last value of “22” in the array is 1.793 standard deviations above the mean."""

'Each z-score tells us how many standard deviations away an individual value is from the mean. For example:\n\nThe first value of “6” in the array is 1.394 standard deviations below the mean.\nThe fifth value of “13” in the array is 0 standard deviations away from the mean, i.e. it is equal to the mean.\nThe last value of “22” in the array is 1.793 standard deviations above the mean.'

# Numpy Multi-Dimensional Arrays

In [11]:
"""Numpy Multi-Dimensional Arrays
If we have a multi-dimensional array, we can use the axis parameter to 
specify that we want to calculate each 
z-score relative to its own array. For example, suppose we have the 
following multi-dimensional array:"""

'Numpy Multi-Dimensional Arrays\nIf we have a multi-dimensional array, we can use the axis parameter to specify that we want to calculate each \nz-score relative to its own array. For example, suppose we have the following multi-dimensional array:'

In [12]:
data = np.array([[5, 6, 7, 7, 8],
                 [8, 8, 8, 9, 9],
                 [2, 2, 4, 4, 5]])

In [13]:
stats.zscore(data, axis=1)

array([[-1.56892908, -0.58834841,  0.39223227,  0.39223227,  1.37281295],
       [-0.81649658, -0.81649658, -0.81649658,  1.22474487,  1.22474487],
       [-1.16666667, -1.16666667,  0.5       ,  0.5       ,  1.33333333]])

In [14]:
"""The z-scores for each individual value are shown relative to the array 
they’re in. For example:The first value of “5” 
    in the first array is 1.159 standard deviations below the mean of its array.
    The first value of “8” in the second array is .816 standard deviations 
    below the mean of its array."""

'The z-scores for each individual value are shown relative to the array they’re in. For example:The first value of “5” \n    in the first array is 1.159 standard deviations below the mean of its array.\n    The first value of “8” in the second array is .816 standard deviations below the mean of its array.'

In [15]:
#Pandas DataFrames
import pandas as pd
import numpy as np
import scipy.stats as st

In [16]:
cardio=pd.read_csv("Cardio_vascular.csv")
cardio.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [17]:
cardio1=cardio.copy()
st.norm.interval(alpha=0.95, loc=np.mean(cardio1["chol"]), scale=st.sem(cardio1["chol"]))

(242.8415586477306, 249.1584413522694)

In [18]:
st.norm.interval(alpha=0.90, loc=np.mean(cardio1["chol"]), scale=st.sem(cardio1["chol"]))

(243.34935246016116, 248.65064753983884)

In [19]:
st.norm.interval(alpha=0.95, loc=np.mean(cardio1["trestbps"]), scale=st.sem(cardio1["trestbps"]))

(130.5393515374625, 132.68406309668387)

In [20]:
cardio.apply(stats.zscore)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,-0.268674,0.661504,-0.915755,-0.377636,-0.659332,-0.418878,0.891255,0.820689,-0.712287,-0.060888,0.995433,1.209221,1.089852,-1.026698
1,-0.158385,0.661504,-0.915755,0.479107,-0.833861,2.387330,-1.004049,0.254953,1.403928,1.727137,-2.243675,-0.731971,1.089852,-1.026698
2,1.716520,0.661504,-0.915755,0.764688,-1.396233,-0.418878,0.891255,-1.050593,1.403928,1.301417,-2.243675,-0.731971,1.089852,-1.026698
3,0.723923,0.661504,-0.915755,0.936037,-0.833861,-0.418878,0.891255,0.516062,-0.712287,-0.912329,0.995433,0.238625,1.089852,-1.026698
4,0.834212,-1.511706,-0.915755,0.364875,0.930822,2.387330,0.891255,-1.877438,-0.712287,0.705408,-0.624121,2.179817,-0.522122,-1.026698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,0.503346,0.661504,0.055931,0.479107,-0.484803,-0.418878,0.891255,0.646617,1.403928,-0.912329,0.995433,-0.731971,-0.522122,0.973997
1021,0.613635,0.661504,-0.915755,-0.377636,0.232705,-0.418878,-1.004049,-0.354302,1.403928,1.471705,-0.624121,0.238625,1.089852,-1.026698
1022,-0.820116,0.661504,-0.915755,-1.234378,0.562371,-0.418878,-1.004049,-1.355220,1.403928,-0.060888,-0.624121,0.238625,-0.522122,-1.026698
1023,-0.489251,-1.511706,-0.915755,-1.234378,0.155137,-0.418878,-1.004049,0.429026,-0.712287,-0.912329,0.995433,-0.731971,-0.522122,0.973997
1024,-0.048097,0.661504,-0.915755,-0.663216,-1.124743,-0.418878,0.891255,-1.572811,-0.712287,0.279688,-0.624121,0.238625,1.089852,-1.026698

In [21]:
data = pd.DataFrame(np.random.randint(0, 10, size=(5, 3)), columns=['A', 'B', 'C'])
data

   A  B  C
0  9  7  4
1  2  2  3
2  5  8  6
3  7  0  6
4  5  0  0

In [22]:
#We can use the apply function to calculate the z-score of individual values by column:

In [23]:
data.apply(stats.zscore)

          A         B         C
0  1.457738  1.046229  0.089803
1 -1.543487 -0.406867 -0.359211
2 -0.257248  1.336848  0.987829
3  0.600245 -0.988105  0.987829
4 -0.257248 -0.988105 -1.706250

# Confidence Intervals Using the Normal Distribution

In [24]:
"""Confidence Intervals Using the Normal Distribution
If we’re working with larger samples (n≥30), we can assume that the 
sampling distribution of the sample mean is 
normally distributed (thanks to the Central Limit Theorem) and 
can instead use the norm.interval() function from 
the scipy.stats library."""

'Confidence Intervals Using the Normal Distribution\nIf we’re working with larger samples (n≥30), we can assume that the sampling distribution of the sample mean is \nnormally distributed (thanks to the Central Limit Theorem) and can instead use the norm.interval() function from \nthe scipy.stats library.'

In [25]:
"""The following example shows how to calculate a confidence interval for the 
true population mean height (in inches) 
of a certain species of plant, using a sample of 50 plants:"""

'The following example shows how to calculate a confidence interval for the true population mean height (in inches) \nof a certain species of plant, using a sample of 50 plants:'

In [26]:
import numpy as np
import scipy.stats as st

#define sample data
np.random.seed(0)
data = np.random.randint(10, 30, 50)

#create 95% confidence interval for population mean weight
st.norm.interval(alpha=0.95, loc=np.mean(data), scale=st.sem(data))

(17.400060940568054, 21.079939059431943)

In [27]:
#The 95% confidence interval for the true population mean height is (17.40, 21.08).

In [28]:
"""And similar to the t distribution, larger confidence levels lead to wider confidence intervals. 
For example, here’s how to calculate a 99% C.I. for the exact same data:"""

'And similar to the t distribution, larger confidence levels lead to wider confidence intervals. \nFor example, here’s how to calculate a 99% C.I. for the exact same data:'

In [29]:
#create 99% confidence interval for same sample
st.norm.interval(alpha=0.99, loc=np.mean(data), scale=st.sem(data))

(16.821910186405187, 21.65808981359481)

In [30]:
#The 95% confidence interval for the true population mean height is (16.82, 21.65).

In [31]:
"""The way to interpret this confidence interval is as follows:

There is a 95% chance that the confidence interval of [17.40, 21.07] 
contains the true population mean height of plants.

Another way of saying the same thing is that there is only a 5% chance 
that the true population mean 
lies outside of the 95% confidence interval. That is, there’s only a 
5% chance that the true population mean 
height of plants is less than 17.40 inches or greater than 21.07 inches."""

'The way to interpret this confidence interval is as follows:\n\nThere is a 95% chance that the confidence interval of [17.40, 21.07] contains the true population mean height of plants.\n\nAnother way of saying the same thing is that there is only a 5% chance that the true population mean \nlies outside of the 95% confidence interval. That is, there’s only a 5% chance that the true population mean \nheight of plants is less than 17.40 inches or greater than 21.07 inches.'