# Order precedence

() ---> paranthesis
** ----> exponent
+x , -x , ~x ---> 
/,* , // , %
+ . -
<< , >>
&
^
|
== , != , <, > ,  <=
not 
and 
or

# Special and Escape char

In [4]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [5]:
# \n ---> new line

print('hello\nworld')

hello
world

In [6]:
# \t ---> tab space

print('hello\tworld')

hello	world

# Back slash - escape character

In [8]:
print('hello\\nworld')

hello\nworld

In [9]:
print('hello\\tworld')

hello\tworld

In [10]:
# \b ---> backspace - deletes the previous char


print('hello\bworld')

helloworld

In [11]:
print('python \bclass')

python class

In [12]:
print('ab' + '\b'+'c')

abc

In [14]:
# \r --> carriage return 
# Moves all the char on the right hand side to left hand side by replacing the original ones


txt = 'hello\rwor'


print(txt)

wor

# Raw string

In [19]:
a = r'hello\nworld\tI am python'

print(a)

hello\nworld\tI am python

# String methods

In [20]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [24]:
s1 = 'abc'
s2 = '123abc'
s3 = '*&'
s4 = 'Abc'

# isnumeric- true is either numeric

print(s1.isupper()) # 
print(s2.isupper()) # 
print(s3.isupper()) # 
print(s4.isupper()) # 

print('*********')
# upper - 
print(s1.upper()) # 
print(s2.upper()) # 
print(s3.upper()) # 
print(s4.upper()) # 



# islower- true if all the char are lower 
print(s1.islower()) # 
print(s2.islower()) # 
print(s3.islower()) # 
print(s4.islower()) #

False
False
False
False
*********
ABC
123ABC
*&
ABC
True
True
False
False

# Rstrip , strip , l strip

- removes the char specified from both the end
- if not mentioned by default it'll remove space

In [28]:
print('         python          ')
print('         python          '.strip())



print('*******python**'.strip('*'))

         python
python
python

In [50]:
user_name = input('enter the user name : ')
password = input('enter the password : ')


if user_name.strip('123*') == 'xyz@gmail.com' and password.strip('*') == 'python':
    print('logged in')
    
else:
    print('invalid info')

enter the user name : 123****xyz@gmail.com*******
enter the password : python
logged in

In [35]:
print('*******     python   **'.strip('* '))

python

In [59]:
print('1234######     python      #######**'.strip('*# 321'))

4######     python

In [40]:
print('*******######py*thon#######**'.strip('*#'))

py*thon

In [45]:
print('*******py*thon**'.strip('*'))

py*thon

In [48]:
print('*******######learnbay        python#######**'.strip('*#'))

learnbay        python

In [66]:
a = 10
b = 20

print(a != b)

True

In [65]:
user_name = input('enter the user name : ')
password = input('enter the password : ')


if user_name.strip('123*') == 'xyz@gmail.com' or password.strip('*') == 'python':
    print('logged in')
    
else:
    print('invalid info')

enter the user name : xyz@gmail.com
enter the password : learnbay
logged in

In [63]:
True and False

False

In [67]:
True or True

True

In [69]:
print('         python          ')
print('         python          '.rstrip())



print('*******python*****'.rstrip('*'))

         python
         python
*******python

In [70]:

print('*******python*****'.lstrip('*'))

python*****

# Count

In [72]:
str_1 = 'Hi my name is python'

str_1.count('i')

2

In [73]:
str_1 = 'Hi my name is python this is a class'

str_1.count('is')

3

In [74]:
str_1 = 'Hi my name is python this is a class'

str_1.count(' is ')

2

In [80]:
str_1 = 'python  '



len(str_1)

8

# find , rfind , index , rindex

In [93]:
str_1 = 'Hi my name is python this is a class'

# Find - finds the index from L to R
print(str_1.find('i'))

# rfind - finds the index from r to l
print(str_1.rfind('i'))
print(str_1.find('python'))
print(str_1.rfind('n'))

1
26
14
19

In [94]:
str_1 = 'Hi my name is python this is a class'

# Find - finds the index from L to R
print(str_1.index('i'))

# rfind - finds the index from r to l
print(str_1.rindex('i'))

1
26

In [104]:
# Difference

str_1 = 'Hi my name is python this is a class'

print(str_1.index('java'))

ValueError: substring not found

In [103]:
# Difference

str_1 = 'Hi my name is python this is a class'


print(str_1.find('java'))

-1

In [110]:
a = 'this is python'

try:
    a.index('i')
    print('code continued')
except:
    print('No element found')

code continued

In [102]:
a = 'this is python'

try:
    a.find('j')
    print('code continued')
except:
    print('No element found')

code continued

In [108]:
a = 10
b = 5



try:
    print(a/b)
    
except:
    print('hello world')

2.0

# Replace

In [115]:
a = 'this is python'

b = a.replace('python' , 'java')

In [116]:
a

'this is python'

In [117]:
b

'this is java'

# ljust(left adjustment) , rjust ( right adjustment)

In [118]:
a = 'kerala'

print(a.ljust(10))

kerala

In [ ]:
kerala

In [119]:
a = 'kerala'

print(a.ljust(10 , '*'))

kerala****

In [ ]:
a = 'kerala'

print(a.rjust(10 , '*'))

In [ ]:
****kerala

In [121]:
a = '123456789'
b = '1234567891'

print(a.rjust(10 , '0'))
print(b.rjust(10 , '0'))

0123456789
1234567891

# split

In [129]:
a = 'xyz@gmail.com'

b = a.partition('@')
print(b)

('xyz', '@', 'gmail.com')

In [130]:
b[0]

'xyz'

In [131]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# Split - It converts the string into a list based on the split characters

In [139]:
a = 'this is pythons class of october'


for i in a:
    print(i)

t
h
i
s

i
s

p
y
t
h
o
n
s

c
l
a
s
s

o
f

o
c
t
o
b
e
r

In [140]:
a = 'this is pythons class of october'

a.split()

['this', 'is', 'pythons', 'class', 'of', 'october']

In [142]:
a = 'this*is*pythons*class*of*october'

a.split('*')

['this', 'is', 'pythons', 'class', 'of', 'october']

In [143]:
a = 'this is pythons*class of october'

a.split('*')

['this is pythons', 'class of october']

In [144]:
a = '''this is pythons
class of october
of learnbay'''

a.split('\n')

['this is pythons', 'class of october', 'of learnbay']

In [145]:
a = '''this is pythons
class of october
of learnbay'''

for i in a.split('\n'):
    print(i)

this is pythons
class of october
of learnbay

In [146]:
a = 'this is pythons class of october'

for i in a.split():
    print(i)

this
is
pythons
class
of
october

In [150]:
a = 'this is pythons class of october'

b = a.split(' ')

In [149]:
a

'this is pythons class of october'

In [152]:
b[2] = 'java'

In [153]:
b

['this', 'is', 'java', 'class', 'of', 'october']

# Join

In [155]:
'--->'.join(b)

'this--->is--->java--->class--->of--->october'

In [167]:
' '.join(b)

'this is java class of october'

In [158]:
print(len(''.split('')))

ValueError: empty separator

In [161]:
a = 'this is'

len(a.split(' '))

2

In [165]:
a = 'xyz@gmail@com'

a.split('@')

['xyz', 'gmail', 'com']

In [166]:
a = 'xyz@gmail@com'

a.partition('@')

('xyz', '@', 'gmail@com')

# List

# anything written inside []

In [176]:
a = [1,2,3,34,5]

print(a , type(a))

[1, 2, 3, 34, 5] <class 'list'>

# Creation of list

In [177]:
# 1. you already know the elements

lst_1 = ['banana' , 'mango' , 'grapes']
print(lst_1)

['banana', 'mango', 'grapes']

# 2. Taking a user input

In [178]:
lst = input('enter a list : ')

print(lst , type(lst))

enter a list : 1000
1000 <class 'str'>

In [192]:
lst = eval(input('enter a list : '))

print(lst , type(lst))

enter a list : 1,2,3
(1, 2, 3) <class 'tuple'>

In [189]:
a = '100.54'

print(int(float(a)))

100

In [186]:
a = '100'

print(float(a))

100.0

In [193]:
lst = eval(input('enter a list : '))

print(lst , type(lst))

enter a list : [1,2,3,4]
[1, 2, 3, 4] <class 'list'>

In [194]:
lst = list(eval(input('enter a list : ')))

print(lst , type(lst))

enter a list : 1,2,3,4
[1, 2, 3, 4] <class 'list'>

In [202]:
a = list(eval('1,2,3,4,5,65'))

print(a , type(a))

[1, 2, 3, 4, 5, 65] <class 'list'>

In [203]:
a = eval('[1,2,3,4,5,65]')

print(a , type(a))

[1, 2, 3, 4, 5, 65] <class 'list'>

# 3. type casting

In [204]:
a = 'abc'
b = (1,2,3,4,5)


print(list(a))

print(list(b))

['a', 'b', 'c']
[1, 2, 3, 4, 5]

# 4. split

In [206]:
a = 'this is python'

print(a.split())
print(list(a))

['this', 'is', 'python']
['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'p', 'y', 't', 'h', 'o', 'n']

# List properties

- seq data type 
- indexing (accesing one element )
- slicing (accesing multiple elements)
- supports +ve and -ve index
- Allows duplication
- It is hetrogenous - can store multiple data types
- Basic op concatination , repetition , identity , Membership

In [210]:
# Indexing 
# +ve index it starts from 0


a = ['Abhisail' , 'Sandhya' , 'Sabina' , 'Apurva']

a[1]

'Sandhya'

In [211]:
# Indexing 
# -ve index it starts from -1


a = ['Abhisail' , 'Sandhya' , 'Sabina' , 'Apurva']

a[-2]

'Sabina'

In [212]:
# slicing 
# +ve index it starts from 0


a = ['Abhisail' , 'Sandhya' , 'Sabina' , 'Apurva']

a[0:3]

['Abhisail', 'Sandhya', 'Sabina']

In [213]:
# slicing 
# -ve index it starts from -1


a = ['Abhisail' , 'Sandhya' , 'Sabina' , 'Apurva']

a[-4:-1]

['Abhisail', 'Sandhya', 'Sabina']

In [214]:
# slicing 
# +ve index it starts from 0


a = ['Abhisail' , 'Sandhya' , 'Sabina' , 'Apurva']


# Sabina , Sandhya
a[2:0:-1]

['Sabina', 'Sandhya']

In [215]:
# slicing 
# +ve index it starts from 0


a = ['Abhisail' , 'Sandhya' , 'Sabina' , 'Apurva']


# Sabina , Sandhya
a[-2:-4:-1]

['Sabina', 'Sandhya']

In [216]:
# slicing 
# +ve index it starts from 0


a = ['Abhisail' , 'Sandhya' , 'Sabina' , 'Apurva']


# Sabina , Sandhya
a[::-1]

['Apurva', 'Sabina', 'Sandhya', 'Abhisail']

In [217]:
# Allows duplication



a = ['Abhisail' , 'Sandhya' , 'Sabina' , 'Apurva' ,'Abhisail']


print(a , type(a))

['Abhisail', 'Sandhya', 'Sabina', 'Apurva', 'Abhisail'] <class 'list'>

In [218]:
# Allows duplication



a = {'Abhisail' , 'Sandhya' , 'Sabina' , 'Apurva' ,'Abhisail'}


print(a , type(a))

{'Sandhya', 'Abhisail', 'Apurva', 'Sabina'} <class 'set'>

In [219]:
# It is hetrogenous - can store multiple data types


a = ['Abhisail' , 12 , 45.6 , True ,[1,2,3,4]]


print(a , type(a))

['Abhisail', 12, 45.6, True, [1, 2, 3, 4]] <class 'list'>

In [222]:
# Concatination
# op --> +
# operands --> Both should be list


a = [1,2,3,4]
b = [5,6,7,8]

print(a + b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [225]:
# repetition
# op --> *
# operands --> one should be a list and should be an int

a = [1,2,3,4]
b = 2

print(a * b)

[1, 2, 3, 4, 1, 2, 3, 4]

In [226]:
# identity
# op --> is and is not


a = [1,2,3,4]
b = [1,2,3,4]

print(id(a))
print(id(b))

print(a is b)

2956318670592
2956319418624
False

In [228]:
# Membership
# op --> in and not in


a = [1,2,3,4]
b = 5


print(b in a)

False

In [230]:
# Membership
# op --> in and not in


a = [1,2,3,4]
b = 4


print(b not in a)

False

# Nested List

In [ ]:
# notes
# int - 
# string - 
# 




# python

# ml - stuck

In [264]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']