# Nested list


- List inside a list

In [ ]:
a = [1,2,3,4,5,56]  # list


b = [[1,2,3],4,5,6] # nested list

In [2]:
a = [16,20,31,48,59,56]  # list


# 48
# +ve indexing

print(a[3])

# -ve indexing
print(a[-3])

48
48

In [18]:
b = [[61,42,83],94,75,26] # nested list


b[0][-1]

83

In [7]:
b = [[61,42,83],94,75,26] # nested list


b[0][::-1]

[83, 42, 61]

In [21]:
nested_list = [[1,2,2],[5,6,7],'python','learnbay',['a','b']]


nested_list[1][1]

6

In [41]:
nested_list = [[1,2,2],[5,6,7],[[[6,7,8],['python','learnbay'],['a','b']],98,45,65]]


# nohtyp
nested_list[2][-4][1][0][::-1]

'nohtyp'

In [53]:
my_str = 'abcdefghijklmnopqrstuvwxyz7896'

list_1 = list(my_str)

import numpy as np

arr = np.array(list_1)
arr_1 = arr.reshape(5,6)

print(arr_1)

print('*******')
print(arr_1[3][1])

# i , j , k
print('---------------')
print(arr_1[1][2:5])

[['a' 'b' 'c' 'd' 'e' 'f']
 ['g' 'h' 'i' 'j' 'k' 'l']
 ['m' 'n' 'o' 'p' 'q' 'r']
 ['s' 't' 'u' 'v' 'w' 'x']
 ['y' 'z' '7' '8' '9' '6']]
*******
t
---------------
['i' 'j' 'k']

In [55]:
a = 'python'

# yth
a[1:4]

'yth'

# Methods of list

In [56]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# Methods to insert elements in the list

- append
- extend 
- insert

In [57]:
# Append


- It appends an element at the last of the list
- you can only enter one element at a time

In [60]:
lst = [1,2,3,4,5]

# add 10

lst.append(10)

print(lst)

[1, 2, 3, 4, 5, 10]

In [64]:
lst = [1,2,3,4,5]

# add 10

lst.append([10,11])

print(lst)

[1, 2, 3, 4, 5, [10, 11]]

In [ ]:
# extend - Joing or extending 2 lists

- It is similar to concatination but it does not create a new list but it rather updates the existing one

In [68]:
a = [1,2,3]
b = [7,8,9]

print(a+b)
print(a)
print(b)

[1, 2, 3, 7, 8, 9]
[1, 2, 3]
[7, 8, 9]

In [72]:
a = [1,2,3]
b = [7,8,9]


a.extend(b)

In [73]:
print(a)
print(b)

[1, 2, 3, 7, 8, 9]
[7, 8, 9]

In [74]:
a = [1,2,3]
b = [7,8,9]
c = [123,34,43,54]

b.extend(c)
a.extend(b)

print(a)
print(b)
print(c)

[1, 2, 3, 7, 8, 9, 123, 34, 43, 54]
[7, 8, 9, 123, 34, 43, 54]
[123, 34, 43, 54]

# Insert

- inseerts the object ata particular index value

syntax -
(index , object)

In [79]:
a = ['a' , 'b' , 'c' , 'd']


# inser 'e' between c and d
a.insert(1 , 10)

print(a)

['a', 10, 'b', 'c', 'd']

In [80]:
a = ['a' , 'b' , 'c' , 'd']


# inser 'e' between c and d
a.insert(3,'e')

print(a)

['a', 'b', 'c', 'e', 'd']

# Removing the elements from the list

- pop
- remove

In [82]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# pop

In [95]:
emp_data = ['emp_1' , 'emp_2' , 'emp_3' , 'emp_4']

emp_ex_data = []
emp_ex_data.append(emp_data.pop(2))

In [98]:
emp_ex_data

['emp_3', 'emp_4']

In [92]:
emp_data

['emp_1', 'emp_2', 'emp_4']

In [97]:
emp_ex_data.append(emp_data.pop(2))

In [ ]:
# Remove

In [113]:
emp_data = ['emp_1' , 'emp_2' , 'emp_3' , 'emp_4']

a = emp_data.remove('emp_2')

In [114]:
emp_data

['emp_1', 'emp_3', 'emp_4']

# Index

In [117]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [122]:
a = ['a' ,'c' ,'b' , 'c' , 'd']

a.index('c')

1

In [132]:
a = ['a'  ,'b' , 'c' , 'd' ,'e' , 'f' , 'g' , 'h' , 'c']

a.index('c' ,3)

8

In [138]:
a = ['a'  ,[ 'c'] ,'e' , 'f' , 'g' , 'h' , 'c']

a[1].index('c')

0

# Reverse

In [141]:
a = ['a' ,'c' ,'b' , 'c' , 'd']

a.reverse()

In [142]:
a

['d', 'c', 'b', 'c', 'a']

In [157]:
b = [[61,42,83],94,75,26] # nested list


b[0].reverse()
print(b)

[[83, 42, 61], 94, 75, 26]

# Sort 


- sort works only for a homogenous data

In [159]:
a = [433,234,343,544,4,234]

a.sort() # reverse = False ---> Ascending order
print(a)

[4, 234, 234, 343, 433, 544]

In [160]:
a = [433,234,343,544,4,234]

a.sort(reverse = True) # reverse = true ---> descending order
print(a)

[544, 433, 343, 234, 234, 4]

In [162]:
print('a' > 2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [163]:
a = ['a','b' , 'c' ,'d' , 'A']

a.sort(reverse = True) # reverse = true ---> decending order
print(a)

['d', 'c', 'b', 'a', 'A']

In [ ]:
A --> 65
a --> 97

# clear

In [173]:
a = [1,2,3,4,5]

In [174]:
a.clear()

In [175]:
a

[]

# Del

In [168]:
a = [1,2,3,4]

del a

In [169]:
a

NameError: name 'a' is not defined

# Count

In [172]:
a = [1,2,2,2,2,2,3,4,4,5,6]

a.count(2)

5

# Shallow and Deep copy

In [179]:
a = [1,2,3,4]
b = a # aliasing


print(id(a))
print(id(b))

b[1] = 5000


print(a)
print(b)

1835622551360
1835622551360
[1, 5000, 3, 4]
[1, 5000, 3, 4]

In [185]:
a = [1,2,3,4]
b = a.copy() # shallow copy


print(id(a))
print(id(b))

print('---------')
print(a)
print(b)

b[0] = 2000

print('---------')
print(a)
print(b)

1835622560896
1835622552384
---------
[1, 2, 3, 4]
[1, 2, 3, 4]
---------
[1, 2, 3, 4]
[2000, 2, 3, 4]

In [184]:
a = [1,2,3,4]
b = a.copy() # shallow copy


print(id(a))
print(id(b))

print('---------')
print(a)
print(b)


print('---------')
print(id(a[2]))
print(id(b[2]))

1835622560768
1835622203968
---------
[1, 2, 3, 4]
[1, 2, 3, 4]
---------
1835488209264
1835488209264

# Failing point of shallow copy

In [189]:
a = [1,2,3,[6,7]]
b = a.copy() # shallow copy


print(id(a))
print(id(b))

print('---------')
print(id(a[-1]))
print(id(b[-1]))


b[3][0] = 900000


print(a)
print(b)

1835622543296
1835622500864
---------
1835621889600
1835621889600
[1, 2, 3, [900000, 7]]
[1, 2, 3, [900000, 7]]

# Deep copy

In [190]:
from copy import deepcopy

In [193]:
a = [1,2,3,[6,7]]
b = deepcopy(a)


print(id(a))
print(id(b))

print('---------')
print(id(a[-1]))
print(id(b[-1]))


b[3][0] = 900000


print(a)
print(b)

1835622526080
1835621891136
---------
1835621812928
1835622502336
[1, 2, 3, [6, 7]]
[1, 2, 3, [900000, 7]]

In [194]:
# df 

import pandas as pd

In [208]:
df = pd.read_csv('unsorted_imdb_rating.csv')
df

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.1,The Godfather,Crime,175
2,9.2,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.8,12 Angry Men,Drama,96
6,8.7,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.3,Schindler's List,Biography,195
9,8.1,Fight Club,Drama,139

In [209]:
df_backup = df # aliasing

In [210]:
print(id(df_backup))
print(id(df))

1835661681664
1835661681664

In [198]:
df_backup

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.1,The Godfather,Crime,175
2,9.2,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.8,12 Angry Men,Drama,96
6,8.7,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.3,Schindler's List,Biography,195
9,8.1,Fight Club,Drama,139

In [199]:
df

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.1,The Godfather,Crime,175
2,9.2,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.8,12 Angry Men,Drama,96
6,8.7,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.3,Schindler's List,Biography,195
9,8.1,Fight Club,Drama,139

In [211]:
df.replace('Crime' , 'Action' , inplace = True)
df

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Action,142
1,9.1,The Godfather,Action,175
2,9.2,The Godfather: Part II,Action,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Action,154
5,8.8,12 Angry Men,Drama,96
6,8.7,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.3,Schindler's List,Biography,195
9,8.1,Fight Club,Drama,139

In [212]:
df_backup

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Action,142
1,9.1,The Godfather,Action,175
2,9.2,The Godfather: Part II,Action,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Action,154
5,8.8,12 Angry Men,Drama,96
6,8.7,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.3,Schindler's List,Biography,195
9,8.1,Fight Club,Drama,139

In [213]:
df = pd.read_csv('unsorted_imdb_rating.csv')
df

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.1,The Godfather,Crime,175
2,9.2,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.8,12 Angry Men,Drama,96
6,8.7,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.3,Schindler's List,Biography,195
9,8.1,Fight Club,Drama,139

In [214]:
back_data = df.copy() # shallow copy

In [215]:
print(id(back_data))
print(id(df))

1835651037168
1835651039040

In [204]:
back_data

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.1,The Godfather,Crime,175
2,9.2,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.8,12 Angry Men,Drama,96
6,8.7,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.3,Schindler's List,Biography,195
9,8.1,Fight Club,Drama,139

In [205]:
df

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.1,The Godfather,Crime,175
2,9.2,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.8,12 Angry Men,Drama,96
6,8.7,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.3,Schindler's List,Biography,195
9,8.1,Fight Club,Drama,139

In [216]:
df.replace('Crime' , 'Action' , inplace = True)
df

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Action,142
1,9.1,The Godfather,Action,175
2,9.2,The Godfather: Part II,Action,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Action,154
5,8.8,12 Angry Men,Drama,96
6,8.7,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.3,Schindler's List,Biography,195
9,8.1,Fight Club,Drama,139

In [217]:
back_data

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.1,The Godfather,Crime,175
2,9.2,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.8,12 Angry Men,Drama,96
6,8.7,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.3,Schindler's List,Biography,195
9,8.1,Fight Club,Drama,139

In [229]:
data = np.arange(16).reshape(4,4)
data

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [230]:
data_backup = deepcopy(data)

In [231]:
print(id(data))
print(id(data_backup))

1835643622864
1835643622768

In [232]:
print(id(data[0]))
print(id(data_backup[0]))

1835643622096
1835643622960

In [234]:
data_backup[0][0] = 90900

In [235]:
data_backup

array([[90900,     1,     2,     3],
       [    4,     5,     6,     7],
       [    8,     9,    10,    11],
       [   12,    13,    14,    15]])

In [236]:
data

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [240]:
print(id(data[0][1]))

print(id(data_backup[0][1]))

1835657997712
1835657995792

In [241]:
a = [1,2,3,[2,7]]
b = deepcopy(a)


print(id(a))
print(id(b))

print('---------')
print(id(a[-1][0]))
print(id(b[-1][0]))

1835641823296
1835641825856
---------
1835488209360
1835488209360

# For loops

In [ ]:

syntax -

for var in iterable:
    stat1
    stat2
    stat3
    stat4

In [ ]:
a = 10

In [ ]:
# How to identify if the datatype is an iterable

- len(function should work)
- print(dir(datatype)) --> __iter__

In [242]:
len('python')

6

In [243]:
len(1020652656)

TypeError: object of type 'int' has no len()

In [244]:
len([1,23,3,4])

4

In [245]:
len((1,23,3,4))

4

In [246]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [247]:
print(dir(complex))

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [249]:
for var in 'python':
    print(var)

p
y
t
h
o
n

In [248]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
for 1st iteration     var = p
print(p)

for 2nd iteration    var = y
print(y)



for 6th iteration     var = n
print(n)

In [250]:
for var in 'python':
    print('Hello world')

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [251]:
for var in [1,2,3,4,5]:
    print(var , 'learnbay')

1 learnbay
2 learnbay
3 learnbay
4 learnbay
5 learnbay

In [252]:
a = [1,2,3,4,5]

for var in a:
    print(var , 'learnbay')

1 learnbay
2 learnbay
3 learnbay
4 learnbay
5 learnbay

In [253]:
a = [1,2,3,4,5,6,7,8,9,10]

for i in a:
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# print the table of 2


2 * 1 = 2
2 * 2 = 4
.
.
.
2 * 10 = 20

In [256]:
a = [1,2,3,4,5,6,7,8,9,10]

for i in a:
    print('2 *'+str(i)+ ' = '+str(i*2)) # concatination

2 *1 = 2
2 *2 = 4
2 *3 = 6
2 *4 = 8
2 *5 = 10
2 *6 = 12
2 *7 = 14
2 *8 = 16
2 *9 = 18
2 *10 = 20

In [255]:
print(str(2)+'df')

2df

In [258]:
a = [1,2,3,4,5,6,7,8,9,10]

for var in a:
    print(f'2 * {var} = {var*2}') # format string

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [261]:
a = [1,2,3,4,5,6,7,8,9,10]
# take an user input 15


num = int(input('enter a number : '))

for var in a:
    print(f'{num} * {var} = {var*num}') # format string

enter a number : 15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

# List comprehension