# Float


- Any numbers with a decimal point

In [2]:
a = 11.2

print(a , type(a))

11.2 <class 'float'>

In [ ]:
# Operations possible on float 

- Arithmetic operations
- Comparision operations
- logical operations
- Equality operators
- Identity operators
- Assignment operators except bitwise 

# Operations not possible on float
- Bitwise operations 
- Assignment operators with bitwise 


# Note: Object reuability is not applicable

In [11]:
a = 10.6
b = 6.3

print(a % b)

4.3

In [16]:
a = 10.6
b = 7.5
print(a % b)

3.0999999999999996

In [14]:
a = 10
b = 7

print(a % b)

3

In [17]:
a = 10.7
b = 4.5

print(a <= b)

False

In [18]:
print(bin(1.2))

TypeError: 'float' object cannot be interpreted as an integer

In [19]:
a = 10.4
b = 4.6

print(a & b)

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [20]:
a = 10.6
b = 10.6

print(a is b)

False

In [23]:
a = 5.7
a &= 10.6


print(a)

TypeError: unsupported operand type(s) for &=: 'float' and 'float'

In [ ]:
# op ---> is , is not


from -5

In [26]:
a = 10
b = 10


print(id(a))
print(id(b))

print(a is b)

2507363478096
2507363478096
True

In [28]:
a = 10
b = 10


print(id(a))
print(id(b))

print(a is b)

2507363478096
2507363478096
True

In [ ]:
a = 257
b = 257


print(id(a))
print(id(b))

print(a is b)

In [35]:
a = 30
b = 20
c = 10


print(id(a))
print(id(b))
print(id(c))

print(a is b)

2507363478736
2507363478416
2507363478096
False

In [1]:
a = 10

print(id(a))


print(a)

2993193970256
10

In [13]:
a = [[1,2,3],4,5]
b = a.copy()

print(a)
print(b)

print(id(a))
print(id(b))


print(a[0])
print(b[0])

print(id(a[0]))
print(id(b[0]))

a[0][-1] = 100

print(a)
print(b)

[[1, 2, 3], 4, 5]
[[1, 2, 3], 4, 5]
2993305970496
2993298893632
[1, 2, 3]
[1, 2, 3]
2993296097664
2993296097664
[[1, 2, 100], 4, 5]
[[1, 2, 100], 4, 5]

In [14]:
a = [[1,2,3],4,5]
b = a

print(a)
print(b)

print(id(a))
print(id(b))


print(a[0])
print(b[0])

print(id(a[0]))
print(id(b[0]))

a[0][-1] = 100

print(a)
print(b)

[[1, 2, 3], 4, 5]
[[1, 2, 3], 4, 5]
2993300049472
2993300049472
[1, 2, 3]
[1, 2, 3]
2993298877504
2993298877504
[[1, 2, 100], 4, 5]
[[1, 2, 100], 4, 5]

In [17]:
a = [[1,2,3],4,5]
b = a.copy() # shallow copy

print(a)
print(b)

print(id(a))
print(id(b))


# print(a[1])
# print(b[1])


a[1] = 100

print(a)
print(b)

[[1, 2, 3], 4, 5]
[[1, 2, 3], 4, 5]
2993298959808
2993301936768
[[1, 2, 3], 100, 5]
[[1, 2, 3], 4, 5]

In [21]:
a = [[1,2,3],4,5]
b = a # aliasing

print(a)
print(b)

print(id(a))
print(id(b))


# # print(a[1])
# # print(b[1])


a[1] = 100

print(a)
print(b)

[[1, 2, 3], 4, 5]
[[1, 2, 3], 4, 5]
2993305940800
2993305940800
[[1, 2, 3], 100, 5]
[[1, 2, 3], 100, 5]

# Complex 

- Any number that can be represented in form of a+bj

where a is real
b is imag

In [22]:
a = 10+5j

print(a , type(a))

(10+5j) <class 'complex'>

In [25]:
a = 10+5j

print(a.real)
print(a.imag)

10.0
5.0

In [ ]:
# Operations possible on complex


- Arithmetic except modulo and floor division
- Logical operators
- Equality operators
- Identity operators
- Asssignment operators except bitwise

# Operations not possible
- Bitwise Operations
- Comparistions operations
- Asssignment operators with bitwise

# Object reuasbility is not applicable

In [27]:
a = 10+6j
b = 20+5j

print(a % b)

TypeError: can't mod complex numbers.

In [29]:
a = 10+6j
b = 20+5j

print(a // b)

TypeError: can't take floor of complex number.

In [31]:
a = bool(0+0j)
a

False

In [32]:
a = 10+6j
b = 20+5j

print(a > b)

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [ ]:
a = 10+6j
b = 20+5j

print(a % b)

# Strings


Anything writen inside a '__' , "__" , '''__''' , """__"""

In [33]:
a = '10'
print(a  , type(a))

10 <class 'str'>

In [34]:
a = 'this is a pythons class'
print(a  , type(a))

this is a pythons class <class 'str'>

In [35]:
a = 'this is a python's class'
print(a  , type(a))

SyntaxError: invalid syntax (2154543004.py, line 1)

In [36]:
a = "this is a python's class"
print(a  , type(a))

this is a python's class <class 'str'>

In [37]:
a = "this 
is a 
python's 
class"
print(a  , type(a))

SyntaxError: EOL while scanning string literal (955497215.py, line 1)

In [38]:
a = '''this 
is a 
python's 
class'''
print(a  , type(a))

this
is a
python's
class <class 'str'>

In [39]:
a = """this 
is a 
python's 
class"""
print(a  , type(a))

this
is a
python's
class <class 'str'>

In [ ]:
# Propertities of string


- It is a seq data type --> It allows +ve and -ve indexing
- +ve indexing ---> start with 0
- -ve indexing ----> starts with -1
- indexing , slicing , concatination, repetition, identity , membership


# Note string is immutable

In [42]:
a = 'hello world'

print(a[6:])

world

In [44]:
a = 'hello world'

print(a[-5:])

world

In [46]:
a = 'hello world'

print(a[2::-1])

leh

In [48]:
a = 'hello world'

print(a[-9::-1])

leh

In [47]:
a[-9]

'l'

In [54]:
a = '2015-07-31' # YYYY-MM-DD

# +ve indexing 
day = a[8:11]
month = a[5:7]
year = a[:4]

print(day)
print(month)
print(year)

# -ve indexing

day = a[-2:]
month = a[-5:-3]
year = a[:-6]

print(day)
print(month)
print(year)

31
07
2015
31
07
2015

In [58]:
a = 'python' # nohtyp

print(a[::-1])
print(a[-1::-1])
print(a[7::-1])
print(a[-1:-7:-1])

nohtyp
nohtyp
nohtyp
nohtyp

In [ ]:
# Indexing - Extracting single char at a time 
syntax :
    var[index_value]
    
The index value can be positive as well as negative

In [ ]:
# Slicing - Extracting multiple char at a time 
syntax :
    var[start_index : stop_index : step]
    
start_index ---> Inclusive
stop_index ----> exclusive
step --> By default the step value is 1 which also means that read in L-R direction

step if changed to -ve it means that read from R-L direction

step 2 every 2nd char from the begining to right
step -2 every 2nd char from right to left

step n every nth vhar from left to right
step -n every -nth char from right to left

In [49]:
a = '''Today is the anniversary of the publication 
of Robert Frost’s iconic poem “Stopping by Woods on a Snowy Evening,” 
a fact that spurred the Literary Hub office into a long conversation about their favorite poems, 
the most iconic poems written in English, and which poems we should all have already read 
(or at least be reading next). Turns out, despite frequent (false) claims that poetry is dead 
and/or irrelevant and/or boring, there are plenty of poems that have sunk deep into our collective 
consciousness as cultural icons. (What makes a poem iconic? For our purposes here, it’s primarily a 
matter of cultural ubiquity, though unimpeachable excellence helps any case.) So for those of you who 
were not present for our epic office argument, I have listed some of them here.'''

In [61]:
a = '123456789'

print(a[0:9])
print(a[0:9:2])
print(a[::-2])

123456789
13579
97531

In [62]:
# Concatination

# op --> +
# operands ---> both should be string

a = 'data'
b = 'science'

print(a + b)

datascience

In [ ]:
# Repetition

# op ---> *
# operands ----> One should be string and the other should be a int

In [65]:
a = 'abc'
b = 5

print(a*b)

abcabcabcabcabc

In [64]:
a = 6
b = 5

print(a*b)

30

In [ ]:
# Identity
# op ---> is and is not
- tells if the address of 2 variables is same or not
- the output is always bool

In [66]:
a = 'python'
b = 'python'

print(id(a))
print(id(b))

2993233173616
2993233173616

In [3]:
a = 'python@'
b = 'python@'

print(id(a))
print(id(b))

2414452492336
2414452483056

In [69]:
a = 'data science'
b = 'data science'

print(id(a))
print(id(b))

print(a is b)

2993318149040
2993317422896
False

In [70]:
a = 'data science'
b = 'data science'

print(id(a))
print(id(b))

print(a is not b)

2993318147696
2993318149360
True

In [71]:
a = 'python'
b = 'cython'

print(id(a))
print(id(b))

2993233173616
2993203339824

In [1]:
a = 'python'
b = 'cython'

print(id(a[1]))
print(id(b[1]))

2184378991472
2184378991472

In [ ]:
a = 'python'
b = 'cython'

print(a)

In [1]:
a = None
b = None

print(id(a))
print(id(b))

140704155540696
140704155540696

In [ ]:
# Membership operators

# op --> in ans not in
- Tells us if the sub seq is present inside a seq or no
- always returns bool

In [4]:
a = 'this is october batch of learnbay'

print('batch' in a)

True

In [6]:
a = 'this is october batch of learnbay'

print('Batch' not in a)

True

In [8]:
a = 'this is october batch of learnbay'

print('z' in a)

False

In [9]:
a = 'this october batch of learnbay'

print(' is' in a)

False

In [11]:
a = 'this is october batch of learnbay'

print(' is ' in a)

True

In [18]:
a = 'this is october batch of learnbay'

print('s i' in a)

True

# Immutable

In [20]:
a = 'python'

a[3] = 'k'

TypeError: 'str' object does not support item assignment

In [22]:
lst = [1,2,3,4]

lst[2] = 100

lst

[1, 2, 100, 4]

In [34]:
a = 'this is october batch of learnbay'

b = a.replace('october' , 'oct')

In [35]:
a

'this is october batch of learnbay'

In [36]:
b

'this is oct batch of learnbay'

In [33]:
a = 10

print(id(a))

a = 20
print(id(a))

print(a)

2414365010512
2414365010832
20

# String methods

In [38]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [45]:
a = 'this is pythons class'


# capitalize - make the first character have upper case and the rest lowercase.
print(a.capitalize())


# upper - converts all the char to upper
print('apple BANANA'.upper())


# lower - converts all the char to lower
print('apple BANANA'.lower())


# swapcase - converts upper to lower and lower to upper 
print('apple BANANA'.swapcase())



# title - 
print(a.title())

This is pythons class
APPLE BANANA
apple banana
APPLE banana
This Is Pythons Class

In [62]:
# Methods that return bool values 


# startswith

a = 'hello world'
print(a.startswith('hell'))

print(a.startswith('hell' , 5))

print(a.startswith('w' , 6))

print('********')
# endswith

a = 'hello world'

print(a.endswith('rld'))

print(a.endswith('rld' , 0 , 5))


print(a.endswith('o' , 0 , 5))

True
False
True
********
True
False
True

In [56]:
a = ['xyz@gmail.co' , 'abc@yahoo.in' , 'pqr@gmail.com']
b = []

for i in a:
    if i.startswith('gmail',4) == True:
        b.append(i)

In [57]:
b

['xyz@gmail.com', 'pqr@gmail.com']

In [60]:
a = 'hello world'
len(a)

11

In [63]:
a = ['xyz@gmail.co' , 'abc@yahoo.in' , 'pqr@gmail.com']
b = []

for i in a:
    if i.endswith('com') == True:
        b.append(i)

In [64]:
b

['pqr@gmail.com']

In [68]:
a = 'hello world'


print(a.startswith('h'))

print(a.endswith('d'))

True
True

In [76]:
a = 'hello world'


print(a.startswith('w' , 6))

print(a.endswith('o' , 0 ,5))

True
True

In [82]:
s1 = 'abc'
s2 = '123abc'
s3 = '*&'
s4 = '1234'

# isalnum- true is either alpha / numbers / mix of both else false

print(s1.isalnum()) # true
print(s2.isalnum()) # true
print(s3.isalnum()) # false
print(s4.isalnum()) # true


print('****************')


# isalph- true is either alpha

print(s1.isalpha()) # true
print(s2.isalpha()) # false
print(s3.isalpha()) # false
print(s4.isalpha()) # false


print('****************')

# isnumeric- true is either numeric

print(s1.isnumeric()) # false
print(s2.isnumeric()) # false
print(s3.isnumeric()) # false
print(s4.isnumeric()) # true


print('****************')

True
True
False
True
****************
True
False
False
False
****************
False
False
False
True
****************

In [86]:
s1 = 'abc'
s2 = '123abc'
s3 = '*&'
s4 = '1234'

# isnumeric- true is either numeric

print(s1.isidentifier()) # true
print(s2.isidentifier()) # false
print(s3.isidentifier()) # false
print(s4.isidentifier()) # false

True
False
False
False

In [85]:
1234abc = 12
1234abc

SyntaxError: invalid syntax (242504438.py, line 1)

In [91]:
a ='abc'


print(a * 2)

abcabc

# Continue from special and escape char