# Variable length arguments

- *args - takes the variable length positional args and store the value as a tuple
- **kwargs - Takes the variable length keyword args and store the value in form of a dic

In [31]:
def add(*var):
    print(var)
    
    
add(10,20,30)

(10, 20, 30)

In [14]:
def add(*args , **kwargs):
    print(args)
    print(kwargs)
    
    
add(10,20,30 , a = 10 , b = 20 ,c = 30 , d =40)

(10, 20, 30)
{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [18]:
def add(*args):
    print(sum(args))

In [21]:
add(10,20 , 40 ,890)

960

In [26]:
list(range(1,10 , 2))

[1, 3, 5, 7, 9]

In [29]:
a = 'python'


a.swapcase()

'PYTHON'

# **

In [42]:
emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}

In [43]:
def emp_adder(a,b,c):
    key = f'emp_{len(emp_data)+1}'
    emp_data.setdefault(key , {'Age': a , 'Salary': b , 'Name': c})

In [46]:
emp_adder( 60000 , 'emp_smart') # age ? location = bangalore , pan -

In [47]:
emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 25, 'Salary': 656656, 'Name': 'new_emp'},
 'emp_6': {'Age': 25, 'Salary': 656656, 'Name': 'new_emp_1'}}

In [ ]:
age ?
location -> salary --> name

In [ ]:
name -->

In [ ]:
pan =

In [56]:
emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}

In [57]:
def emp_adder(**kwargs):
    '''If you are entering any details keep the first letter
    in uppercase'''
    key = f'emp_{len(emp_data)+1}'
    emp_data.setdefault(key ,kwargs)

In [61]:
emp_adder(Name = 'new_emp_2' , Salary = 9899896 , Location = 'bangalore')

In [62]:
emp_data

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Name': 'new_emp_2',
  'Salary': 9899896,
  'Age': 85,
  'Location': 'bangalore'},
 'emp_6': {'Name': 'new_emp_2', 'Salary': 9899896, 'Location': 'bangalore'}}

In [74]:
def emp_adder(**kwargs):
    key = f'emp_{len(emp_data)+1}'
    temp = {}
    for i,j in kwargs.items():
        temp[i.capitalize()] = j
    emp_data.setdefault(key,temp)
    return f'New Employee {kwargs["name"]} added'

(1, 2, 34, 4, 3)
{'name': 'jksdfhksjf', 'default': None}

# Global and local variable

In [75]:
x = 10
y = 20

def add(a , b):
    c = a+b
    d = x+y
    print(d)
    print(c)
    
    
add(10 , 20)

print(x)
print(y)
print(d)
print(c)

30
30
10
20

NameError: name 'd' is not defined

In [76]:


def emp_info(emp_name , emp_sal , emp_age , emp_location = 'Goa'):
    print('the name of the emp is ' , emp_name)
    print('the emp_sal of the emp is ' , emp_sal)
    print('the emp_age of the emp is ' , emp_age)
    print('the emp_location of the emp is ' , emp_location)
    
    
emp_info( 'xyz' ,  34334 ,  54 )

the name of the emp is  xyz
the emp_sal of the emp is  34334
the emp_age of the emp is  54
the emp_location of the emp is  Goa

In [77]:
emp_name

NameError: name 'emp_name' is not defined

In [ ]:
# Retun

- It is optional
- If return is not used by default the return value is None
- you can return any value and of any data type

In [78]:
def add(a,b):
    print(a+b)

In [80]:
num = add(10,220)

230

In [82]:
print(num)

None

In [83]:
def add(a,b):
    return

In [86]:
num = add(10,220)

In [87]:
num

230

In [ ]:
def palindrom(a):
    if a == a[::-1]:
        print('yes')
    else:
        print('no')

In [ ]:
a = 'python'


palindrom 
 if the return value is yes the close

if the return value is no ask the user if he want to try with another word or no?
        yes
        level
        no
        end

In [101]:
def add(a , b):
    c = a+b
    d = a-b
    return (c ,d)


num = add(10,220)
print(num)

(230, -210)

In [ ]:
200 + 200 --> 400

In [1]:
def add(a , b):
    c = a+b
    return(c)

In [2]:
num = add(10,220)

In [3]:
print(num)

230

In [4]:
print(c)

NameError: name 'c' is not defined

# Lambda


- anonymous function (function without a name)



syntax
lambda parmeter : expression


### Note:- Lambda can take n number parameters but only one expression

In [5]:
def add(a , b):
    return a+b


add(12,34)

46

In [ ]:
# 2 methods in you lambda

# 1st method

In [6]:
x = lambda a , b: a+b

In [7]:
x(10 , 20)

30

# 2nd method

In [8]:
x = (lambda a , b: a+b)(10,20)
x

30

In [9]:
def odd_even(a):
    if a%2 == 0:
        return 'even'
    else:
        return 'odd'

In [10]:
x = (lambda a: 'even' if a%2 == 0 else 'odd' )(50)
x

'even'

In [ ]:
['2015-07-31' , '2015-07-31' ,'2015-07-31' ,'2015-07-31' ,'2015-07-31' ,'2015-07-31']

In [11]:
a = '2015-07-31'

year = a[:4]

In [12]:
year

'2015'

In [15]:
# 

tem_cel = [0 , 22.4 , 40 , 25 , 32]
tem_far = []


for i in tem_cel:
    tem_far.append((9/5)*i +32)
    
    
print(tem_far)

[32.0, 72.32, 104.0, 77.0, 89.6]

In [16]:
# 

tem_cel = [0 , 22.4 , 40 , 25 , 32]
tem_far = [(9/5)*i +32 for i in tem_cel]  
    
print(tem_far)

[32.0, 72.32, 104.0, 77.0, 89.6]

In [22]:
tem_far = []
tem_cel = [0,22.4,40,25,32]
def tem_conv(a):
    for I in a:
         tem_far.append( (9/5)*I + 32)

tem_conv(tem_cel)
print(tem_far)

[32.0, 72.32, 104.0, 77.0, 89.6]

In [23]:
# lambda

temp_in_cel = [0,32,22.4,40]
temp_in_farh = [(lambda x: x*(9/5) + 32)(i) for i in temp_in_cel]
print(temp_in_farh)

[32.0, 89.6, 72.32, 104.0]

In [ ]:
# map()
- 1. function
- 2. seq


syntax (map(function , iterable))

In [27]:
temp_in_cel = [0,32,22.4,40]

def tem_converter(T):
    return (9/5)* T + 32

In [29]:
list(map(tem_converter , temp_in_cel))

[32.0, 89.6, 72.32, 104.0]

In [25]:
temp_in_cel = 32

def tem_converter(T):
    return (9/5)* T + 32


tem_converter(temp_in_cel)

89.6

In [10]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

list(map(lambda x : x.split('@')[0] , lst))

['akzelxw',
 'elum',
 'akbar.caakaterasu',
 'akarui.kibuno',
 'ajsparkchick',
 'ajmeia',
 'ajhnstn87',
 'ailuvzhoko4',
 'ailuvzhoko3',
 'ailuvzhoko2',
 'ailuvzhoko',
 'aillensiquioco',
 'ahmovic_ines',
 'ahmed_g300',
 'ahmadjazlan',
 'ahmad_ridho19']

In [9]:
a = 'ahmad_ridho19@yahoo.com'

print(a.split('@')[0])

ahmad_ridho19

In [15]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']


list(map((lambda x: x.split('@')[0]), lst))

['akzelxw',
 'elum',
 'akbar.caakaterasu',
 'akarui.kibuno',
 'ajsparkchick',
 'ajmeia',
 'ajhnstn87',
 'ailuvzhoko4',
 'ailuvzhoko3',
 'ailuvzhoko2',
 'ailuvzhoko',
 'aillensiquioco',
 'ahmovic_ines',
 'ahmed_g300',
 'ahmadjazlan',
 'ahmad_ridho19']

In [16]:
num = 50

def function(a):
    if a %2 == 0:
        return 'even'
    else:
        return 'odd'
    
function(num)

'even'

In [20]:
num = [1,2,3,45,6,7,8,89]


def function(a):
    if a %2 == 0:
        return 'even'
    else:
        return 'odd'
    
# lambda 
#lambda a: 'even' if a %2 == 0 else 'odd'
    
list(map(lambda a: 'even' if a %2 == 0 else 'odd' , num))

['odd', 'even', 'odd', 'odd', 'even', 'odd', 'even', 'odd']

In [21]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

In [24]:
mail = 'ahmad_ridho19@yahoo.com'


def name(a):
    return a.split('@')[0]

# lambda a: a.split('@')[0]

name(mail)

'ahmad_ridho19'

In [27]:
list(map( lambda a: a.split('@')[0] , lst))

['akzelxw',
 'elum',
 'akbar.caakaterasu',
 'akarui.kibuno',
 'ajsparkchick',
 'ajmeia',
 'ajhnstn87',
 'ailuvzhoko4',
 'ailuvzhoko3',
 'ailuvzhoko2',
 'ailuvzhoko',
 'aillensiquioco',
 'ahmovic_ines',
 'ahmed_g300',
 'ahmadjazlan',
 'ahmad_ridho19']

# Reduce


- 1. function
- 2. iterable

min , max , avg , sum


### Reduce - accepts only 2 arg

In [28]:
from functools import reduce

In [36]:
# sum
lst = [1,2,3,4,5,6,7,8,8,5,5,7]

reduce(lambda a,b : a+b  , lst)

61

In [ ]:
1,2,3,4,5,6,7,8,8,5,5,7
3,3,4,5,6,7,8,8,5,5,7
6,4,5,6,7,8,8,5,5,7
10,5,6,7,8,8,5,5,7

In [ ]:
lst = [1,2,3,4,5,6,7,8,8,5,5,7]

reduce( lambda a,b : a+b  , lst)

In [38]:
# max

lst = [1,2,3,4,5,6,7,8,8,5,5,7]

reduce( lambda a,b : a if a>b else b  , lst)

8

In [39]:
# min

lst = [1,2,3,4,5,6,7,8,8,5,5,7]


reduce( lambda a,b : a if a<b else b  , lst)

1

In [42]:
# sum
lst = [1,2,3,4,5,6,7,8,8,5,5,7]

def add(a,b):
    return a+b


reduce(add , lst)

94

In [ ]:
# sum
lst = [1,2,3,4,5,6,7,8,8,5,5,7]

reduce(lambda a,b : a+b  , lst)

In [43]:
lst_1 = [1,2,3,4,5]
lst_2 = [6,7,8,9,10]


# c = [7,9,11,13,15]

list(map( lambda a,b : a+b , lst_1 , lst_2))

[7, 9, 11, 13, 15]

# Filter


- 1. function
- 2. seq

- The function should always return bool value 
- The filter will only allow the true elements to pass through it

In [ ]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

In [54]:
num = [1,2,3,34,4,5,6,7,8]

def finder(a):
    if a%2 == 0:
        return True
    else:
        return False
    
list(filter(finder , num))

[2, 34, 4, 6, 8]

In [64]:
num = [1,2,3,34,4,5,6,7,8]

# def finder(a):
#     if a%2 == 0:
#         return True
#     else:
#         return False
    
list(filter(lambda a: a%2 ==0, num))

[2, 34, 4, 6, 8]

In [60]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']


list(filter(lambda a: True if a.split('@')[1] == 'gmail.com' else False,lst))

['elum@gmail.com',
 'akbar.caakaterasu@gmail.com',
 'akarui.kibuno@gmail.com',
 'ajhnstn87@gmail.com',
 'ahmadjazlan@gmail.com']

In [63]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']


list(filter(lambda a:  '@gmail.com' in a ,lst))

['elum@gmail.com',
 'akbar.caakaterasu@gmail.com',
 'akarui.kibuno@gmail.com',
 'ajhnstn87@gmail.com',
 'ahmadjazlan@gmail.com']

# continue Iterator , Modules

In [66]:
a = [23,35,54,65,65,45,65,67]
b = []

for i in a:
    b.append((9/5)*i +32)
    
b

[73.4, 95.0, 129.2, 149.0, 149.0, 113.0, 149.0, 152.60000000000002]

In [67]:
a = [23,35,54,65,65,45,65,67]
b = [(9/5)*i +32 for i in a]
    
b

[73.4, 95.0, 129.2, 149.0, 149.0, 113.0, 149.0, 152.60000000000002]

In [69]:
var = (lambda x: [(9/5)*i +32 for i in x])
var(a)

[73.4, 95.0, 129.2, 149.0, 149.0, 113.0, 149.0, 152.60000000000002]

In [72]:


list(map((lambda x: (9/5)*x +32) , a))

[73.4, 95.0, 129.2, 149.0, 149.0, 113.0, 149.0, 152.60000000000002]

In [73]:
temp_cel = [23,35,54,65,65,45,65,67]
temp_far = (lambda x: [((9/5)*i + 32) for i in x])(temp_cel)
print(list(temp_far))

[73.4, 95.0, 129.2, 149.0, 149.0, 113.0, 149.0, 152.60000000000002]

In [90]:
lst = [22.0,
 38.0,
 26.0,
 35.0,
 35.0,
 17.0,
 54.0,
 2.0,
 27.0,
 14.0,
 4.0,
 58.0,
 20.0,
 39.0,
 14.0,
 55.0,
 2.0,
 17.0,
 31.0,
 17.0,
 35.0,
 34.0,
 15.0,
 28.0,
 8.0,
 38.0,
 17.0,
 19.0,
 17.0,
 17.0]