In [11]:
#Varibale length arguments

#- *args
def add(*args):
    print(args)
    print(args[1])

In [12]:
add(1,2,3)

(1, 2, 3)
2

In [27]:
def add(*args, **kwargs):
    print(kwargs)

In [28]:
add(1,2,3, a = 10, b = 20)

{'a': 10, 'b': 20}

In [7]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [13]:
emp_data = {'emp_1':{'Age': 26 , 'Salary': 901000 , 'Name': 'Salahuddin'},
           'emp_2':{'Age': 27 , 'Salary': 1000000 , 'Name': 'Abhijeet'},
           'emp_3':{'Age': 28 , 'Salary': 1000002 , 'Name': 'Abhishail'},
           'emp_4':{'Age': 29 , 'Salary': 1100000 , 'Name': 'Abhishek'}}

In [15]:
age = int(input('Enter the age of the emp : '))
Salary = int(input('Enter the salary of the emp : '))
Name = input('Enter the name of the emp : ')

key = f'emp_{len(emp_data)+1}'

emp_data.setdefault(key , {'Age': age , 'Salary': Salary , 'Name': Name})

Enter the age of the emp : 10
Enter the salary of the emp : 20
Enter the name of the emp : ad

{'Age': 10, 'Salary': 20, 'Name': 'ad'}

In [29]:
def emm_adder(**new_emp_data):
    key = f'emp_{len(emp_data)+1}'        
    emp_data.setdefault(key ,new_emp_data)
    return emp_data
emm_adder(age = 20, sal = 200, name = 'adity', loc = 'Delhi')

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 10, 'Salary': 20, 'Name': 'ad'},
 'emp_6': {'Age': 20, 'Salary': 200, 'Name': 'adity', 'Location': 'Delhi'},
 'emp_7': {'Age': 20, 'Salary': 200, 'Name': 'adity', 'Location': 'Delhi'},
 'emp_8': {'Age': 20, 'Salary': 200, 'Name': 'adity', 'Location': 'Delhi'},
 'emp_9': {'Age': 20, 'Salary': 200, 'Name': 'adity', 'Location': 'Delhi'},
 'emp_10': {'Age': 20, 'Salary': 200, 'Name': 'adity', 'Location': 'MUmbai'},
 'emp_11': {'age': 20, 'sal': 200, 'name': 'adity', 'loc': 'Delhi'}}

In [30]:
emm_adder(age = 20, sal = 200, name = 'adity', loc = 'MUmbai 1')

{'emp_1': {'Age': 26, 'Salary': 901000, 'Name': 'Salahuddin'},
 'emp_2': {'Age': 27, 'Salary': 1000000, 'Name': 'Abhijeet'},
 'emp_3': {'Age': 28, 'Salary': 1000002, 'Name': 'Abhishail'},
 'emp_4': {'Age': 29, 'Salary': 1100000, 'Name': 'Abhishek'},
 'emp_5': {'Age': 10, 'Salary': 20, 'Name': 'ad'},
 'emp_6': {'Age': 20, 'Salary': 200, 'Name': 'adity', 'Location': 'Delhi'},
 'emp_7': {'Age': 20, 'Salary': 200, 'Name': 'adity', 'Location': 'Delhi'},
 'emp_8': {'Age': 20, 'Salary': 200, 'Name': 'adity', 'Location': 'Delhi'},
 'emp_9': {'Age': 20, 'Salary': 200, 'Name': 'adity', 'Location': 'Delhi'},
 'emp_10': {'Age': 20, 'Salary': 200, 'Name': 'adity', 'Location': 'MUmbai'},
 'emp_11': {'age': 20, 'sal': 200, 'name': 'adity', 'loc': 'Delhi'},
 'emp_12': {'age': 20, 'sal': 200, 'name': 'adity', 'loc': 'MUmbai 1'}}

In [ ]:
# Global and local Variable

In [1]:
def palindrom(a):
    if a == a[::-1]:
        return 'yes'
    else:
        return 'no'

str = input('Enter string : ')
if palindrom(str) == 'no':
    new_str = input('Do you want to enter new string : ')
    if new_str == 'yes':
        if palindrom(new_str) == 'yes':
             'yes' 
        else:
             'no'

Enter string : abc

SyntaxError: 'return' outside function (2712223294.py, line 12)

In [ ]:
palindrom('level')